[2020-02-27 09:53] #779 closed, assigned to sturobson

[2020-02-27 14:07] kasprzyk-sz opened #782 "vf-wp-news: vf-inlay grid issue at 1024px"
As on attached screenshot.

![Screenshot 2020-02-26 at 14 37 43](https://user-images.githubusercontent.com/54020899/75452329-67276400-5972-11ea-92a4-91cba0439da1.png)

Solution by @khawkins98:

`.vf-inlay__content--additional {
  grid-column: 2 / -2; }
  @media (min-width: 600px) {
    .vf-inlay__content--additional {
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      grid-col

[2020-02-27 16:56] sturobson commented on #782
Some thoughts…

I think this is more an issue of trying to bend vf-grid to do something it wasn’t initially designed to do

Is this a layout purely for the news page or has this got designs for several other pages.

As with the sidebar that’s used in the training pages — there’s nothing wrong in having components/layouts that are of the design system but not part of the component library code base

[2020-03-04 09:35] khawkins98 commented on #751
Picking up on https://github.com/visual-framework/vf-core/pull/785#discussion_r387543577

Another option would be to use JS, where we need SVGs we could:

1. Add `data-vf-add-this-icon-here`
2. Component `vf-icons-whatevername` picks up on that data attribute
3. Injects the SVG inline

This would:

1. keep the HTML clean
2. not result in extra HTTP requests (the SVG inline code could be in the min

[2020-03-08 11:18] khawkins98 opened #788 "Design tokens: Grey is lighter than grey light?"
`ui-color--grey` is lighter than `ui-color--grey--light` This seems off and I'm guessing unintended?

https://github.com/visual-framework/vf-core/blob/6759c69b88706eb55bed405dd5799f57fa60fef3/components/vf-design-tokens/src/core.palette.alias.yml#L64-L65

[2020-03-08 11:19] sturobson commented on #788
Ah, for UI colours - yes - this is more than likely an unintended error.

[2020-03-08 11:20] khawkins98 opened #789 "UI colours missing from Design token documentation"
Spotted when looking in #788, the vf-ui-* colours are missing from the docs at https://visual-framework.github.io/vf-core/components/detail/vf-design-tokens--colours.html

[2020-03-08 11:33] sturobson commented on #789
I've been wanting to take a look a the docs for design tokens and utility classes for some time.

We're missing border radius (and links potentially) for the design tokens, and we should probably look to start adding more things now - like animation and elevation (z-index) too.

I've always thought it would be nice to some how hide the 'code example' and other parts of the document page for things

[2020-03-10 08:42] khawkins98 commented on #746
Fixed in #786

[2020-03-10 08:42] #746 closed, assigned to khawkins98

[2020-03-19 11:38] khawkins98 opened #804 "Bug/enhancement: Be more portable with NJK templates"
When using the Nunjucks templates, different environments handle `context` differently.

So far we've seen difference between Eleventy and WP's Gutenberg (React):

https://github.com/visual-framework/vf-core/blob/2ab60bb0e5abbf7c2b8e1d1c52ac9128864bce60/components/vf-box/vf-box.njk#L3-L6

This causes issues in WP as there's no easy way to set `context` or pass `field: { box: field_name }`

An impr

[2020-03-19 12:06] sturobson commented on #804
[code]

Might be a good stop-gap to get into `vf-core` now and update?

[2020-03-19 13:23] khawkins98 commented on #804
I can't see much of a downside to it.

[2020-03-19 13:25] sturobson commented on #804
I'll switch gears and get this into `vf-box` and any other components I started adding this too.

[2020-03-19 15:22] sturobson opened #806 "investigate using nunjucks templating and macros"
Now that we are making more use of the programmatic possibilities of using nunjucks to have one component that can take all design, theme, and context variants some of the component files are getting on the rather large side. Large enough that they could be a little confusing.

I did look at using the macro templating possibilities with nunjucks a while back with button. it led to a 'nice and clea

[2020-03-20 09:38] #804 closed, assigned to nobody

[2020-03-21 12:06] khawkins98 opened #808 "chore: add `vf-breadcrumbs-lookup-example.njk`"
The current `vf-breadcrumbs-lookup.njk` includes the rendering of the meta tags which makes it not useful in most production environments.

We can improve this by moving that code to an `-example.njk`

- [x] create `vf-breadcrumbs-lookup-example.njk`
- [x] Remove
[code]

[2020-03-21 12:09] khawkins98 opened #809 "bug: embl-content-hub-loader results in errors in some conditions"
If components like vf-tabs and embl-notifications aren't present, `embl-content-hub-loader` results in JS errors:

![image](https://user-images.githubusercontent.com/928100/77226011-00fabf00-6b75-11ea-85bb-a005d6b51683.png)

The `typeof` isn't cutting it:

https://github.com/visual-framework/vf-core/blob/ddbc2c97026c4e38b8cc7f373690c4167241950e/components/embl-content-hub-loader/embl-content-hub-l

[2020-03-21 12:10] khawkins98 commented on #809
Perhaps this is as it needs `()`s:

https://github.com/visual-framework/vf-core/blob/ddbc2c97026c4e38b8cc7f373690c4167241950e/components/embl-content-hub-loader/embl-content-hub-loader__fetch.js#L174-L176

[2020-03-21 12:29] sturobson opened #810 "INVESTIGATE: Sass Versioning"
We are already versioning components using Lerna but this might be a good addition for revealing potential bugs from version mistmatches, or missing packages and exposing them in the cli which would/could mitigate potential issues being raised.

With Lerna, it should be a case that this is not needed as the components should make sure they’re pulling in any other required packages as a matter of c

[2020-03-21 12:29] sturobson commented on #810
A handy link would help to the Sass framework for versioning

https://github.com/dominikwilkowski/sass-versioning

[2020-03-23 12:55] khawkins98 opened #813 "Enhancement: add alignment options for vf-figure"
We need the ability to left/right float figures in text.

Something like `vf-figure__left`

Would also need:

- Some spacing around the image. ([perhaps similar to WP](https://codex.wordpress.org/CSS#WordPress_Generated_Classes))
- Probably responsive compatibility (no need to float beneath a certain size)

For the moment we can skate past with utility classes but that won't be very consistent or

[2020-03-23 13:29] sturobson commented on #813
I recall discussing this with @dbushell - I cannot see an issue raised for it though. I think the idea was to replicate what floating options WP gives but with classnames (as outlined in the above opening comment).

[2020-03-23 13:29] khawkins98 commented on #813
Yeah, i thought there was an issue too, but couldn't find it

[2020-03-26 10:27] sturobson opened #816 "vf-figure__image missing max-width: 100%"
since removing a a CSS reset it looks like there's the odd bug that's passed through the crack.

- [ ] investigate all `__image` elements to see if they need this CSS rule
- [ ] add the rules, as needed
- [ ] ship it

[2020-03-27 09:59] khawkins98 opened #818 "Component: auto anchor links + table of contents"
[As discussed on Slack]

Building off the [`vf-links-list` "On this page" navigation](https://visual-framework.github.io/vf-core/components/detail/vf-link-list--easy.html#is-active) we'd like to:

- automatically generate anchor links
- put those into a table of content

Won't look like anything, mostly JS. Perhaps it could live inside the vf-links-list component.

There is some code we can use:

[2020-03-27 10:02] sturobson commented on #818
This would also

- rely on good content structure, which can be aided by guidelines/documentation.
- do absolutely nothing if the JavaScript doesn't load.

[2020-03-27 10:08] sturobson commented on #818
We should also seek guidance from content editors as to where this is best placed which, again would rely on content structure. Of course, this could potentially be a `vf-wp` block that's added into the page content? So the authors can decide where it should go.

[2020-03-30 06:24] khawkins98 commented on #395
Spotted [this in Abstract](https://share.goabstract.com/7db0f437-aaf1-46fb-a6ad-d02e6f1d3245), where Mark had done some designs for me any of these:

![More patterns](https://user-images.githubusercontent.com/928100/77881740-e05ef300-725f-11ea-90fd-de052e512e93.png)

[2020-03-30 12:18] sturobson opened #820 "vf-form refactor"
Thins that I'd like to include in a refactor of `vf-form--` elements, this list is likely to see additions

- [x] remove floating label JavaScript
- [x] update form label style
- [x] create `vf-fieldset` similar to [this issue](https://github.com/visual-framework/vf-core/issues/762)
- [x] create -vf-legend` similar to [this issue](https://github.com/visual-framework/vf-core/issues/762)
- [x] spaci

[2020-03-30 12:28] sturobson commented on #820
Can be tracked here – #821

[2020-04-02 08:25] khawkins98 opened #824 "Feature: Add interactive debug command"
We're starting to see some common issues and have already made a [development FAQ](https://latest.visual-framework.dev/troubleshooting/) but one better would be an interactive `gulp vf-troubleshoot` that:

- [ ] Prompts you to check https://stable.visual-framework.dev/troubleshooting/
- [ ] Checks that `vf-core-components` is still a symlink
- [ ] Checks node, yarn versions
- [ ] Sees if `npm inst

[2020-04-03 08:08] sturobson opened #826 "ENHANCEMENT - replace grid/grid-row/grid-column-gap with gap/column-gap/row-gap"
It appears that `grid-gap`, `grid-column-gap`, and `grid-row-gap` are [being deprecated (see note)](https://developer.mozilla.org/en-US/docs/Web/CSS/gap) for just 'gap` and variations there of.

This is also inline with when `display: flex` has `gap` supported in all browsers (currently only in Firefox).

I think this is a good 1st PR for someone or a quick task to fill the void when time arises.

[2020-04-03 08:25] khawkins98 commented on #727
Footnote: there was some related thinking about summary images at #759 (The one where we refactor the summary component)

[2020-04-03 18:30] sturobson opened #831 "BUG: vf-form components get some additional styles in iOS/iPad"
I was just looking at the component library on my iPad and have noticed:

`vf-input—text` has slightly rounded corners and an inner shadow.
`vf-input—textarea` has slightly rounded corners and an inner shadow

[2020-04-07 18:24] khawkins98 commented on #728
Would be good if we can pick this "easy win" back up as it would help us close https://gitlab.ebi.ac.uk/emblorg/backlog/issues/284

Screencap of the current issue:

![image](https://user-images.githubusercontent.com/928100/78705411-b6679980-790d-11ea-8047-7f8a1f696266.png)

[2020-04-07 18:51] sturobson commented on #728
Yes! As the footer is going to be the grey - I wonder if the GDPR banner could be a lighter shade. To really separate it.

[2020-04-08 18:45] khawkins98 opened #840 "Bug: vf-button--sm being overset by vf-button--icon"
Looks like the new `.vf-button:not(.vf-button--icon)` is over-specificity-ing `.vf-button--sm`.

https://visual-framework.github.io/vf-core/components/preview/vf-button--small.html

![image](https://user-images.githubusercontent.com/928100/78821382-b0d78580-79d9-11ea-86e6-9328ca953b75.png)

[2020-04-09 19:59] khawkins98 commented on #840
The outline button text is white and effectively invisible, this seems to be the same specificity issue.

https://visual-framework.github.io/vf-core/components/preview/vf-button--outline.html

![image](https://user-images.githubusercontent.com/928100/78935640-69222e00-7aad-11ea-80a4-03073eba7f97.png)

[2020-04-10 13:39] #726 closed, assigned to nobody

[2020-04-10 15:28] #840 closed, assigned to sturobson

[2020-04-10 15:28] #831 closed, assigned to sturobson

[2020-04-11 13:03] #816 closed, assigned to sturobson

[2020-04-11 13:03] #728 closed, assigned to nobody

[2020-04-11 13:03] #665 closed

[2020-04-14 05:24] khawkins98 opened #851 "RELEASE - VF 2.0 core stable"
We've been on a `rc` for [some time](https://github.com/visual-framework/vf-core/releases) for VF Core and don't have any bug fix work planned, so it's a good time to cut the stable release of the Core.

It will be a good landmark and allow us to focus on [our roadmap features](https://github.com/visual-framework/vf-roadmap/projects/1), like [resturcturing the component browser](https://github.com

[2020-04-14 08:57] sturobson opened #852 "ENHANCEMENT - vf-table"
The below is not exhaustive and is taken from #830 so that we can at least ship some basic `vf-table` structure and styles.

- [ ]  documentation
- [ ]  what to do with numerical data styling
- [x]  sort fixed header styles
- [x]  vf-table__footer element
- [ ]  better example data in the .yml file.

[2020-04-14 08:58] #826 closed, assigned to nobody

[2020-04-14 12:45] khawkins98 opened #854 "CHORE: Bullet wrapping should be "outside" on Links List: Very Easy"
Noticed on https://wwwdev.embl.org/partnerships/ the [Links List: Very Easy](https://visual-framework.github.io/vf-core/components/detail/vf-link-list--very-easy.html) bullets wrap under:

![image](https://user-images.githubusercontent.com/928100/79225735-777d9a80-7e5d-11ea-8669-d31311a6a9c2.png)

Would be better as:

![image](https://user-images.githubusercontent.com/928100/79226305-6f722a80-7e5e

[2020-04-14 12:52] sturobson commented on #854
good catch!

[2020-04-15 12:49] gabsie opened #856 "Table component required in VF"
Needed for these occasions:
https://invis.io/PAWQQBPYXW5#/413504329_Sequences_-_Projects
https://chanzuckerberg.invisionapp.com/share/DMWL3W8FG42#/413516442_4-1-1_Contribute-My_Projects_Copy_2

Additionally, I need:
 - sorting arrows
 - proper checkboxes
 - and following - ability to do bulk actions with selected things from the table, so similarly to the bulk download presented, however there may

[2020-04-15 12:54] sturobson commented on #856
Hey!

We have made a quick start on tables which are currently available (to look at) on [this page of the component library](https://visual-framework.github.io/vf-core/components/detail/vf-table.html).

We are hoping to push the necessary code to NPM today/tomorrow so that they can start to be used as they currently are.

I'll take a look at your other requirements you've mentioned that we don't

[2020-04-15 12:58] gabsie commented on #856
Perfect, Stu!

I think I missed a major one in the original request - we need some action links, and possibly statuses
I'll add them there! Thanks!!!

Gabs

[2020-04-15 13:14] #788 closed, assigned to nobody

[2020-04-15 13:14] #789 closed, assigned to nobody

[2020-04-15 13:15] #854 closed, assigned to nobody

[2020-04-15 13:25] #724 closed, assigned to sturobson

[2020-04-15 14:34] sturobson commented on #852
@gabsie I did a quick prototype in code of what some of the interactive things could look like… here's a screenshot

![Screenshot 2020-04-15 at 15 31 53](https://user-images.githubusercontent.com/925197/79349727-81230300-7f2e-11ea-8ec0-7261a05fc7a6.png)

[2020-04-15 14:58] gabsie commented on #852
@sturobson and @khawkins98  - can we have the design for checked boxes be a bit more familiar? ()
I don't know how established the filled checkboxes are already... :) but I think Ken also suggested once the more common check (similar to gov uk ones etc)
:) Sorry!

And Stu - the selections should drive some additional bulk action... which I have been wondering where to place..

Gabs

[2020-04-16 05:29] khawkins98 commented on #808
Fixed in #838

[2020-04-16 05:29] #808 closed, assigned to khawkins98

[2020-04-16 10:26] #851 closed, assigned to nobody

[2020-04-16 21:36] khawkins98 opened #862 "BUG - embl-breadcrumbs-lookup inference uses wrong label"
When one of the three who/what/where ancestors is left off, `embl-breadcrumbs-lookup` tries to infer. It seems to be finding the right ancestor but uses the wrong label:

Example:

[code]

Results in a `who` crumb of:

![image](https://user-images.githubusercontent.com/928100/79509046-0c89ba80-803b-11ea-95cc-074b2cfae345.png)

Medium priority as this only occurs when an omission is present.

[2020-04-20 12:21] sturobson opened #875 "COMPONENT - blogpost 'tags'"
The article pages on www.embl.org/news have a section for relevant article tags to help people springboard to different related content. As this is quite a standard component I think it is ripe for creating in `vf-core`.

This could be a riff off of `vf-links-list` as it's essentially a list of links.

The current markup is also a little `<div>` heavy so this will help clear that up, and as it's p

[2020-04-20 12:26] sturobson opened #876 "COMPONENT - Social Media Icons"
I think it's time to standardise the set of social media icons we are using across sites that make use of `vf-core`.

On www.embl.org/news we can see two different styles of icons on a page. Within systems this should really be the same to avoid confusion.

This icons do do different things (tweet the article, or go to the embl twitter) but I think the location is enough to denote that context so

[2020-04-20 13:17] sturobson commented on #876
at the end of the day it doesn’t really matter which icons are used - but there should be some consistency:

- In the ‘follow us’ section we icons inside a square except for instagram and have a hover effect
- In the ‘share this article’ icon set they are in circles, are coloured, and do not have a hover effect

As we have the streamline icon set we should use those as the starting point. To make

[2020-04-20 13:29] sturobson commented on #876
What this issue is raising is the need to:

- create a component so that we can have ‘vf-social-icons’ (for example) that can be used throughout the myriad of EMBL/EBI properties.
- make use of the existing icons from the icon set we had agreed upon (streamline).

As you can see from the screenshot of streamline icons or from - https://app.streamlineicons.com/streamline-bold/logos - they are simpl

[2020-04-22 10:01] sturobson opened #877 "investigate inline text elements and their styling"
Discussed in Slack.

There are several inline text elements that we have not looked at to see if they need any additional styling over what they inherit from the element they're inside of and what the browser defaults give us for free.

I do not think we need to give each inline text element it's own component class, `vf-sup` for example.

We could probably get away with using the class attribute

[2020-04-22 10:03] sturobson commented on #877
Some of the inline text elements are used because they are dictated from the content style guide.

Perhaps we need a 'typography' documentation page to explain why this/that/the other inline text element is doing something or not _as well as_ having the content style guide as part of a larger 'design systems' documentation site.

[2020-04-22 10:13] sturobson opened #878 "COMPONENT - A Search Results Page"
With the launch of the [Covid 19 Portal](https://www.covid19dataportal.org) and with the [jobs page](https://www.embl.org/jobs/) live too - we should think to standardise the search results pages so they have, at least, they're name spacing.

The Covid 19 Portal results have some fun things that could be addressed and standardised to meet the system.

[2020-04-22 14:26] sturobson opened #881 "BUG - IE11 does not support calc() inside of the flex property."
In `vf-grid` we make use of `calc()` to determine the size of components for browsers that do not support CSS grid (oh, hello IE11).

We need to 'hard code' the values for when we want 2, 3, 4, 5, or 6 column grids.

[2020-04-24 08:29] sturobson opened #883 "vf-hero scrolls over vf-banner (GDPR)"
As mentioned by @sandykadam in https://github.com/visual-framework/vf-wp/issues/236 - there is an issue with `z-index`.

We could also scoop up the very old #19 as @khawkins98 mentions.

[2020-04-27 09:31] #862 closed, assigned to khawkins98

[2020-04-27 11:12] #883 closed, assigned to sturobson

[2020-04-27 11:13] #881 closed, assigned to sturobson

[2020-04-28 06:17] khawkins98 opened #887 "ENHANCEMENT - Add vf-table support to vf-content"
This came up last week, capturing it here too.

- [ ] We need a table default when using `.vf-content table`, probably the striped look a that's best for "general-purpose text"
- [ ] That look should be overridable; example: "I have a table inside vf-content I want to be compact" `.vf-content .vf-table.vf-table--compact`

Random notes/thoughts:

-  I think the above pretty consistent with the `.vf

[2020-04-28 07:59] sturobson commented on #887
We should be able to get around some of the design things that classes bring to tables by using good ol' specificity in HTML elements `tr > th { /* make the heading in a row bolder */ }`

I think there could be a need for a `vf-table` block for some things though -- perhaps a little bit of research into existing articles with tables to see what's going on would help

[2020-04-28 07:59] sturobson commented on #887
I think it should be the striped variant at least - as it could be an easier reading experience

[2020-04-29 05:19] khawkins98 opened #891 "DEVELOPMENT - Add tips on error"
When running `gulp dev` or `gulp vf-dev` there can be any number of errors, many of which are common issues.

We already have a common solutions doc, but it's easy to not know about it or forget. We should add it to the logs.

Ideally on ` if (exit == failure) {`  but we could also settle to adding it to the start of every run.

Something like:

[code]

[2020-04-29 07:32] #887 closed, assigned to sturobson

[2020-04-29 08:39] #876 closed, assigned to sturobson

[2020-04-29 08:40] sturobson commented on #852
The first iteration of this is now in `vf-core` as it's own usable table as well as a paired down version that can be used in `vf-content` that doesn't require additional HTML classes to be added.

[2020-04-29 08:40] #852 closed, assigned to sturobson

[2020-04-29 08:40] #856 closed, assigned to nobody

[2020-04-29 08:47] sturobson commented on #806
dear reader, it is a good idea - but you can quickly add too much logic to a component which might be better split off to two separate components.

Therefore I suggest we stick with what we are currently doing and look to decide if an additional variant is a variant or it's own little component.

[2020-04-29 08:47] #806 closed, assigned to sturobson

[2020-04-29 11:37] sturobson commented on #573
This should be resolved now as we make decisions on colour in `vf-box` so a link would have the `currentColor` of the `vf-box` that has been defined in `vf-box-theme--primary/seoncdary/tertiary`

Closing this as it should be fixed (and appears to be on a quick test of the HTML provided) and it's v. v. old.

Please open again if there are other related issues

[2020-04-29 11:37] #573 closed

[2020-04-29 11:47] sturobson commented on #813
We can close this as it's PR'd in #890

[2020-04-29 11:47] #813 closed, assigned to sturobson

[2020-04-29 11:50] sturobson commented on #607
This has been started in #865

[2020-04-29 14:11] #641 closed

[2020-04-29 14:11] #756 closed, assigned to sturobson

[2020-04-29 14:30] sturobson commented on #526
I'm closing this as the `vf-navigation` component has been redesign and recoded to match and there is no active state - I think the expectation is for the use of `vf-breadcrumbs` to guide the user as to where they are on the site.

[2020-04-29 14:30] #526 closed

[2020-04-29 14:36] sturobson commented on #762
@khawkins98 I think we can close this? #821 introduced a field sets and legends

[2020-04-29 15:21] sturobson commented on #782
So, we don't need to use `vf-inlay` for this grid at all - we have the primitives available with `vf-grid` … and it could give better spacing/sizing consistency too.

I'll try and raise a PR in `vf-wp` that will change this.

[2020-04-29 15:23] sturobson commented on #782
![Screenshot 2020-04-29 at 16 22 33](https://user-images.githubusercontent.com/925197/80613839-ab4be900-8a35-11ea-9a8f-cbc9d02b9a7c.png)

- less mark up
- less `vf-wp` context specific requirements in CSS
- same amount of utility classes (🤦)

[2020-04-29 15:32] sturobson opened #895 "vf-navigation improvements"
the new 'levels of fanciness' for navigation mean that several levels do not have `:hover` or `:focus` states. We should introduce these, probably with `text-decoration: underline`.

We could then include the `is-active` class state too that was reference in #526

[2020-04-29 18:13] khawkins98 commented on #782
Nice. As discussed in Slack: would be good (on first thinking) if we could phase out vf-inlay

[2020-04-29 18:16] khawkins98 commented on #895
This will revisit if we do `.vf-navigation__link.is-active` or `.vf-navigation__link.vf-navigation__link__is-active` (like `vf-form__is-active`)

The purist in me still wants the later, but it's a bit mad.

Either way, I don't think we have a documented policy on these standard modifiers and why they get exempted from the "everything must be prefixed".

[2020-04-29 18:19] khawkins98 opened #896 "QUESTION - Settle on a common state hook approach"
Spurred on by https://github.com/visual-framework/vf-core/issues/895#issuecomment-621378605, we need a documented policy on these standard "CSS state hooks" like `.is-active` and if they get exempted from the "everything must be prefixed".

A quick find in the monorepo gives:

- .vf-pagination__item--is-active
- .vf-tabs__link.is-active
- .vf-form__is-active

There are probably others.

We could a

[2020-04-29 18:21] khawkins98 commented on #896
Other common ones:

- is-active
- has-loaded
- is-loading
- is-visible
- is-disabled
- is-expanded
- is-collapsed

via https://github.com/chris-pearce/css-guidelines#state-hooks

[2020-04-29 18:22] khawkins98 commented on #896
`PBEMS`

Prefix Block Elem Modifier State 🤮

[2020-04-30 07:59] khawkins98 commented on #762
Yeah, may be more needs in the future (as with everything), but I think we're more than good for now.

[2020-04-30 07:59] #762 closed, assigned to nobody

[2020-04-30 08:19] sturobson opened #897 "vf-global-header needs horizontal padding"
![Screen Shot 2020-04-30 at 09 19 02](https://user-images.githubusercontent.com/925197/80688420-a766a800-8ac3-11ea-8826-1f54f518d08a.png)

[2020-04-30 08:26] sturobson commented on #897
This is a bug in the CSS for embl.org

https://gitlab.ebi.ac.uk/emblorg/static-html-pages/blob/master/src/components/emblstatic-homepage/emblstatic-homepage.scss#L311

[2020-04-30 08:27] sturobson commented on #897
a PR has been created for this - so we can close this issue

https://gitlab.ebi.ac.uk/emblorg/static-html-pages/merge_requests/295

[2020-04-30 08:27] #897 closed, assigned to sturobson

[2020-04-30 12:06] sturobson opened #898 "some edits for vf-embed to make it more adaptable"
As asked for in #893

There's some feedback for the `vf-embed` component that would improve it's usability in WordPress (and probably everywhere else, as needed, too.

from @dbushell

<img width="279" alt="vf-embed-settings" src="https://user-images.githubusercontent.com/925197/80708199-2b7c5800-8ae3-11ea-9a6b-8c78aadf0047.png">

As a component library vf-core completely agrees with the sentiment

[2020-05-01 09:53] sturobson opened #901 "GDPR banner in IE11 needs a better fallback."
![image](https://user-images.githubusercontent.com/925197/80797528-fc74ed80-8b99-11ea-8fbe-6da564d6f247.png)

[2020-05-01 11:53] sturobson commented on #901
...taking a look at this.  We can actually remove CSS grid from this component and use `display: grid` and some `max-width:` to get support in IE11.

It's 'simpler' code.

I think this component could do with a better refactor now that we have `vf-u-fullbleed` to do 'colour bands' that are full width, but this would need a breaking change.

I suggest doing the 'simpler code' fix now and release -

[2020-05-04 08:11] #898 closed, assigned to sturobson

[2020-05-04 10:09] sturobson opened #903 "vf-figure alignment and sizing tweaks"
As mentioned in [#85](https://github.com/visual-framework/vf-wp/issues/85) on the `vf-wp` repo there's a need for the `vf-figure` to not only `float` to `inline-start/end` but also be centred.

There's also an issue with `vf-figure` defaulting to a width of 100%.

[2020-05-05 06:48] sturobson opened #905 "semantic versioning"
document what is a major/minor/patch release for a component library.

[2020-05-05 06:54] #903 closed, assigned to sturobson

[2020-05-05 08:14] sturobson opened #906 "allow banners to have different button themes"
As reported from EBI - the `vf-banner` fixed, top variant has a secondary themed button - we should allow this to be changeable to primary/tertiary.

[2020-05-05 08:15] sturobson commented on #906
This needs to be changeable using nunjucks and the `[data-` attributes.

[2020-05-06 08:05] #906 closed, assigned to sturobson

[2020-05-06 08:06] #758 closed, assigned to sturobson

[2020-05-06 09:27] sturobson opened #909 "spelling error in `vf-banner` documentation"
tertiay should be tertiary

[2020-05-06 12:25] sturobson opened #910 "make vf-card a better linkable component"
In the midst of trying to fix up better markup for the embl.org news grid container it would be to get an enhancement on the `vf-card` component to allow for a better, more accessible way to make the whole thing a link.

[2020-05-06 12:26] sturobson commented on #910
This will probably be a breaking change.

[2020-05-06 13:20] esanzgar opened #911 "'foreround' is misspelled"
It should probably be 'foreground' 😉

https://github.com/visual-framework/vf-core/blob/b58bf4f9afadc75247e292168846420593b06ebb/components/vf-masthead/vf-masthead.scss#L16-L103

[2020-05-06 13:35] sturobson commented on #911
Thanks @esanzgar!

At least it was a find–and–replace so the custom property is consistent inside the `vf-masthead`.

I'll fix this up now.

[2020-05-06 13:41] #911 closed, assigned to sturobson

[2020-05-07 08:05] sturobson opened #913 "vf-grid enhancements"
add:

- row utility classes
- add `row-gap` spacing

[2020-05-08 06:00] khawkins98 opened #914 "COMPONENT - Definition list"
Definition lists are quite useful in the right place, we should support them.

The vanilla HTML styling is rubbish:

![image](https://user-images.githubusercontent.com/928100/81375332-96401b80-9101-11ea-814d-50843379958d.png)

Here's a simple placeholder look:

![image](https://user-images.githubusercontent.com/928100/81375398-b7087100-9101-11ea-9fb8-01a2623e79c2.png)

[code]

Request:

- [ ] a "`

[2020-05-08 06:45] sturobson commented on #914
nice, I'd think, to match existing (as yet undocumented practices) it could be something more like:

[code]

[2020-05-08 06:53] khawkins98 commented on #914
👍

[2020-05-08 08:12] sturobson commented on #914
We would also need a

[code]

[2020-05-11 08:55] khawkins98 commented on #727
Resurrecting this one which is a follow up to the EMBL.org homepage launch:

![image](https://user-images.githubusercontent.com/928100/81543073-e4f5eb80-9375-11ea-9371-0495dddd31d0.png)

https://stable.visual-framework.dev/components/vf-summary/#vf-summary--news-has-image

[2020-05-11 08:56] sturobson commented on #727
similar to #910 … which I'm working on/

[2020-05-11 16:00] khawkins98 opened #916 "ENHANCEMENT - Tighten up vertical spacing on vf-intro"
A recurring theme in feedback has been there's "too much space" under the vf-intro.

I think this goes beyond a typical fear of whitespace and reflects that many users are browsing with either lower resolution desktops, or effective lower resolutions on hidpi devices. (spacing on mobile devices being a slightly different consideration with touch scroll vs mouse scroll).

(I think this was also an

[2020-05-11 17:09] sturobson commented on #916
Perhaps we need to make the logo smaller

[2020-05-11 17:54] sturobson commented on #916
Actually. On this page the logo should be smaller.

[2020-05-12 07:40] sturobson commented on #916
Another thing with this is the idea that the parent should be distributing the space on the component rather than the component doing it itself.

This way, in another scenario, we could have `vf-intro` extremely close to the next container or far apart.

[2020-05-12 09:38] sturobson opened #917 "remove CSS grid from vf-body"
Similar to what we did with `vf-grid` and `embl-grid` we could do with removing any CSS grid enhancement that is applied to `vf-body` and give it `max-width` instead.

benefits:

- as there is no CSS grid there is no need for a fallback for IE11 and older browsers
- we (still) don't need to rely on `vf-body` as `vf-grid`, `embl-grid` and some containers work without grid.
- means elements don't ne

[2020-05-12 09:39] sturobson opened #918 "remove horizontal padding on vf-breadcrumbs"
As we are moving away from using CSS grid for centering of content in a viewport that is wide enough there's a little bit of padding left and right that needs removing

[2020-05-12 12:33] sturobson opened #919 "vf-hero enhancements"
there's a branch that updates `vf-hero` to include the parallax version that's available on embl.org … this needs to be checked and a PR raised to merge it into `develop`

[2020-05-13 06:35] khawkins98 commented on #919
I think that's an artefact from #715.

As it's not something we want people to be using outside of the EMBL.org landing pages, it's best to not put it in the npm version of vf-hero.

[2020-05-13 06:37] khawkins98 commented on #916
Yeah, I think that's it. There are some cases when the extra spacing looks really good, but in many places the extra padding on vf-intro makes the page look truncated on non-large screens.

[2020-05-13 09:31] sturobson commented on #919
I'm thinking it does need to be a part of the nam package but with clear use/don't use documentation.

My worry is, if the component changes, without having `--extreme` version available to test at a component library, it could quite easily blow up on a site - which would lead to questions and investigations that could just be saved with a simple **"This is EMBL landing pages only"**

We could inc

[2020-05-13 13:42] sturobson opened #920 "refactor vf-banner template"
From @dbushell in Slack

[2020-05-14 14:57] khawkins98 commented on #918
+1 for this

[2020-05-14 14:59] sturobson commented on #918
I noticed a couple more instances where it just looks awkward now with the latest decisions made after the last design exploration.

[2020-05-14 15:15] #920 closed, assigned to sturobson

[2020-05-15 08:06] khawkins98 opened #922 "vf-navigation isn't responsive"
The [vf-navigation--main](https://visual-framework.github.io/vf-core/components/detail/vf-navigation--main.html) (and similar) don't respond to the viewport size, causing screen smaller than the nav width to horizontal scroll.

![image](https://user-images.githubusercontent.com/928100/82026729-707fbd00-9693-11ea-946a-b7f8dd4522a9.png)

Visible on:

- https://visual-framework.github.io/vf-core/comp

[2020-05-15 08:14] sturobson commented on #922
We never got around to formalising what would happen on mobile (small viewports) with navigation - I recall it being discussed - I think the move to the new design exploration layouts removed some of the original CSS I had in place to 'make up' for the lack of design in older versions.

I'll dig it out and see what we can do.

(that's a lot of navigation)

[2020-05-15 08:20] sturobson commented on #922
I think that this would be a better experience?

https://iamsteve.me/blog/entry/horizontal-scrolling-responsive-menu

rather than - taking up all that whitespace with a blocked list or throwing it behind a 'hamburger' menu.

[2020-05-15 08:38] khawkins98 commented on #922
+1 for trying the horiz scrolling for the site nav; good for a few reasons in my view:

- as you point out: doesn't eat up all of the screen
- simplifies questions around spacing when stacked
- encourages content owners to minimise number of links as the "extra" go off-screen

It might raise questions/concerns, but I feel like it's a more sustainable path. I've also seen some other implementations

[2020-05-15 08:40] sturobson commented on #922
One concern I have for things like this is  – "do you need that much top level navigation?"

[2020-05-15 08:41] khawkins98 commented on #922
They don't need it, but it has to be there. :/

[2020-05-15 08:41] sturobson commented on #922
for example - is home not better placed as making "EMBL Communications" linkable to the 'home'?

on mobile it might be confusing too - is that home to the top level or home to the embl comms level

[2020-05-15 08:43] khawkins98 commented on #922
Yeah, good point. I can't recall why Mark advocated for "home" there. Perhaps the nav structure has changed in the interim.

[2020-05-15 12:47] sturobson opened #926 "vf-summary--profile avatar image size difference irl"
note how Mathias' avatar is larger than the default icon

https://wwwdev.embl.org/press/

[2020-05-15 13:02] khawkins98 commented on #926
Might also be a chance to sneak in a fix to the long emails breaking layout.

https://wwwdev.embl.org/groups/dummy-embl-group/members/

![image](https://user-images.githubusercontent.com/928100/82053015-eea48980-96bc-11ea-9a09-ba47421b72f7.png)

We previously discussed `word-break: break-word;` being the best of mediocre solutions.

[2020-05-18 08:05] #913 closed, assigned to sturobson

[2020-05-18 13:29] sturobson opened #930 "remove CSS grid from `vf-body`"
remove all of the CSS grid code from `vf-body` and adding left/right padding

[2020-05-18 13:30] sturobson opened #931 "vf-footer and vf-u-fullbleed border"
add border to `vf-u-fullbleed` when it's used with `vf-footer`

[2020-05-18 13:31] sturobson opened #932 "vf-hero ::before to be max-width until large viewport"
width: calc(100% + 2em)

padding: 0 1em;

[2020-05-18 13:31] sturobson opened #933 "vf-breadcrumbs - remove l/r padding"

[2020-05-18 13:32] sturobson opened #934 "vf-global-header remove l/r padding"

[2020-05-19 07:47] khawkins98 opened #936 "COMPONENT - `embl-topic-listing`"
This will use the contentHub, EMBL.org profiles, `embl-breadcrumbs-lookup` and `vf-link-list--easy` to provide topic-based navigation rendered client-side.

This is mainly to support navigation around EMBL.org

What we want to do:

- Give a topic by name or UUID:
  - `Structural and Computational Biology` || `83a1abe4-a2a1-4527-9165-85cf5812c664`

What we get:

- A list of links for navigation: Be

[2020-05-19 09:31] sturobson opened #942 "weird alignment issues with tree navigation icons"
![Screenshot 2020-05-19 at 10 30 52](https://user-images.githubusercontent.com/925197/82310092-dc2b9800-99bb-11ea-83b3-190c49ef3dea.png)

[2020-05-19 10:36] khawkins98 commented on #936
The [contentHub HTML API](https://docs.google.com/spreadsheets/d/1ThNJn7TSQ1nlmjRONhyHU4orXx2cC97XGejoOphP5QI/edit#gid=0) can support a similar method already by:

- UUID: https://content.embl.org/api/v1/pattern.html?pattern=node-display-title&filter-content-type=profiles&filter-field-value[field_embl_org_term_what.entity.uuid]=f2024f52-ae49-453d-8ef9-abbce2aa79d4
- Text: https://content.embl.org/

[2020-05-19 10:47] sturobson commented on #917
duplicated in #930 - closing

[2020-05-19 10:47] #917 closed, assigned to sturobson

[2020-05-19 15:51] sandykadam commented on #720
Hi @khawkins98
I stumbled upon this ticket and I remembered we had some discussion but went completely off radar.
Who owns this domain now EBI or EMBL IT? based on the discussions we had I think we will have to register `latest` and `stable` subdomain with SSL certs on all of them.

[2020-05-20 08:17] #942 closed, assigned to sturobson

[2020-05-20 08:18] #934 closed, assigned to sturobson

[2020-05-20 08:18] #933 closed, assigned to sturobson

[2020-05-20 12:30] sturobson commented on #918
this is linked to #933

[2020-05-20 12:36] sturobson commented on #916
are there any live urls for this I can go through?

[2020-05-20 12:47] khawkins98 commented on #916
Here are a few where tighter spacing would be helpful, or the spacing between `vf-intro__heading` and `vf-lede` makes things look detached.

- https://www.embl.org/sites/
- https://wwwdev.embl.org/partnerships/local/molecular-medicine-partnership-unit/
- https://wwwdev.embl.org/press/ (other issues here too, but the default spacing doesn't help)
- https://www.embl.org/topics/cells/ -- the image he

[2020-05-20 12:49] khawkins98 commented on #916
In general it also feels weird that the `vf-intro__heading` is closer to the breadcrumbs that `vf-lede`.

![image](https://user-images.githubusercontent.com/928100/82447752-0444f500-9aa9-11ea-8b80-6a8bca44b121.png)

[2020-05-20 12:57] khawkins98 commented on #916
Link to related sketch file with the vf-intro in a content environment: https://share.goabstract.com/da57cc83-2191-4746-9099-f5eedbf1b9ea

![image](https://user-images.githubusercontent.com/928100/82448609-3b67d600-9aaa-11ea-8177-0854742fbf7c.png)

[2020-05-23 10:12] #930 closed, assigned to sturobson

[2020-05-27 09:17] #931 closed, assigned to sturobson

[2020-06-02 09:31] #932 closed, assigned to sturobson

[2020-06-03 11:05] khawkins98 opened #950 "BUG - vf-footer green border needs a z-index"
![image](https://user-images.githubusercontent.com/928100/83629566-9f09fd00-a59a-11ea-8431-a72c5f623e38.png)

The green strip now shows at the top of the stack and over the data protection banner. Visible on wwwdev.embl.org

Believe this is as `.vf-footer` is now `position: relative;`

Adding a `z-index:1` stops it, but not sure if some other value or approach is better.

[2020-06-03 11:16] sturobson commented on #950
I think as the GDPR banner is the one that should always win - it needs the `z-index` so it is always on top

[2020-06-03 15:06] #950 closed, assigned to sturobson

[2020-06-04 08:27] sturobson opened #953 "COMPONENT - image gallery"
Before developing a new image gallery component (or set of components, potentially).

We should:

- explore what is already in use across EMBL products.
- investigate what works / does not work for site users.
- work on some prototypes based off the above.

Here is an example of something from recent design explorations.

![Screenshot 2020-06-04 at 09 24 26](https://user-images.githubusercontent.c

[2020-06-04 15:02] sturobson commented on #953
via @filipe-dias on https://wwwdev.embl.org/sites/heidelberg/accommodation/guest-houses/suedstadt/

![Screenshot 2020-06-04 at 16 01 46](https://user-images.githubusercontent.com/925197/83773684-c20cdd80-a67c-11ea-9e9c-b97d0ac52361.png)

[2020-06-08 05:55] khawkins98 commented on #926
Bumping this as it will likely be the only blocker to the new Press page live; https://wwwdev.embl.org/press/

![image](https://user-images.githubusercontent.com/928100/83996889-751b5680-a95d-11ea-9c6c-fb7252e38ad0.png)

[2020-06-08 05:59] khawkins98 commented on #926
Ah, that's the same link in the original issue summary. Also good for testing https://wwwdev.embl.org/groups/dummy-embl-group/members/

(particularly at ~1000px)

![image](https://user-images.githubusercontent.com/928100/83997111-efe47180-a95d-11ea-9143-b23e81258e65.png)

[2020-06-08 08:59] sturobson commented on #922
I think this one can be closed?

[2020-06-08 09:02] khawkins98 commented on #922
Should we prioritise a "priority" nav like https://gijsroge.github.io/priority-nav.js/

Also similar to what we did for EBI, and the community was happy with it http://www.ebi.ac.uk/style-lab/websites/patterns/menu-local-nav.html

Or have we done enough for now and make a new backlog issue?

[2020-06-08 12:46] sturobson opened #957 "remove 'default' context data and move to examples / variants where possible"
reading this - https://gitlab.ebi.ac.uk/emblorg/embl-org-static-html-pages/-/merge_requests/347#note_84215

in some use cases the default context data for a child elements gets pulled into the parent component that might not want.

We should look to remove / move the 'default' into the variants

[2020-06-09 09:46] #926 closed, assigned to nobody

[2020-06-09 15:05] sturobson opened #959 "add a margin reset for figure when inside of a vf-content block"
looking at - https://wwwdev.embl.org/groups/chemical-biology/ - for a (currently) live example.

before:

![Screenshot 2020-06-09 at 16 04 09](https://user-images.githubusercontent.com/925197/84164828-e4cb3780-aa6a-11ea-8c8a-4848ae79be4f.png)

after:

![Screenshot 2020-06-09 at 16 04 55](https://user-images.githubusercontent.com/925197/84164917-fe6c7f00-aa6a-11ea-8da6-d7e21e496095.png)

[2020-06-09 15:09] sturobson opened #960 "changing padding for lists inside of vf-content"
the hanging list items discs are neither inside or outside.

Having them 'inside' means the text wraps underneath the disc when text is longer than one line

Suggest changing padding from 16px to 20px

before:

![Screenshot 2020-06-09 at 16 09 10](https://user-images.githubusercontent.com/925197/84165410-94a0a500-aa6b-11ea-8d6d-e29f8e31ad70.png)

after:

![Screenshot 2020-06-09 at 16 08 41](https:

[2020-06-11 08:31] khawkins98 opened #961 "BUG - vf-author__name spacing is strange?"
Noticed this while reading a news post on my phone: https://www.embl.org/news/science/new-insights-into-epigenetic-modifications/

![image](https://user-images.githubusercontent.com/928100/84362852-2a544580-abce-11ea-9aaf-123a3b9790aa.png)

And disabling:

[code]

Looks better:

![image](https://user-images.githubusercontent.com/928100/84362907-3f30d900-abce-11ea-8c45-8c9e16e10698.png)

Might be a

[2020-06-11 08:34] sturobson commented on #961
Ah, the original use case for `word-spacing: 100vw` was because the design wanted the first name and surname on separate lines.

But, that's clearly not workable with 'actual content'.

👍 to remove it and let the content simply 'flow'.

[2020-06-16 16:50] khawkins98 opened #963 "FEATURE - Track downloads in vf-analytics-google"
With more pages on VF 2.0 + EMBL.org we need to build out our GA tracking more.

- [x] Track the name of the link clicked
- [x] Track the region of the link clicked (global nav, masthead, hero, main content, footer, etc)
- [x] Track file type (PDF, DOC, etc)

We have the foundational code in vf-analytics-google already:
- https://github.com/visual-framework/vf-core/blob/develop/components/vf-analy

[2020-06-19 07:00] khawkins98 opened #968 "FEATURE - Track network in vf-analytics-google"
As of Feb 2020 Google Analytics no longer tracks the network name of visitors, this was previously very helpful in identifying internal traffic.

- [x] It is possible to add a similar functionality with this plugin: https://ipmeta.io/
- [x] Make it an optional feature (should be enabled by default for EMBL.org pages)
- [x] Add some way to pass a `Custom Dimensions` index where it differs from a de

[2020-06-22 16:28] khawkins98 opened #974 "FEATURE - Add timestamp to compiled assets"
Would be nice to have a timestamp on the compiled CSS and JS files to see when they were last built.

[2020-06-23 12:08] sturobson opened #976 "QUESTION - should we let `vf-figure` take multiple images"
After a quick Slack discussion with @spivass81 there could be a need for the `vf-figure` component to take more than one image.

We should investigate this. See how it works with the various alignment `--modifiers` available and adjust CSS accordingly. We would also need to adjust the `.njk` template to allow for multiple images too.

Looking at the specification and HTML5 Doctor we can still only

[2020-06-24 09:58] sturobson commented on #922
I think we can close this one and make a new backlog issue as suggested

[2020-06-24 10:17] sturobson commented on #918
This has been fixed in #937. Closing.

[2020-06-24 10:17] #918 closed, assigned to sturobson

[2020-06-24 11:36] #909 closed, assigned to nobody

[2020-06-24 11:37] #961 closed, assigned to sturobson

[2020-06-24 11:40] #960 closed, assigned to sturobson

[2020-06-24 11:51] #901 closed, assigned to sturobson

[2020-06-24 12:04] sturobson opened #983 "QUESTION: Should we refactor to include a global reset or normalise CSS component"
1. Originally we had a 'component' that would include the CSS reset at the start of the CSS to give us some good defaults to work upon.

2. This kinda broke when using VF2.x with VF1.x components, sites and pages so we removed it and move any reset CSS needed to the components as needed.

3. The more we integrate with `vf-wp` and how 'WordPress does things" with CSS the more there is a need for a

[2020-06-24 12:17] sturobson commented on #727
looking at this, along with a similar change to `vf-card`.

notes and further questions
- there will be a need for a breaking change
- would there ever be a link in the text that might link somewhere else that needs to work
- are we only wanting the image and text to be an url, rather than 'the whole thing'
- are dates linkable to see search results of other things with that date?

[2020-06-24 12:20] khawkins98 commented on #727
Quite possibly.

Yeah, I think that's best/most expected/leaves open other links inside the teaser text.

As long as we're refactoring, would be good to consider this ... this could also be an area for an author byline or category.

[2020-06-24 12:27] #959 closed, assigned to sturobson

[2020-06-24 12:29] sturobson commented on #727
These changes along with the changes to #910 would create breaking changes for both.

Do you want them in before or after the vf2.0.1 release?

[2020-06-24 22:30] sturobson opened #987 "IDEA: Create some 'smart defaults' npm packages containing vf-core components."
Spurred on from a Slack conversation …

A while back we did discuss some 'specific' packages on npm that would pull in the correct NPM packages for, say, the groups pages or the like.

I think we should take another look at this.

1) base - only contains the Sass mixin, variables, functions, and the Design Tokens
2) groups - stuff that's used in groups pages
3 ???

[2020-06-26 10:14] #910 closed, assigned to sturobson

[2020-06-28 18:42] khawkins98 opened #997 "BUG? vf-hero text line height"
The `vf-hero__text` line height seems to ha-ha-high:

https://visual-framework.github.io/vf-core/components/detail/vf-hero--normal.html

![image](https://user-images.githubusercontent.com/928100/85955574-bcef3580-b97f-11ea-84d8-05b15e220cab.png)

As seen on embl.org

Old: https://www.embl.org/research/
![image](https://user-images.githubusercontent.com/928100/85955586-d7c1aa00-b97f-11ea-8eec-25387

[2020-06-28 20:43] sturobson commented on #997
Yeah, I set it to `2` - https://github.com/visual-framework/vf-core/blob/develop/components/vf-hero/vf-hero.scss#L100 - From designs and reasoning behind I’d always thought that a hero would be short on text as you’ve got the rest of the page for text :-D and less text read better with more height (imho)

Let’s revert back to what comes with the mixin and try not to write War and Peace in the para

[2020-07-09 15:44] khawkins98 commented on #963
mmm, metrics

![image](https://user-images.githubusercontent.com/928100/87061316-e293fe80-c20b-11ea-9b15-f78f710e3beb.png)

[2020-07-09 15:44] #963 closed, assigned to khawkins98

[2020-07-12 06:15] khawkins98 opened #1010 "PROPOSAL - Move document widths to design tokens"
This could be a `vf-document-widths` or `vf-page-grid` or such.

The use case is two-fold:

1. Moving some of the document widths to design tokens would save a lot of repetition (you can find 288px, and 76.5 em many times in the code; see screenshot)
2. It would also allow for more flexibility for non-core-EMBL projects to have a different width

![image](https://user-images.githubusercontent.com/

[2020-07-21 07:45] khawkins98 opened #1019 "Sass includePaths ignored after switch to Dart Sass"
In #990 we moved to Dart Sass, but it's not using the `includePaths`.

(note: this isn't a big deal for vf-core, but will be a big issue for things like vf-eleventy)

Docs suggest [includePaths should work with Dart](https://sass-lang.com/documentation/js-api#includepaths), so either gulp-sass isn't passing the option or something else has gone off.

I have seen other issues about Dart Sass having

[2020-07-21 07:47] sturobson commented on #1019
Ah - I thought I had this fixed. When I looked at Dart-Sass last year(?) the `includePaths` issue had me stumped - but this time around I thought I had it fixed - hence the PR :-/

[2020-07-21 07:48] sturobson commented on #1019
Ah - so I must have fixed the issues with `vf-core` -- now to investigate what I did 😭

[2020-07-21 07:52] sturobson commented on #1019
The other thing here - is if we can get as much information in the Sass as possible - rather than relying on `includePaths` then `vf-core` would be more portable into other task managers that teams wanting to use it might prefer.

[2020-07-21 08:00] khawkins98 commented on #1019
This isn't the error that I thought it was, rather that vf-rollup uses `@import 'vf-sass-config/index.scss';` and we've typically excluded index.scss from being imported.

1. Not sure why this wasn't breaking before
2. Not sure if we need to ignore these

[2020-07-21 08:02] sturobson commented on #1019
The thing with Dart-Sass is we can move towards using `index.scss` as the file to include by making use of `@use` and `@forward` to avoid any duplication of styles created.

[2020-07-21 08:03] khawkins98 commented on #1019
Yeah, so if we can not-ignore index.scss files it's a step in a good direction.

[2020-07-21 08:14] khawkins98 commented on #1019
Under the current approach, only the Sass file name gets stored in the component index:

[code]

This is _okish_, but it means index.scss is too generic, I think we can move to keys like `vf-sass-config/index.scss` as a non-breaking change and a general improvement.

[2020-07-21 10:13] khawkins98 commented on #1019
Making progress on this.

Bad news: there are some issues between gulp-sass and dart sass when it comes to working with include paths.

Good news: we don't really need gulp-sass and can use dart sass natively which should have some performance wins, drop the node-sass/LibSass dependency and allow us to get the cutting-edge dart sass features faster.

[2020-07-21 10:18] sturobson commented on #1019
ok, I'll stop working on this :D

I think we should move away from includePaths as much as possible - as mentioned [above](https://github.com/visual-framework/vf-core/issues/1019#issuecomment-661701934)

[2020-07-29 13:42] #1019 closed, assigned to khawkins98

[2020-07-31 10:13] filipe-dias opened #1031 "Subtitle on pages is not displayed"
Same as title, no subtitle shown. Possibly because of the recent update to vf-intro?

yarn.lock:
`"@visual-framework/vf-intro@^1.0.2":
  version "1.1.1"
  resolved "https://registry.yarnpkg.com/@visual-framework/vf-intro/-/vf-intro-1.1.1.tgz#9b3cfe671a9afe2d7a540113129fe0326ce8a86a"
  integrity sha512-T4TSCREOiA6JmgDQkLqA01/MkI9wnFmoX5Daik4l4qLVUTENb4CrMZGn2rFDIIGB8TqdZXFcJKMUS2W0g2YHvQ==`

[2020-08-03 09:06] sturobson commented on #1031
Hey Filipe!

Can you give the example `.yml` content you are trying to use to get this to work.

As mentioned there's no 'subtitle' but there is a `vf-lede`…

Do you know if `vf-lede` is installed in the repo you are using (it should be listed in the `package.json`)?

[2020-08-03 12:02] sturobson commented on #1031
fixed with #1034

[2020-08-03 12:02] #1031 closed, assigned to nobody

[2020-08-03 13:29] khawkins98 opened #1035 "VF 2.1.0 release notes draft"
---
🚨  These are draft release notes
---

v2.1.0 brings minor dependency updates and modernises the Sass compilation to use [Dart Sass](https://sass-lang.com/dart-sass) #990 #1019.

For the compiled CSS, the change to Dart Sass currently brings zero changes, however:

1. The vf-core install is now lighter as it no longer requires the [node-sass binaries](https://www.npmjs.com/package/node-sass)
2.

[2020-08-03 13:30] khawkins98 commented on #1035
@sturobson anything I should add/overlooked/am wrong on?

[2020-08-03 13:51] #1035 closed, assigned to sturobson

[2020-08-04 08:31] khawkins98 opened #1036 "Component: vf-summary--news block"
The [vf-summary--news-has-image](https://visual-framework.github.io/vf-core/components/detail/vf-summary--news-has-image.html) is inline, but it's shown through component-hackary as a block in many places.

![image](https://user-images.githubusercontent.com/928100/89271760-74413100-d63d-11ea-94e5-e9cb6153046c.png)

This is the code that seems required to do it

[code]

Aside: the [--has-image](htt

[2020-08-11 05:47] khawkins98 opened #1045 "VF 2.2.0 release notes draft"
---
🚨  These are draft release notes

Before we publish we should:

- [x] Get deploys to the CDN working correctly (need Sandeep's help)
- [x] Integrate #1044
---

v2.2.0 brings a refactor of the way we organise the build process of the Visual Framework. Previously the Sass compilation, component library, utilities and component initialisation (Fractal) all lived at the top layer of the monorepo a

[2020-08-11 13:13] sturobson opened #1047 "turn `vf-u-fullbleed` it's own container"
- keep `vf-u-fullbleed`
- create a new container that is full width with a centred column - `vf-fullbleed`
- allow for theming with primary, secondary, tertiary, quaternary, quinary.
- appropriate 'container defined' text colour

[2020-08-12 07:11] khawkins98 commented on #720
Hey Sandeep, also tardy in this.

The domain is registered with EBI -- we should have an option for subdomains, I'll forward a couple of emails from around 8 Jan.

[2020-08-12 16:54] filipe-dias opened #1048 "Button link with nunjucks not working anymore"
A while ago it worked, but today it doesn't anymore. The last time I tried using a button with a link using nunjucks was around 2 months ago, so I've no idea when the break point may have been.

Using "button_href" like in the documentation. Same results as with other spellings of the field, but If "href" is used it becomes a link, but only to "#".

Live example in:
https://www.embl.org/sites/heid

[2020-08-13 08:49] #1048 closed, assigned to sturobson

[2020-08-17 07:28] khawkins98 opened #1051 "Component: nearest EMBL site (embl-location-nearest)"
There are use cases where we want to know which EMBL site a user is closest to (for example: intranet).

Rough overview of a/c:

1. [x] 1. Try to auto-detect lat/lon in browser using the Geolocation_API
    - https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API/Using_the_Geolocation_API
    - https://developers.google.com/web/fundamentals/native-hardware/user-location#dont_keep_the_use

[2020-08-17 07:46] sturobson commented on #1051
Is this effected by GDPR?

[2020-08-17 08:02] khawkins98 commented on #1051
We have a legitimate use for it and it's only temporarily stored on the user's browser. It probably falls more onto the "cookie side" of GDPR. In any other org I'd say we should update our GDPR statement to include it, but EMBL and GDPR, [ya know](https://www.embl.de/aboutus/administration/legal-services/data-protection/IP68-Data-Protection-EN-18052018.pdf).

[2020-08-17 09:01] sturobson commented on #1051
Thinking about my initial question - I'm assuming that the cookie won't be set until they've accepted the GDPR banner notice anyway?

[2020-08-19 16:18] ebiwd-jros opened #1059 "VF Google Analytics - misc enhancements"
## The problem
Current vf-analytics-google component code has some limitations:

- limited in scope, targeting anchors tags-related events only
- it sometimes ignores the areas where the event is captured
- It is predicated on a  "Click" event; buttons ignore clicks and favourite the "mousedown" instead
- Downloads events are triggered by an event on "a" tags

## The purpose
Purpose of improvement

[2020-08-21 07:21] ebiwd-jros commented on #1059
@khawkins98

you could try this one out:

[code]

[2020-08-26 14:17] #1045 closed, assigned to khawkins98

[2020-08-27 07:37] sumit-mann commented on #983
@sturobson just going through this project and saw this question.

I think there should be no reset or normalise css when thinking about UI patterns as components.

Creating a reset css component and then using it in the component will require lots of logic like only required reset css comes to component not the complete reset styles. importing reset css component in each component will only make

[2020-08-27 11:59] #1059 closed, assigned to khawkins98

[2020-08-29 07:16] khawkins98 opened #1074 "CDN: Document stable releases to assets.emblstatic.net"
While we recommend that users use their own local builds, we do also offer the CDN. We need to better explain its configuration in the docs.

## Dev vs prod

- `dev.assets.emblstatic.net` vs `assets.emblstatic.net` dev has lower TTL, iirc 5 mins vs 1 hour

## Available thing

https://`{dev}`.assets.emblstatic.net/vf/`{version}`/css/styles.css

- droping `{dev}` will serve production
- `{version}`

[2020-08-29 10:39] sturobson commented on #1074
This point should be laboured on the documentation page for static assets.

Which means we could probably do with looking at the documentation on making your own `.css` file too.

I think a video tutorial could be good for that‽

[2020-09-01 15:24] spivass81 opened #1077 "Colour of visited links in Normal Primary box"
The visited links in the Normal Primary box turn purple, which is kind of hard to read.

<img width="1063" alt="Screenshot 2020-09-01 at 16 52 25" src="https://user-images.githubusercontent.com/50863581/91870451-43254200-ec77-11ea-8446-e19a5f950d20.png">

Ideally, the color should remain white.
Haven't tested this on the other type of boxes, @sturobson leave this up to you to decide whether the fi

[2020-09-03 06:55] khawkins98 commented on #1051
This has been mostly addressed by #1069, but does not add a cookie as:

1. It's more code
2. Privacy questions
3. It's still an early conceptual component and we can grow as needed

[2020-09-03 06:55] #1051 closed, assigned to khawkins98

[2020-09-03 09:40] #1077 closed, assigned to sturobson

[2020-09-03 19:18] #983 closed, assigned to sturobson

[2020-09-03 19:19] sturobson commented on #987
I think we are kinda their with the `vf-sass-starter`. Everything else should be from documentation (to be created) that helps people create their own sets of 'defaults' for when they start a project.

Closing

[2020-09-03 19:19] #987 closed, assigned to sturobson

[2020-09-03 19:21] sturobson commented on #957
We're doing this as and when needed, so we can close this.

[2020-09-03 19:21] #957 closed, assigned to sturobson

[2020-09-03 19:21] sturobson commented on #919
We've pulled in `--extreme` into `vf-core` now so we can close this.

[2020-09-03 19:21] #919 closed, assigned to sturobson

[2020-09-03 19:23] sturobson commented on #809
@khawkins98 How is this issue now?

[2020-09-03 19:24] sturobson commented on #757
we've kinda made `vf-inlay` redundant now - can we close this?

[2020-09-03 20:43] khawkins98 commented on #757
👍

[2020-09-03 20:43] #757 closed, assigned to nobody

[2020-09-09 16:41] khawkins98 opened #1105 "Further enhance boilerplates"
In #1093 we added some new boilerplates, but of course, we need to do more.

- [ ] Error pages (404, 403, 500) Example 404: https://wwwdev.embl.org/kdjafljdls
- [x] Further examples to the search page
    - https://visual-framework.github.io/vf-core/patterns/search-results/
    - [x] summary list results
    - [x] table results
    - [x] card results
    - [ ] mobile versions of the above

[2020-09-10 08:59] khawkins98 commented on #1105
A conceptual example of search results for courses from @nikiforosk

![course snippets - v2 - 08Sep20](https://user-images.githubusercontent.com/928100/92706023-78efb800-f354-11ea-8836-54bfe62db2d7.jpg)

[2020-09-10 11:20] khawkins98 commented on #895
Resurrecting this one as the group sites progress, this is becoming a bit more needed: https://wwwdev.embl.org/groups/gross/

[2020-09-10 11:41] sturobson commented on #895
aside: do we need a `'home` link - or should that be the group name?

I guess 'visually' it would be a nice to have - but it would be clearer to have the `home` link

I think I've both 'opened' and 'closed' the initial question now. Moving on. :sob:

[2020-09-10 11:44] khawkins98 commented on #895
Yeah, we've gone around on using `Home` or `Name of Group`. I think the better choice varies by the relative humidity.

[2020-09-10 13:49] gabsie commented on #1105
HI, I also am attaching some explorations from the Covid-19 portal, but wouldn't stand by any of them too much - they have been done quickly and trying to put out a fire.. I can probably spend more time thinking about this and also about some search result scenarios relevant to HCA.

![Nucleotide Sequences - search results in tables](https://user-images.githubusercontent.com/19713125/92739499-dc89

[2020-09-11 14:56] nikiforosk commented on #1105
Below are links to more complete examples which show all six type of courses and the kinds of summaries that we have been considering for each search result:
- [First ~200 characters of the overview without the keyword highlighted
](https://invis.io/2NYEWTQEURS#/431380347_Course_Snippets_-_V2_-_First_200_Chars_-_11Sep20)
- [Fragments with keywords highlighted](https://invis.io/2NYEWTQEURS#/4313803

[2020-09-14 10:41] sturobson opened #1114 "💄 making the `vf-card` a bit more like a card, visually."
There are currently quite a few places where the basic `vf-card` component is being used (with no theming and no design variant).

These get absorbed into the page some what because there's (usually) no distinction from the page background colour and the background colour of the text on the card.

There are two options I think we can go with to make them look a little more 'card-like'.

One is to

[2020-09-14 10:59] gabsie commented on #1114
Hi, Stu and everyone

I am with @sturobson on this one - prefer the highlighted variant.
It would probably be good to also see this within the page - see how it sits .. in different contexts (whether it makes it very 'netty')

Gabs

[2020-09-14 11:15] sturobson commented on #1114
Thanks for the input @gabsie. I think the most prevalent page that would benefit is [embl.org news home page](https://www.embl.org/news/).

live, as it currently is:

![Screen Shot 2020-09-14 at 12 14 00](https://user-images.githubusercontent.com/925197/93079362-e87ee380-f683-11ea-9e7a-24198238288f.png)

with the updated box-shadow elevation:

![Screen Shot 2020-09-14 at 12 14 37](https://user-ima

[2020-09-14 11:37] khawkins98 commented on #1105
The closest existing example  is https://wwwdev.embl.org/events page which has many similar semantic fields

![image](https://user-images.githubusercontent.com/928100/93081067-f423d780-f68e-11ea-9325-0436125b1b17.png)

Obviously the exact structure of the result and visual emphasis will vary by content.

But there are probably three "generic" types of result listing:

1. Summary list (most common?

[2020-09-14 11:41] khawkins98 commented on #1105
And although not entirely visually up-to-date, there is some good thinking in the EBI Search result format — and it provides a wide range of result sample content to accommodate: https://www.ebi.ac.uk/ebisearch/search.ebi?db=allebi&query=keratin

![image](https://user-images.githubusercontent.com/928100/93081611-d014c600-f68f-11ea-804b-9e5bf747f6db.png)

[2020-09-14 14:57] sturobson opened #1115 "Do we need all of the `max-width` rules in components that we know would/should be inside `vf-body`?"

[2020-09-14 15:02] khawkins98 commented on #1115
Hrm, I also don't the "extra" max-width provides much benefit.

[2020-09-14 15:43] nbuso opened #1116 "GA event tracking: on SPA permit to avoid `ga('send', 'pageview')`"
Give the possibility not to have "ga('send', 'pageview')", it can cause false counting of page navigations in cases of SPA

[2020-09-14 15:51] nbuso opened #1117 "GA event tracking on complex components"
On complex components marking the component with 'data-vf-google-analytics-region' can be not ideal. If I have a component that is composed of several html elements the GA tracker will issue an event also if I click on part of the component that is not triggering any real event for the application.
Suppose you have a component that handle the pagination, it may take a large width of the page, also

[2020-09-14 16:07] nbuso opened #1118 "vf-analytics-google javascript mispelling"
In the GA tracker javascript code there is a misspelling on the function "vfGaLinkTrackingInit"
[code]

the region attribute the code is looking for should be 'data-vf-google-analytics-region'

[2020-09-15 08:08] sturobson opened #1119 "'on localhost' banner is a tad annoying in window previews."
When visiting any page of `vf-core` when running locally both the 'page' you visit and the iframe 'page' of the component that is nested inside have a little fixed banner telling us we're on local.

This gets a little annoying and makes developing certain components in the details view unworkable.

![Screenshot 2020-09-15 at 09 05 13](https://user-images.githubusercontent.com/925197/93183473-f0499

[2020-09-15 08:21] khawkins98 commented on #1105
In #1112 I've added some more content the Search example https://visual-framework.github.io/vf-core/patterns/search-results/

That work has prompted something thinking about making the `vf-summary` default pattern more flexible.

This will likely get picked back up after I'm back on the 28th.

[2020-09-15 09:00] peter-walter opened #1120 "vf-search - clickable area around the 'clear search' pseudo button on the search bar"
It has been noted by the training team that the target area around the 'clear search' pseudo element of the search bar is very small - is it possible to add any clickable padding around this?

![image](https://user-images.githubusercontent.com/13538087/93188808-5a653480-f739-11ea-9a10-a3a05e73eb6a.png)

[2020-09-15 09:05] khawkins98 commented on #1120
This uses the browser-native "clear" element, though I'm sure (hope?) it's possible to override. Any experience here @sturobson ?

[2020-09-15 09:06] peter-walter commented on #1120
https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-search-cancel-button ?

[2020-09-15 09:07] peter-walter commented on #1120
https://developer.mozilla.org/en-US/docs/Archive/Web/CSS/::-ms-clear ?

[2020-09-15 09:12] peter-walter opened #1121 "vf-search: Rendering error in Safari"
Input box is not styled

![image](https://user-images.githubusercontent.com/13538087/93190928-db253000-f73b-11ea-8a2d-9bd397de8556.png)

[2020-09-15 09:18] sturobson commented on #1121
There's an issue in our build w/ autoprefixer that has stopped it from adding `-webkit-appearance: none` - waiting on #1113

[2020-09-15 09:19] sturobson commented on #1120
I don't think I've ever seen a clear button in a text input before. Is it something better put as an actionable button rather than inline? Perhaps we need some UX insight on this?

[2020-09-15 09:20] khawkins98 commented on #1121
Missed #1113, now approved.

[2020-09-15 09:24] sturobson commented on #1121
@pwalter-ebi do you know if this is occurring from a pre-compiled `.css` file and if it's versioned or the `dev` one?

If it's `dev` it should show up soon - if not it'll be a little longer as we'd need to create the versioned copy and update npm.

Let's keep this open until:

- [x] it's live on `dev/styles.css`
- [x] the components that relate to #1113 are updated on `npm`
- [ ] a new version of

[2020-09-15 10:00] peter-walter commented on #1120
It’s unique to the type=“search”

See: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/search#Differences_between_search_and_text_types

[2020-09-15 10:58] khawkins98 commented on #1120
It's a frequent ask as well as "Google does it"

![image](https://user-images.githubusercontent.com/928100/93202536-21d25480-f753-11ea-8166-c0598d62ee09.png)

[2020-09-15 11:01] khawkins98 commented on #1118
This was fixed in 1.0.0-rc.1 https://github.com/visual-framework/vf-core/pull/1066/files#diff-fb3bff43cf5b193e1ee8aea356bf72e4R4

Are you perhaps using an older version from npm or older tagged release?

[2020-09-15 11:04] khawkins98 commented on #1116
Adding this link from slack for background: https://medium.com/techiediaries-com/integrating-google-analytics-with-angular-10-9-6157629d75dc

[2020-09-15 11:07] khawkins98 commented on #1117
Would using the `analyticsTrackInteraction()` function meet your needs?

From vf-analytics-google.js at line 198:

[code]

[2020-09-15 11:51] sturobson commented on #1120
I mean, Google also thought the 'floating label' was the way to make form inputs until recently when they actually did some user research to show it was not.

Do we really want to add more CSS for something browsers provide by default?

Aside: the HTML for that is absolutely horrendous - but it's good to see they've finally gone past using tables for the search home page :sob:

[2020-09-15 16:04] peter-walter commented on #1121
However training appear to be using https://dev.assets.emblstatic.net/vf/v2.0.0-rc.3/css/styles.css which I guess is a few steps behind.

[2020-09-15 16:53] khawkins98 commented on #1117
Cipying a slack comment in:

[2020-09-15 16:57] khawkins98 commented on #1121
Yeah, I've raised this with Prakash. Hopefully, those get updated soon, but there will be a few CSS class substitutions needed as quite a lot has changed since rc.3

https://gitlab.ebi.ac.uk/ebiwd/ebi-academy/ebi-academy-catalogue/-/issues/2

[2020-09-17 09:12] sturobson commented on #1114
@filipe-dias asked (via Slack)

![Screenshot 2020-09-17 at 10 11 13](https://user-images.githubusercontent.com/925197/93450756-3e46cc00-f8ce-11ea-90fd-5319533432f6.png)

[2020-09-17 09:33] sturobson commented on #1114
via Slack @filipe-dias then asked:

This threw up an issue with the lightness of the grey, where it can make the card 'glow':

![Screenshot 2020-09-17 at 10 30 31](https://user-images.githubusercontent.com/925197/93452949-f2495680-f8d0-11ea-97e9-305da1ed3f27.png)

I switched out the initial `-grey--lightest` with `-grey--dark`, which blends into the bg (this is ok here - because the theming and im

[2020-09-17 11:17] sturobson commented on #1114
There's now a PR open to merge these changes in #1124

[2020-09-25 16:12] sturobson opened #1127 "BUG: `vf-links-list` always renders a heading and a list"
Currently if we use `vf-links-list` as a nunjucks component with something like `vf-eleventy` the code that gets rendered / compiled down to HTML will include an empty:

[code]

We need to have this wrapped in a Nunjucks `if` statement to determine if there's a `{{title}}` to render / compile to start with.

aside:

The `<ul>` gets rendered if there's a list or not -- considering the component is

[2020-09-25 16:17] sturobson opened #1128 "Investigate and determine internal 'spacing' for components to decide on a set of small, medium, large decisions"
Working with `vf-stack` and (the soon to be released) `vf-cluster` there's a trend being set to have a few 'low level' layout components that can be used 'anywhere'.

Currently `vf-stack` has small, medium, large, and custom 'spacing' sizing which determine the padding of a component.

I think we should standardise the definite - small, medium, large - spacing options so we can pull from design to

[2020-09-28 10:16] sandykadam opened #1131 "GA - Console Verbose logging even if it set false"
GA debug log is getting logged in console even if we define verbose as `false`. This is happening on covid19portal prod site.

![Screenshot 2020-09-28 at 11 14 27](https://user-images.githubusercontent.com/1227241/94420321-e9cc0800-017b-11eb-81a6-5e84abb2c815.png)

[2020-09-28 10:18] sandykadam opened #1132 "GA - Dynamic/multiple category option for events"
Can we have multiple category option in GA, right now we are not able to track Outbound links, Downloads events.

![Screenshot 2020-09-28 at 11 18 38](https://user-images.githubusercontent.com/1227241/94420677-64952300-017c-11eb-8cac-b30bf59136e1.png)

Update -

Download was not working in Covid19 because angular is generating download file based on checkbox selection and the code we have in VF co

[2020-09-29 07:46] sturobson opened #1133 "investigate intrinsic sizing of `vf-hero` height to work alongside component 'spacing' idea."
With #1128 I want to look at 'spacing' for the 'inside' of a component and the 'outside' with layout.

Currently it's in some components as:

[code]

I think we could do this with the height of `vf-hero` so teams can determine how much of a splash they want to make.

This currently works with a CSS custom property that can be set - but speaking w/ @kasprzyk-sz it might be easier to also give 'smal

[2020-09-29 10:02] khawkins98 commented on #1117
The above function has now been namespaced and available for use as `vfGaTrackInteraction()`

[2020-09-29 11:39] khawkins98 commented on #1116
Would something like this work? `<body data-vf-google-analytics-autosend="false">`

---

Docs: https://visual-framework.github.io/vf-core//components/vf-analytics-google/

[2020-09-29 11:41] khawkins98 commented on #1117
I think this has now been resolved by elevating and [documenting `vfGaTrackInteraction()`](https://visual-framework.github.io/vf-core//components/vf-analytics-google/).

Closing, please reopen if needed.

[2020-09-29 11:41] #1117 closed, assigned to khawkins98

[2020-09-29 11:41] khawkins98 commented on #1118
I think this was previously resolved, please reopen if needed.

[2020-09-29 11:41] #1118 closed, assigned to khawkins98

[2020-09-29 12:30] khawkins98 commented on #916
A page Filipe is working on reminded me of this ticket:

 https://wwwdev.embl.org/topics/transversal-research-themes/

![image](https://user-images.githubusercontent.com/928100/94558511-3c7ef000-0260-11eb-86dd-f7039ead03e0.png)

There may be a relationship with the idea discussed for the vf-hero in #1133

[2020-09-29 13:00] sturobson commented on #916
looking at the mark-up of the page - isn't it this also due to `vf-intro` (what I'd expect to be a brief introduction to the page) is needing to be three paragraphs long here rather than the one that `vf-intro` allows -- hence the spacing?

[2020-09-29 15:22] #1131 closed, assigned to khawkins98

[2020-09-30 07:40] khawkins98 commented on #1132
Hi @sandykadam. Reviewing the code, it looks like I "forgot" about the features that were added. In ` 1.0.0-rc.1` the "Download" and "Email" categories were added.

https://github.com/visual-framework/vf-core/blob/140a20e6f1e9a32c14958bb5b26358d480a349cc/components/vf-analytics-google/vf-analytics-google.js#L275-L283

I suspect the component code you're using is out of date, would be good if we ca

[2020-09-30 08:03] khawkins98 commented on #1119
We could disable loading vfBanner of iframes with something like:

[code]

But that would break the vf-banner component preview too.

As a partial fix+feature I've been meaning to add for a while we can make `vfBanner()` add appropriate padding to the bottom of the page so it doesn't block content.

![image](https://user-images.githubusercontent.com/928100/94659140-1e6acb80-0304-11eb-8490-371fc935

[2020-09-30 08:07] sturobson commented on #1119
e can make vfBanner() add appropriate padding to the bottom of the page so it doesn't block content.

can we do this within a `_preview.njk` file?

[2020-09-30 08:14] dbushell opened #1136 "BUG: `vf-tabs` nested tabs confusion"
When nesting the `vf-tabs` pattern, the JavaScript gets confused switching tabs.

Example can be seen in the documentation:
https://visual-framework.github.io/vf-core/components/vf-tabs/

Switch between the first 4 tabs you'll see "Section 1" to "4" as expected. Then try to use the nested tabs and "Section 3" gets stuck permanently and the nested tabs don't appear to switch.

Myself and @kasprzyk-

[2020-09-30 08:18] sturobson commented on #1136
I've not been a fan of nesting tabs inside of tabs -- doesn't look like the best way to display content. I'd rather not have this option available, alas here we are.

[2020-09-30 08:27] khawkins98 commented on #1136
Going to set the priority on this one to "low" because, as @sturobson notes, we really shouldn't have occurrences of nested patterns in the wild. This was more of a theoretical "will to go".

But we should track down what's wrong here, but, again, as long as we don't have a real need for nested tabs ...

[2020-09-30 08:39] sturobson commented on #1136
perhaps we should hide the variant (although I'm not sure how possible that is with the live documentation site)

[2020-09-30 13:03] gabsie commented on #1136
I am a little bit for not including this/hiding etc :) if we're not happy with it.

[2020-09-30 16:00] sandykadam opened #1140 "GA - Refactor verbose logging with customised function"
Currently we have verbose logging of GA events irrespective of event category, we cannot log different event category as we have one common verbose log.

So we need to have a single function which we can call at multiple places to log different event category like mail/download etc.

[2020-09-30 16:27] khawkins98 commented on #1140
Hey Sandeep. Do you mean the logging to console.log, or what gets logged in Google Analytics Events?

[2020-09-30 16:30] sandykadam commented on #1140
Yes console log when event is triggered, I some fix I will raise PR

[2020-10-01 07:52] sturobson commented on #916
Coming back to this - the example [for Transversal research themes](https://wwwdev.embl.org/topics/transversal-research-themes/) the `vf-intro` page does allow for multiple normal paragraphs in the `.yml` file.

[code]

But this does throw up the problem that the `vf-intro` component could effectively become 'the whole page' rather than a single container.

The `vf-intro` container has or allows f

[2020-10-01 07:53] sturobson commented on #916
Here's where I'm at with including a subheading component to the container.

![Screenshot 2020-10-01 at 08 40 50](https://user-images.githubusercontent.com/925197/94782697-859b8500-03c3-11eb-8861-8b1ed6beb17f.png)

[2020-10-01 12:32] peter-walter opened #1142 "Create license for usage"
Maybe Apache 2.0 as one of the most permissive licenses.

[2020-10-01 12:35] khawkins98 commented on #1142
Adding some helpful background info that @pwalter-ebi dug up earlier:

@sturobson Any opinion to _not_ use Apache 2.0?

[2020-10-01 12:36] sturobson commented on #1142
I'm flabbergasted that we got to today without noticing the lack of one :sob:

I think 2.0 should be good to go -- I think we'd need to check how that works with any other things that are used to make sure we're not breaking their licences(?) - learn, fractal, Wordpress. 11ty

[2020-10-01 12:45] khawkins98 commented on #1142
tl;dr: Should be good on Apache 2.0

---

https://www.apache.org/foundation/license-faq.html#GPL

Also compatible with MIT licensed things: https://exygy.com/blog/which-license-should-i-use-mit-vs-apache-vs-gpl/

- 11ty mit: https://github.com/11ty/eleventy/blob/master/LICENSE
- fractal mit: https://github.com/FractalBlocks/Fractal.js/blob/master/LICENSE
- lerna mit: https://github.com/lerna/lerna

[2020-10-01 12:45] peter-walter commented on #1142
NPM seem to think it is Apache 2.0 already:

![image](https://user-images.githubusercontent.com/13538087/94810848-7d0b7480-03ec-11eb-827b-1c173a90a3ed.png)

[2020-10-01 12:46] khawkins98 commented on #1142
Ah, yes, I knew we had already talked about this.

https://github.com/visual-framework/vf-core/blob/8b52cf5515d30445f97bf9983d34051f51a48fac/package.json#L41

But should still add license file to the repo.

[2020-10-01 13:04] khawkins98 opened #1143 "standards: choose a JS linting/formatter"
As raised in #1141, it would be good to have a standardised code format for JS ([like we do for Sass](https://github.com/visual-framework/vf-core/blob/develop/.stylelintrc)).

I have no strong opinions.

I see that:

- bootstrap uses ESLint https://github.com/twbs/bootstrap/blob/main/.eslintrc.json
- 11ty uses ESLint https://github.com/11ty/eleventy/blob/master/.eslintrc.js

So I'd be happy with [

[2020-10-01 13:19] khawkins98 commented on #1143
Might be a wider question about using typescript at some point, but ... not yet :D

[2020-10-05 08:41] khawkins98 commented on #1142
Footnote link: https://www.quora.com/I-have-an-Apache-2-0-Licensed-project-and-I-would-like-to-use-MIT-licensed-components-What-are-my-sublicensing-relicensing-obligations

[2020-10-05 09:22] khawkins98 opened #1146 "oddity: vf-hero heading too small (or subheading too big)"
[As discussed in slack]

The weights or sizing on the vf-hero__heading and vf-hero__subheading for vf-hero look "off".

![image](https://user-images.githubusercontent.com/928100/95062110-caddf080-06fc-11eb-91c1-5d6e4ad935c0.png)

https://visual-framework.github.io/vf-core/components/vf-hero

Also the SVG arrow doesn't seem to be getting CSS applied and is "floating up".

[2020-10-05 12:24] #1142 closed, assigned to nobody

[2020-10-06 10:23] #1140 closed, assigned to nobody

[2020-10-07 12:19] gabsie opened #1148 "Discussion: navigation drop-down menus"
Hi, Ken and Stu

I have a request with respect to: Top nav and a sub-nav! See answers to your questions below.
Thank you!

## Standard questions

- In a few words, what does this component look like?
We will need to bring some sort of organisation of the top navigation on the COVID-19 Data portal.

- In a few words, what does this component do?
The goal with this navigation is to allow users to br

[2020-10-10 09:55] khawkins98 opened #1150 "Enhancement: embl-notifications should also check a 3rd party URL"
In cases of major outages, it may not be possible to access or update the central embl notifications URL used by https://visual-framework.github.io/vf-core/components/embl-notifications/

We should check a 3rd party URL, either like the [EBI notifications](https://ebi.emblstatic.net/announcements.js) works or something else (like github pages).

[2020-10-10 10:07] khawkins98 commented on #1150
Prototype repo:

- https://github.com/embl-communications/embl-notifcations-fallback
- https://embl-communications.github.io/embl-notifcations-fallback/notifications.js

[2020-10-13 13:39] TabeaMira commented on #1148
@gabsie thanks for the productive meeting. A few comments on the drop down menu (regardless feedback on metrics)
– less line (spacing)
– pop-up box closer to "about""
– no indent
– horizontal divider lines are visually "heavier" than the text (suggest to make the lines thinner)
– the form of the arrow behind "about" seems visually not connected to other graphical elements. How this triangle could

[2020-10-13 16:46] khawkins98 commented on #1148
Adding a few things/ideas/comments.

You might consider the arrows from the vf-tree:

![image](https://user-images.githubusercontent.com/928100/95889203-69fc8b00-0d82-11eb-9b6d-f37b24ad1d85.png)

Also the dropdowns from www.figma.com are VF-like:

![image](https://user-images.githubusercontent.com/928100/95889069-41749100-0d82-11eb-8395-81ed526e34cc.png)

---

**Disclaimer**: historically navigati

[2020-10-16 08:53] khawkins98 commented on #1116
A new method has been added in #1157 to not automatically send a pageview.

[code]

Closing this one, please reopen if you need any further help/support.

CC @sandykadam as this might be of use to you.

[2020-10-16 08:53] #1116 closed, assigned to khawkins98

[2020-10-16 09:54] khawkins98 opened #1161 "GA - Track form interactions"
In [`vf-analytics-google`](https://visual-framework.github.io/vf-core/components/vf-analytics-google/) there is currently not a method track when a user has clicked on a form element.

## Example use case

https://www.covid19dataportal.org/sequences?db=embl

![image](https://user-images.githubusercontent.com/928100/96243502-1f0e8d80-0fa5-11eb-988c-e09e7b00da27.png)

## a/c

- [x] Track clicks on `

[2020-10-16 10:10] khawkins98 commented on #1132
This one's done. Closing. Some related work in #1161

[2020-10-16 10:10] #1132 closed, assigned to nobody

[2020-10-17 09:18] #968 closed, assigned to khawkins98

[2020-10-19 07:14] khawkins98 commented on #1115
Can be closed?

[2020-10-19 07:23] khawkins98 commented on #685
I think the above slide deck largely covers the use case; two actions:

1. Some things are outdated and need to be updated
2. We should link to from appropriate places in `EMBL-` and `EBI-` specific components and boilerplates

[2020-10-19 07:24] khawkins98 commented on #673
Can be closed?

[2020-10-19 07:26] sturobson commented on #1115
Maybe for the backlog list?

Looks like we've got it in 28 files from a quick search.

Some of those I think will have to stay (EBI header/footer and of course `vf-body) but the rest can probably go

[2020-10-19 07:26] khawkins98 commented on #1119
I'm going to turn off the "You're on your local development environment" banners. In general, they seem to be annoying.

If coders do wind up getting confused without them, we could easily reactivate.

Closing. Please reopen if you think we need to.

[2020-10-19 07:26] #1119 closed, assigned to khawkins98

[2020-10-19 07:28] khawkins98 commented on #1121
Can be closed?

[2020-10-19 07:30] khawkins98 commented on #1150
This is done.

[2020-10-19 07:30] #1150 closed, assigned to khawkins98

[2020-10-19 07:33] khawkins98 commented on #1074
We now show the latest version on the homepage: https://visual-framework.github.io/vf-core/

![image](https://user-images.githubusercontent.com/928100/96414879-01803480-11ee-11eb-9bbe-79e497fae369.png)

And we list out various version on the `/updates` page.

The homepage also does a bit better job restructuring on npm versus CDN.

More could always be done, but being bold and closing.

@sturobson

[2020-10-19 07:33] #1074 closed, assigned to khawkins98

[2020-10-19 08:17] khawkins98 commented on #974
Achieved in #1166

[2020-10-19 08:17] #974 closed, assigned to khawkins98

[2020-10-19 08:35] sturobson opened #1167 "REFACTOR: Typography"
Currently the typography feels a little 'disjointed' and doesn't tie nicely with the 8px layout system that we're slowly introducing.

Things to do:

1. Agree on the font sizes for headings and text for desktop
2. Agree on the font sizes for headings and text for desktop
3. Introduce #865 for components
4. Have separate 'content' and 'component' Sass mixin (making use of #865)
5. Start implementin

[2020-10-19 08:56] khawkins98 commented on #1167
Worth waiting for the dust to settle on EMBL.org first?

[2020-10-19 09:33] khawkins98 commented on #1143
In #1168 we've added the JS linting.

There are many updates needed to the files, and should be done in a separate step.

[2020-10-19 09:33] #1143 closed, assigned to nobody

[2020-10-19 09:40] khawkins98 commented on #521
@sandykadam I was going to remove the below, but I think you could repurpose that config for #720 (CHORE - Deploy documentation sites to visual-framework.dev)?

https://github.com/visual-framework/vf-core/blob/2b719c9b3fa1f8ab0fe59bfb28076a6d79575596/.gitlab-ci.yml#L49-L78

[2020-10-19 10:04] khawkins98 commented on #521
Closing this.

We no longer use https://dev.beta.embl.org/guidelines/visual-framework/dev-docs/, but @sandykadam may be able to reuse that code as we set up the https://www.visual-framework.dev url

[2020-10-19 10:04] #521 closed

[2020-10-19 13:12] khawkins98 commented on #1161
@sandykadam Once rc.6 is live on npm this will work.

For your particular use case, you'll need to add `data-vf-analytics-label="A special label"` to your input checkboxes.

[2020-10-19 13:49] sandykadam commented on #1161
Thanks @khawkins98 thats great, I will check and will let you know

[2020-10-20 10:58] khawkins98 commented on #1161
Links for posterity:

- https://www.npmjs.com/package/@visual-framework/vf-analytics-google
- https://unpkg.com/@visual-framework/vf-analytics-google@1.0.0-rc.6/CHANGELOG.md

[2020-10-20 16:12] khawkins98 opened #1175 "Discussion/notes: improving the component library browser"
The component library remains an ongoing work in progress.

One of the big outstanding things that has been discussed a few times is how to handle "in context" component navigation ... that is, the left column:

![image](https://user-images.githubusercontent.com/928100/96611005-878aa100-12fc-11eb-9f1b-97f8049e2413.png)

## The problem

The left column works well from a UX approach, but as a simple

[2020-10-20 16:14] khawkins98 commented on #1175
I'll probably make an "exploratory branch" over the next couple of days.

[2020-10-20 16:44] sturobson commented on #1175
<img width="1279" alt="Screenshot 2020-08-30 at 18 33 39" src="https://user-images.githubusercontent.com/925197/96617544-ad637600-12fb-11eb-93cb-55d16dc80f35.png">

There's also this old idea I had which I wanted to dig into at some point…

But, I think, there would (at least) need to be a uniform way of denoting variants and themes -- which we currently do not have.

[2020-10-20 16:56] khawkins98 commented on #1175
Yeah this is part of a "bunch of things".

- component navigation
- page hierarchy
- component previews

Which may not be able to be solved individually.

[2020-10-21 10:11] sturobson opened #1176 "🐛 fractal previews no longer picking up the local CSS"
From the recent changes I've noticed that the CSS isn't loading in Fractal when running `gulp dev` when inside `tools/vf-component-library`.

the `path` doesn't appear to be resolving, or the CSS file is no longer there as replacing

[code]

with

[code]

works as expected, but is obviously not a viable solution.

[2020-10-21 10:19] khawkins98 commented on #1176
Might be from the move from fractal 1.2.1 to 1.3.0

[2020-10-22 07:23] khawkins98 commented on #1175
Adding a couple more (I should have thought to add these sooner).

### The omnipresent Gov.uk design system

![image](https://user-images.githubusercontent.com/928100/96838186-d002a580-1447-11eb-8332-50dff689cbd5.png)

https://design-system.service.gov.uk/components/accordion/

### Co-op

![image](https://user-images.githubusercontent.com/928100/96838248-ec064700-1447-11eb-8822-2822a8b440e0.png)

[2020-10-22 11:16] khawkins98 commented on #1175
Dropping @sturobson 's mockup here so it doesn't disappear again.

![Screen Recording 2020-08-19 at 11 16 01](https://user-images.githubusercontent.com/928100/96864436-b02fa980-1468-11eb-91aa-6b8d73814822.gif)

[2020-10-22 11:18] khawkins98 commented on #1175
☝️  Noting the obvious that to fully achieve the above we'll have to be much more structured in our approach to the README.md, however we can still make some progress towards it.

[2020-10-23 11:16] sandykadam commented on #720
Deployment done and domains are in place now.
https://latest.visual-framework.dev/

https://stable.visual-framework.dev/

[2020-10-26 08:50] khawkins98 opened #1185 "Optimisation: reases the fractal theme"
Originally we used the fractal theme as our component library, but we [now use Eleventy](https://www.allaboutken.com/posts/20191112-extendeing-fractal-components-eleventy-static-sites.html) for the component library.

So:

- [ ] our [`vf-frctl-theme`](https://github.com/visual-framework/vf-core/tree/develop/tools/vf-frctl-theme) can be optimised
- [ ] Update to fractal 1.4.1 #1183
- [ ] Fractal pr

[2020-10-27 09:58] khawkins98 opened #1190 "Chore: sneak in all the changes that don't need new releases"
There are many trivial updates that need to be done to many components that don't warrant npm releases:

- [x] Update JS to comply with new linting
- [x] Reorganize and tidy readmes #1189
- [x] Update some component classifications #1188
- [x] Tidy changelogs (bullets: no `-`, use `*`) #1191

Might be others as well.

Process:

- [x] ship any components to npm that need to go there
- [x] tag a rel

[2020-10-28 09:30] khawkins98 commented on #1190
My sorcery seems to have worked.

Made this 2.3.1-alpha.1 https://github.com/visual-framework/vf-core/releases/tag/v2.3.1-alpha.1

And:

[code]

[2020-10-28 09:30] #1190 closed, assigned to khawkins98

[2020-10-28 16:07] sandykadam commented on #1161
Hi Ken,

Issue 1 - Can we give first priority to "data-vf-analytics-label" if present else it should look for ID, currently it is giving preference to "id" even though "data-vf-analytics-label" is present.

Please check this PR code - https://gitlab.ebi.ac.uk/c19portal/cv19-frontend/-/merge_requests/185

![Screenshot 2020-10-28 at 16 06 39](https://user-images.githubusercontent.com/1227241/9746338

[2020-10-28 17:03] khawkins98 commented on #1176
I've been meaning to add this option to https://visual-framework.github.io/vf-core//troubleshooting

`git clean -f -X`

Which deletes all ignored and untracked files. So it will delete all the node_modules and any dynamic things.

Then reinstalled:

`yarn install && cd tools/vf-core/ && yarn install && gulp vf-dev`

I've done that and the local fractal seems to be fine.

Also my versions:

[code]

[2020-10-28 20:53] khawkins98 commented on #1161
I think the issue is that the `data-vf-analytics-label` is on the `mat-checkbox` element, and the DOM event is on the the further nested `input` element.

Can you add the `data-vf-analytics-label` to `input`?

This might also relate to issue 2.

[2020-10-29 09:37] sturobson commented on #1176
doing the `git clean` and re-instsalling everything worked.

I think we can close this as it's been added to the documentation?

[2020-10-29 09:39] khawkins98 commented on #1176
![drop it in the ocean](https://media.tenor.co/images/36423c60a761ba8c4d2325d08d1062c9/tenor.gif)

[2020-10-29 09:39] #1176 closed, assigned to khawkins98

[2020-10-29 11:47] oss6 commented on #1161
Hi @khawkins98 , I am Ossama Edbali from EBI, working with @sandykadam.

We tried putting the `data-vf-analytics-label` attribute on `input`, however the latter is hidden (internal styling from `mat-checkbox`).
So I tried putting the analytics attribute on `label`, however the `target` element is the child of `label` (in this case `span` or the `div`, see the above image). In `vf-analytics-google.

[2020-10-29 11:51] khawkins98 commented on #1161
Thanks for your research. Yes PRs are very welcome.

Alternatively we could also observe `mat-checkbox` for the data attribute.

[2020-10-29 11:57] oss6 commented on #1161
I'm happy with either, adding it to `mat-checkbox` would be great, it depends on how generic `vf` wants to be (or if it's known to be used with Angular material).
I think that adding the functionality to `findParent` for elements inside `label` would still be a good thing.

[2020-10-29 12:07] oss6 opened #1198 "GA - Add ancestor retrieval for elements nested in label"
### Summary

Add ancestor retrieval for elements nested in `label`, just like `a` or `detail` elements (see https://github.com/visual-framework/vf-core/blob/develop/components/vf-analytics-google/vf-analytics-google.js#L221).

### Motivation

See https://github.com/visual-framework/vf-core/issues/1161#issuecomment-718701289

### Example use case

The COVID-19 Data Portal frontend uses Angular Mate

[2020-10-29 12:08] oss6 commented on #1198
I'm working on a PR for this :+1:

[2020-10-29 12:52] khawkins98 opened #1200 "Redirect to visual-framework.dev"
With the visual-framework.dev domain registered (#720) and live (#1199) we now need to redirect the old URLs from https://visual-framework.github.io/vf-core

## PR 1 #1205
1. [x] Update component library to not have a directory (🚫  https://latest.visual-framework.dev/vf-core/components)
1. [x] Update all the links in the vf-core repo
1. [x] Drop the travis deployment to gh-pages
1. [x] Tag a relea

[2020-10-29 16:23] oss6 commented on #1198
Closed by PR #1201

[2020-10-29 16:23] #1198 closed, assigned to oss6

[2020-10-29 21:59] peter-walter opened #1202 "Create documentation for browser support"

[2020-10-30 08:52] sturobson commented on #1202
Current documentation from VF1.x

http://wwwdev.ebi.ac.uk/style-lab/websites/meta-patterns/browser-compatibility.html

[2020-10-30 08:53] khawkins98 commented on #1202
As part of this would be good to gather browser usage stats for:

- [x] EBI.ac.uk
- [x] EMBL.org
- [x] Major scientific service using VF 2.0
- [ ] Bonus: EMBL.de

Might be others, but that should probably be more than enough "fact-finding".

I know @sturobson is also gathering some examples of prominent support policies -- I think most go like "Last 2 versions of major browsers get gold support, e

[2020-10-30 09:28] sturobson commented on #1202
Just some 'titbits':

The 7 year old IE11 has been given it's 'end of life' dates - https://death-to-ie11.com

Microsoft is starting to drop support for it already - https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666

I also remember seeing a tweet, maybe an article - about new Edge having a 'Legacy Mode' for people th

[2020-10-30 12:00] khawkins98 commented on #1202
Some stats for 1 Aug - 29 Oct 2020 users.

## EMBL.org

Browser | Note | Traffic %
-- | -- | --
Chrome | 62 and older account for less than 1% | 54.66%
Safari | 11 and older account for less than 1% | 17.84
Firefox |  77 and older account for less than 1% | 9.57
Safari (in-app) | | 4.96
Android Webview | 83 and older account for less than 1%   | 4.29
Edge (chromium) |   | 2.51
Edge classic |   | 1

[2020-10-30 12:03] khawkins98 commented on #1202
The most interesting thing here is that the IE 11 usage trends higher on the scientific services than the corporate sites (this is typical from past reviews as well). However, IE 11 is still well below 1 in 20 users (5%) in all cases.

By my view, that makes it reasonable to say "We focus our efforts on supporting major browsers in use by 95%+ of our audiences, and we ensure the site is navigable

[2020-10-30 12:11] khawkins98 commented on #1202
I think we can also steal some language from the EBI VF 1.x page (as @sturobson linked to), things like:

[2020-10-31 19:58] khawkins98 opened #1208 "Chore: update component labels"
Some component labels (in the `.yml`) are prefixed with "Visual Framework" which is out of place in the overview.

![image](https://user-images.githubusercontent.com/928100/97788779-c998ca00-1bbb-11eb-9e53-475298cf86bc.png)

[2020-10-31 20:06] khawkins98 commented on #1202
Related: Fallback support should be IE only #734

[2020-11-01 09:40] sturobson commented on #1202
I forgot about that.

It’s a shame IE10 and 11 no longer support the `if` meta tag things - otherwise we could bundle all this up in a separate CSS file.

Although - the things like `vf-grid` and `embl-grid` fall back to flex box - so it’s more than IE specific really.

[2020-11-02 13:50] sandykadam opened #1210 "GA - Feature to track outbound/external links"
Currently VF2.0 is not able to track external outbound/outgoing links in GA. So we need to add this feature in current component.

[2020-11-02 15:32] khawkins98 opened #1211 "Bug: EMBL Grid gap missing"
After the latest embl-grid update (#1206) the grid gap seems missing:

![image](https://user-images.githubusercontent.com/928100/97886644-21a10f00-1d29-11eb-8fde-f00555ea18f3.png)

The grid gap doesn't seem to be compiling:

[code]

I think `components/vf-sass-config/variables/vf-global-custom-properties.scss`

[code]

should be
[code]

(Note this version is not yet visible on https://visual-frame

[2020-11-02 15:47] dbushell opened #1212 "vf-cluster spacing variation margins"
Issue can be seen with the [Cluster](https://visual-framework.github.io/vf-core/components/vf-cluster/) examples.

I've noticed for the `medium` and `large` spacing variations the margin is set with this selector:

[code]

So the child items get the `--vf-cluster-margin` change.

However the parent which has a negative margin remains the `small` default.

[code]

The `--vf-cluster-margin` never up

[2020-11-04 15:01] sturobson commented on #1212
@dbushell just confirming with another persons eye … this is what is expected:

![Screenshot 2020-11-04 at 14 57 09](https://user-images.githubusercontent.com/925197/98127487-ac5f4680-1eae-11eb-8c98-8f847839d088.png)

[2020-11-05 09:24] #1212 closed, assigned to sturobson

[2020-11-05 11:14] khawkins98 commented on #1210
We could borrow the approach from the drupal google analytics module:

https://git.drupalcode.org/project/google_analytics/-/blob/8.x-2.x/js/google_analytics.js#L67

[code]

We'd need to:

1. Add a new category "external links"
2. Add a way to detect the current domain (if on www.EBI.ac.uk/EBI, everything in `*.ebi.ac.uk/*` would be considered internal)
3. Optional: Add a way to pass external doma

[2020-11-05 11:16] khawkins98 commented on #1210
Aside: I noticed the drupal module uses `ga('set', 'transport', 'beacon');`, which might be good for us to use as it offers more robust tracking:

https://developers.google.com/analytics/devguides/collection/analyticsjs/sending-hits

[2020-11-05 11:17] khawkins98 commented on #1161
I think this one can be closed. Proceeding.

[2020-11-05 11:17] #1161 closed, assigned to khawkins98, sandykadam

[2020-11-06 10:31] khawkins98 commented on #1211
When developing locally also realised this will affect quite a few other components (all that use --page-grid-gap). Bumpin priority up on it.

[2020-11-06 11:10] #1211 closed, assigned to sturobson

[2020-11-06 11:17] sturobson commented on #1210
With #1216 merged - can this be closed now?

@sandykadam + @khawkins98

[2020-11-06 11:42] sturobson commented on #1127
This can be closed now - and Stuart must remember to create a new branch so he doesn't merge small changes to `master` ever again.

[2020-11-06 11:42] #1127 closed, assigned to sturobson

[2020-11-06 11:43] sturobson commented on #1114
As #1124 has been merged - we can close this.

[2020-11-06 11:43] #1114 closed, assigned to sturobson

[2020-11-06 11:45] sturobson commented on #922
I'm closing this as we now use `vf-cluster` to help with the layout of `--main` which this issue was mainly about.

@khawkins98 feel free to re-open - or start a fresh issue if there's some loose threads here that warrant further discussion.

[2020-11-06 11:45] #922 closed, assigned to sturobson

[2020-11-06 11:50] sturobson commented on #1121
![Screenshot 2020-11-06 at 11 49 07](https://user-images.githubusercontent.com/925197/98363047-3bdb3580-2026-11eb-93f0-4ed9f047a066.png)
![Screenshot 2020-11-06 at 11 48 53](https://user-images.githubusercontent.com/925197/98363049-3d0c6280-2026-11eb-8a9e-d6779a7a30bd.png)
![Screenshot 2020-11-06 at 11 48 45](https://user-images.githubusercontent.com/925197/98363052-3d0c6280-2026-11eb-8842-3a5dd01

[2020-11-06 11:51] sturobson commented on #1121
These screenshots were taken today in Safari.

And we are now at `2.3.1rc1` so I'm closing this.

https://visual-framework.github.io/vf-core/updates/2020-10-29-component-updates/

[2020-11-06 11:51] #1121 closed, assigned to sturobson

[2020-11-06 11:53] sturobson commented on #1120
![Screenshot 2020-11-06 at 11 52 40](https://user-images.githubusercontent.com/925197/98363274-9bd1dc00-2026-11eb-9e98-65a3ae29af43.png)

Closing this now.

[2020-11-06 11:53] #1120 closed, assigned to nobody

[2020-11-06 12:32] sturobson commented on #1128
We can close this as we have settled on a numeric representation for sizes now as seen in #1180

[2020-11-06 12:32] #1128 closed, assigned to sturobson

[2020-11-06 12:33] sturobson commented on #782
We can close this as `vf-inlay` is now deprecated entirely.

[2020-11-06 12:33] #782 closed, assigned to sturobson

[2020-11-06 14:10] sandykadam commented on #1210
Works great on local but I found new bug when you click on footer logos European commission or any logo link, there is error

`
ERROR TypeError: Cannot read property 'split' of undefined
    at vfGaTrackInteraction (vf-analytics-google.js:328)
    at HTMLBodyElement.<anonymous> (vf-analytics-google.js:233)
    at ZoneDelegate.invokeTask (zone-evergreen.js:399)
    at Object.onInvokeTask (core.js:4

[2020-11-06 14:16] khawkins98 commented on #1210
This looks like it might be a separate issue with a missing `getElementsByTagName("img")[0]` in

[code]

[2020-11-09 13:34] khawkins98 commented on #1200
We should be all set here; some test redirects:

- https://visual-framework.github.io/vf-core/components
- https://visual-framework.github.io/vf-core/search/?search_query=intro
- https://visual-framework.github.io/vf-core/feed.xml

@sandykadam one thing missing is a 404 page, is it easy to map this page https://latest.visual-framework.dev/404.html ?

[2020-11-09 14:11] sandykadam commented on #1200
Does it have same setup like we had "info/error-pages/404/index.html" or create custom one.

[2020-11-09 14:22] khawkins98 commented on #1200
This 404 has some special things, it currently deploys to /404.html, but I can easily move it under `info/error-pages/404/index.html` if that's better?

[2020-11-09 14:32] sandykadam commented on #1200
Sorry my bad I fail to notice you already have actual "404.html" and I thought there is no 404 and need to have rules in place.
Please ignore my previous comments, I got it now will have rules in place for 404.html.

[2020-11-09 15:04] khawkins98 opened #1223 "Bug: some component index.scss files missing variables"
A number of components' `index.scss` files are missing Sass variable imports and results in errors on compilation (this has happened for some time):

[code]

[2020-11-09 15:04] sandykadam commented on #1200
Fixed now applied to both latest & stable.

[2020-11-09 15:05] khawkins98 commented on #1200
👍  thanks!

https://stable.visual-framework.dev/dasfs

[2020-11-09 15:05] #1200 closed, assigned to khawkins98

[2020-11-09 15:56] khawkins98 opened #1224 "Add a recommended extensions file"
As mentioned in #1222, we have some recommended extensions for VS Code, it would be good to add them as a `.vscode/extensions.json` file:

- https://stable.visual-framework.dev/developing/getting-started/setting-up/
- https://tattoocoder.com/recommending-vscode-extensions-within-your-open-source-projects/

Format:

[code]

[2020-11-10 09:09] khawkins98 opened #1226 "GA: Issue when tracking image interactions"
In vf-analtyics-google, there's bug when you click on footer logos European commission or any logo link:

[code]

_Originally posted by @sandykadam in https://github.com/visual-framework/vf-core/issues/1210#issuecomment-723100300_

[2020-11-10 09:10] khawkins98 commented on #1210
Have moved the above to a new issue. Closing this one.

[2020-11-10 09:10] #1210 closed, assigned to khawkins98

[2020-11-10 09:46] khawkins98 commented on #878
Picking back up on this today.

There's a placeholder at https://latest.visual-framework.dev/patterns/search-results/

We may find ourselves needing two (or perhaps more) variants of a search page, but let's see how far we get with one.

Some use cases to incorporate:

### embl.org/jobs
![image](https://user-images.githubusercontent.com/928100/98657019-b0251a00-2341-11eb-886a-4fd14b9ee14e.png)

##

[2020-11-10 14:47] khawkins98 commented on #878
A very much work in progress for tomorrow's clinic

![image](https://user-images.githubusercontent.com/928100/98689185-f7280500-236b-11eb-9f8c-3ec242413244.png)

[2020-11-11 14:12] sturobson opened #1229 "🤔 feedback needed — vf-forms refactor and restyling"
There have been a few questions raised about the styling of some of the form elements, specifically:

- their interactive states
- their colour contrast
- their spacing

Here's a before/after of where #1228 is at

*new radio and checkbox designs*
![Screenshot 2020-11-09 at 12 57 13](https://user-images.githubusercontent.com/925197/98825236-2b62fa80-242c-11eb-8a3d-4ca3df0b30df.png)

*new radio and

[2020-11-11 14:18] sturobson commented on #1229
- the placeholder text might need looking at for colour contrast still.
- the inline `vf-form__checkbox` might need fixing up still.

[2020-11-11 14:45] sturobson commented on #1148
a quick note that the [live implementation here](https://www.covid19dataportal.org) doesn't allow keyboard focus on the dropdown so we'd need a solution that addresses that.

[2020-11-11 20:26] khawkins98 commented on #1148
Adding notes from our VF UX Clinic conversation today.

The current plan is to add this to the roadmap for sometime next year. It could be prioritised if there is significant demand or we learn something new.

There is a general uncertainty if we should "endorse" the use of dropdowns as officially supported; if we did:
- What would be the rules about when to use them?
- Are they effective?
- Shoul

[2020-11-12 08:58] khawkins98 opened #1230 "📒 Documentation: write reference on image handling best practice"
In short: it's best to not let CSS do the image cropping. Resize your images or have your CMS or image proxy do the cropping.

[2020-11-12 09:18] sturobson commented on #1230
Some thoughts:

- we should still make use of CSS for cropping as the 'fallback' for when content creators don't follow the size guidelines*
- * we need to make the size guidelines
- we should investigate the reintroduction of using width and height to help the [layout engine in browsers](https://www.smashingmagazine.com/2020/03/setting-height-width-images-important-again/).

- more to follow, I'm

[2020-11-12 12:56] khawkins98 opened #1231 "📒 Documentation: clarify component interoperability"
Many developers expect that VF components should all share the same version, that is: it feels weird to use `vf-button@1.2.3` with `vf-card@2.2.2`.

From a developer:

We should make the versioning practice clearer.

We have already have these pages, which aren't so easy to find:

- https://stable.visual-framework.dev/developing/components/updating-a-component/
- https://stable.visual-framework.de

[2020-11-12 13:02] sturobson commented on #1231
I know Fractal shows the components used in a component.

- Is this possible with our new layout?
- Is it possible to find the version number and attach it?

[2020-11-12 13:31] khawkins98 opened #1232 "🙋🏻Question: Primary, secondary and brand colours"
We currently use blue for the VF primary, and green for secondary. However for some "branded" components it's better to use the secondary green first. Would a brand colour help?

[2020-11-12 13:34] sturobson commented on #1232
Perhaps we can re-align (again) with corporate and have:

green as primary
blue as secondary
dark grey as tertiary

And give some good 'guide rails' as to when to use what button (for example) in what context. Some of this can then be written into the components.

[2020-11-12 13:35] sturobson commented on #1232
note: this might annoy teams using the CDN who had to switch this around the last time.

So we'd need to give some sort of time frame for it.

[2020-11-12 13:44] khawkins98 commented on #1232
It might be we're just overthinking it. For example: vf-navigation links are `--vf-theme--tertiary`:

![image](https://user-images.githubusercontent.com/928100/98947271-45b4db00-24f5-11eb-91f5-cd9f72323b57.png)

So then the default background for vf-header could be `--vf-theme--secondary`?

[2020-11-12 15:30] nikiforosk commented on #1229
Thanks for walking us through this @sturobson  Below are a few thoughts with some supporting links:

1. I feel that the darker border makes the text box easier to spot. Maybe the mouseover effect could be a form of highlight [like Google](https://www.google.com/) does?

2. Form design gury Caroline Jarrett strongly recommends against putting labels (such as hint or placeholder text) in the text bo

[2020-11-12 15:41] gabsie commented on #1229
Hey, thanks, @sturobson and everyone

Yes from me, too on our decision earlier - error text at the bottom and with how this was implemented for the Acct manager  - hint text under the label, error text under the form.

I think I would also want to see it in action, because then we can additionally give feedback when it's interactive!

I really liked our session today, more of those!
Gabs

[2020-11-12 15:59] sturobson commented on #1229
Thanks Niki, some replies below:

This might work, as we have a drop-shadow effect on our card components (if they're a link), so it's something that already exists in the visual framework.

here's a 'bells and whistles' example —
![Screenshot 2020-11-12 at 15 58 44](https://user-images.githubusercontent.com/925197/98963864-08a21600-2500-11eb-9612-0ff2e039f2ab.png)

the icon is taken from the stre

[2020-11-14 06:51] khawkins98 opened #1236 "Discussion: standardise colour tint stacks"
(Adding this from a discussion by @sturobson on Slack)

Some of the current colour lightest, light, normal, dark, darkest tints aren't smooth steps. For example, the greys:

![image](https://user-images.githubusercontent.com/928100/99141683-14035780-264e-11eb-9c11-9a269d33bc96.png)

- https://latest.visual-framework.dev/design-tokens/colours/

Could these be standardised?

https://codepen.io/sturo

[2020-11-14 07:08] khawkins98 commented on #922
We might want to re-open this one. In any case, copying a conversation with @sturobson  from Slack so it isn't lost.

<a target="_blank" rel="noopener noreferrer" href="https://user-images.githubusercontent.com/928100/99141907-14045700-2650-11eb-9f6e-63a121721da0.png"><img src="https://user-images.githubusercontent.com/928100/99141907-14045700-2650-11eb-9f6e-63a121721da0.png" alt="Screen Shot 2020

[2020-11-16 10:20] #1226 closed, assigned to khawkins98

[2020-11-16 14:39] #1208 closed, assigned to nobody

[2020-11-17 14:19] khawkins98 opened #1243 "Enhancement: support more than one vf-show-more on a page"
For the work to improve forms (#1229) we need to improve [`vf-show-more`](https://stable.visual-framework.dev//components/vf-show-more/) to support more than one element per page.

We should be able to draw from vf-tabs to use [`.closest`](https://developer.mozilla.org/en-US/docs/Web/API/Element/closest) (with polyfill for IE)

[2020-11-17 14:23] khawkins98 commented on #583
In the name of closing this ticket, i threw together this blog post for posterity.

[2020-11-17 14:23] #583 closed

[2020-11-17 14:25] khawkins98 commented on #589
Do we still need this ticket, or is all this part of our working practice now?

[2020-11-17 14:26] khawkins98 commented on #607
Still worth keeping open?

If yes, should we link to https://github.com/visual-framework/vf-core/milestone/25 ?

[2020-11-17 14:45] khawkins98 opened #1244 "Docs: getting started the VF's npm components"
The homepage has a section on getting started with recipes:

![image](https://user-images.githubusercontent.com/928100/99403966-5dbc9e00-28eb-11eb-9365-d8071cb83a3b.png)

This is good, but it doesn't spell out how to add the Sass and JS to an existing project, suggested revision:

[code]

The https://stable.visual-framework.dev/building/ docs also seem orphaned.

---

This relates to #1231 (Docume

[2020-11-18 08:33] sturobson opened #1246 "🤔 should `vf-footer` be sticky to the bottom of the viewport?"
On pages with little content - the footer just 'flows' which can leave whitespace below it, if the browser viewport is large.

Should we look at making it 'sticky'

![Screenshot 2020-11-18 at 08 31 58](https://user-images.githubusercontent.com/925197/99505448-c140dd00-2978-11eb-9b8d-4c53f65657dd.png)

[2020-11-18 14:21] oss6 opened #1248 "Enhancement: export vfGaTrackInteraction for ESM"
## Summary

Add the `vfGaTrackInteraction` function to the exported members of `vf-analytics-google`.

## Use case

In an Angular project we want to programmatically track an event and it would be useful to have something like this:

[code]

[2020-11-18 14:24] oss6 commented on #1248
As discussed in Slack I'm happy to raise a PR for this :+1:

[2020-11-18 18:02] #1248 closed, assigned to nobody

[2020-11-18 18:02] khawkins98 commented on #1248
I'll plan to do a component release tomorrow with the new feature.

[2020-11-18 18:18] oss6 commented on #1248
Thank you very much Ken

[2020-11-19 06:44] khawkins98 opened #1250 "🙋‍♀️ Question: Should we make vf-component-rollup installable"
Yesterday we discussed creating something like "vf-site-boilerplate" that would have "all" the VF component dependencies (but exclude the build logic).

Rather than make something new, we could turn vf-component-rollup into an installable dependency.

Changes:

- [ ] Update vf-component-rollup docs
- [ ] No longer hide vf-component-rollup in the component library
- [ ] Add all the things to the `v

[2020-11-19 23:07] gabsie commented on #1105
Hi, everyone

I am attaching here some faceting for dates on the left hand side...
Can we please discuss it some time?
I think with big search results with data, we need some options like these.
Once again - does this need another ticket?
Gabs

![Display updates - v1](https://user-images.githubusercontent.com/19713125/99735103-e853f780-2abb-11eb-99ee-ee4ce29e1ef4.png)

![Display updates - v1, rele

[2020-11-20 06:16] khawkins98 commented on #1105
Thanks @gabsie

- Layout: I've been doing some work at https://github.com/visual-framework/vf-core/issues/878#issuecomment-724748526 that would get closer to this
- Pagination: I've not seen that particular flavour before, but it looks nice. related work in #233
- FIlters/facets: Some work occurring in #1229

We have some priority work for EMBL.org in the next week, but would really like to spend

[2020-11-24 07:16] khawkins98 commented on #1248
This is now finally on npm. Had a few things pop up.

https://stable.visual-framework.dev/updates/2020-11-24-component-updates/

[2020-11-25 14:21] #1146 closed, assigned to sturobson

[2020-11-25 14:21] #997 closed, assigned to nobody

[2020-11-25 14:21] #1133 closed, assigned to sturobson

[2020-11-25 14:28] sturobson commented on #1232
A quick update to this - as I've gone 'gung-ho' and introduced something new to `vf-core`.

Previously we would declare the 'theme' of a component by having this class name structure - `vf-component-theme--`.

For `vf-card` and `vf-hero` I've moved to a more simpler `vf-component--`, so `vf-component--primary` etc.

In doing so, at the same time I moved towards what was listed above:

green as pri

[2020-11-25 16:16] #1243 closed, assigned to khawkins98

[2020-11-26 16:16] sturobson commented on #1232
After the meeting this morning - it's clear that the change mentioned above 'jumped the gun' a little.

We discussed `brand` as a naming convention where we could still end up with `primary`, `secondary`, etc.

Whilst looking through the code I remembered a while back I introduced `theme-` as a design token.

I'm thinking now that we could leverage this (after a bit of a re-write) to do:

`vf-them

[2020-12-02 11:22] khawkins98 opened #1271 "📒 Documentation: a basic how-to on integrating VF JavaScript into React"
While the VF uses ES6 JS Modules, it's not straightforward on how to pass these to React and integrate them into the component lifecycle.

I was discussing vf-tabs on the [EBI People service](https://gitlab.ebi.ac.uk/ebiwd/people-service/-/merge_requests/61) with @meladawy and have a method we could integrate as reusable guidance.

## Things for all VF JS components

- [ ] add a TypeScript definit

[2020-12-02 14:10] khawkins98 opened #1272 "📒 Documentation: vf-grid spans"
It doesn't seem possible to find docs on `vf-grid__col--span-` in the component library. This came up in a slack support request today.

So two actions, I think:

- [ ] document `.vf-grid__col--span-X`
- [ ] cross link to `vf-utility-classes/#vf-utility-classes--grid`

[2020-12-04 05:32] khawkins98 opened #1277 "🤦‍♂️ Chore: spelling of `vf-componenet-rollup`"
Somehow I've just noticed the typo in [`vf-componenet-rollup`](https://github.com/visual-framework/vf-core/tree/develop/components/vf-componenet-rollup).

As this is a central part of the build, renaming the component will require updating the build process. And rather than introducing a massive breaking change, we'd need to anticipate both spellings.

1. [ ] Fix spelling of `vf-componenet-rollup`

[2020-12-04 12:08] khawkins98 commented on #878
Copying some comments from slack in as while I think they've been previously raised, they're not captured here.

![image](https://user-images.githubusercontent.com/928100/101161811-b0a78c80-3631-11eb-9624-6d435a79a6e5.png)

[2020-12-05 06:37] khawkins98 opened #1281 "🐛 Bug: vf-component-generator needs updating"
The vf-component-generator no longer functions as a standalone install for projects needing to add local components, the docs also are out of date:

1. [ ] when following the directions, the component gets generated in the wrong folder, it should use the project's `vfConfig.vfComponentPath`
    - https://github.com/visual-framework/vf-core/blob/develop/tools/vf-core/gulp-tasks/vf-component.js#L11

[2020-12-07 11:13] sturobson opened #1284 "Enhancement: making all the components 'stack' nicely across pages and sites."
We are running into issues with how the components 'stack' on top of each other because of the vast potential difference across sites and pages.

We can make things better by improving things across `vf-core`, `vf-wp`, and `vf-eleventy` (static-html-pagess). By intruding the `vf-stack` component more globally and letting the components dictate any custom margin sizes between each other in the comp

[2020-12-07 11:26] sturobson commented on #1284
https://gitlab.ebi.ac.uk/emblorg/embl-org-static-html-pages/-/merge_requests/642

[2020-12-07 13:30] khawkins98 opened #1286 "💬 Discussion: use periods in changelogs"
As discussed in 1285:

Doing a quick search, it seems the Gutenberg project made some effort to ensure their changelogs end in `.`s https://github.com/WordPress/gutenberg/pull/22010/files

https://github.com/WordPress/gutenberg/blob/master/packages/scripts/CHANGELOG.md

I'd be happy to say we do the same.

So

1. [ ] Update changelog files as appropriate/possible
2. [ ] Document this

[2020-12-08 10:34] sturobson commented on #878
regarding facets -- I've mentioned this - but documenting it here.

I worked with UCL on their search system in 2014/5 and the result is still live. This was based off of exterior UX for the rough design and user journeys. Essentially on smaller viewports the facets become hidden by default:

https://search2.ucl.ac.uk/s/search.html?query=science&collection=website-meta&profile=_directory&tab=direc

[2020-12-08 17:05] khawkins98 opened #1287 "Consistency: "read more" links"
We inconsistently approach "read more" links in our pages.

We discussed this briefly in our [8 Dec 2020 UX clinic](https://docs.google.com/document/d/1200GecXZZbIzHJ3HQ2ygY5NIYwQDyRVhfP21iscP7Y8/edit?pli=1#heading=h.vdftb4fmed18)

- Niki point out that where possible to avoid text like "Read more" and instead let in-context links drive the conversions;
https://www.nngroup.com/articles/learn-more-

[2020-12-08 17:12] sturobson commented on #1287
I've always felt the Neilson research was more to do with text that is links rather than call to action buttons … of course - we have both of those here too

[2020-12-08 17:26] khawkins98 commented on #1287
Yeah, i think that's a good distinction. A "call to action" is something we still want to do, so ...

- "Read more": Don't do 'em
- "Call to action": Yes

But what do they look like?

- Should be highly visible, so probably `vf-button` (primary and not small)
- Positioning: left, right, centre?

[2020-12-09 14:18] nikiforosk commented on #1287
Just to follow up, I think that we should review these examples on a case by case basis as they are a mixture of improving the copy, the layout and the call to action. As a first attempt to do this:

1. The "Apply now" button below the job description in the examples that you shared above is redundant (especially given that it is the same link as the link on the title of the job description). This

[2020-12-09 14:22] nikiforosk commented on #1287
A separate observation which is probably a topic on its own:

Is it "Latest Jobs" with capital J (title case) as in the first screenshot or "Latest jobs" with small j (sentence case) as in the second one?

[2020-12-09 14:31] sturobson commented on #1287
I think it would be sentence case – Latest jobs.

As a fan of Title Case - I started using it for most things in `vf-core` before I was … 'reprimanded' (in the loosest of ways).

[2020-12-09 14:32] nikiforosk commented on #1287
Title Case Can Go Wild...

but sentence case also has issues: Are job titles in the job descriptions such as Content Team Lead proper nouns?

which reminds me: Where is our styleguide?

[2020-12-11 08:06] khawkins98 commented on #1271
This has been largely accomplished as a proof-of-concept in #1278 and #1291

- https://github.com/visual-framework/vf-core/blob/develop/tools/vf-extensions-react/README.md
- https://github.com/visual-framework/vf-react
    - https://visual-framework.github.io/vf-react/

We'll pick up more work and features as we go down the line, however we now have a workable approach to trial.

This could also b

[2020-12-11 08:06] #1271 closed, assigned to khawkins98

[2020-12-11 09:55] khawkins98 opened #1292 "Documentation: add update procedure to "Troubleshooting""
Adding guidance on updating VF components to https://latest.visual-framework.dev/troubleshooting/ would be helpful, draft text:

[code]

[2020-12-11 18:15] #1272 closed, assigned to nobody

[2020-12-11 18:15] #1292 closed, assigned to khawkins98

[2020-12-11 18:15] #1224 closed, assigned to khawkins98

[2020-12-13 17:42] khawkins98 opened #1294 "Chöre: investigate Cypress for testing"
Doing this here as a sub to investigate at some point. https://www.cypress.io/

[2020-12-14 11:20] khawkins98 commented on #720
This one is now done.

[2020-12-14 11:20] #720 closed, assigned to sandykadam

[2020-12-15 13:31] khawkins98 commented on #1202
Stub documentation at: https://latest.visual-framework.dev/guidance/browser-support/

[2020-12-15 13:32] khawkins98 commented on #1230
Stub documentation at https://latest.visual-framework.dev/guidance/image-handling/

[2020-12-15 13:32] khawkins98 commented on #1231
Some documentation at https://latest.visual-framework.dev/guidance/versioning-and-component-interoperability/

By my view, this can now be closed.

[2020-12-15 13:34] khawkins98 commented on #1281
Hey @sturobson, I think you said you had some luck setting up a PlopJS conversion?

[2020-12-15 13:36] khawkins98 commented on #1244
I think we're now in a better position on this. Being bold and closing.

![image](https://user-images.githubusercontent.com/928100/102221850-f04c5f00-3ee2-11eb-9089-77024379e8f3.png)

[2020-12-15 13:36] #1244 closed, assigned to khawkins98

[2020-12-15 13:44] khawkins98 commented on #1246
I gave this a quick try using a method (not necessarily the best method):

[code]

That works but it makes an aliasing artefact (on Chrome) with how the full-bleed green line is drawn:

![image](https://user-images.githubusercontent.com/928100/102222536-d3645b80-3ee3-11eb-92d9-9f5882169d90.png)

Adding a `will-change: transform;` sorts it.

But it makes me wonder if this is a "content issue" and w

[2020-12-15 13:55] khawkins98 commented on #914
Coming back to this one and wondering, should it be a variant of [`vf-list`](https://stable.visual-framework.dev/components/vf-list/)? `vf-list--definition`?

Pros:
- reduces "yet another component"
- easier to reuse code from vf-list.scss

Cons:
- risk of conflating concerns

Since `vf-list` is both for `ol` and `ul`, it seems fair to add support for `dl`?

[2020-12-15 13:56] khawkins98 commented on #1167
Related  #607 (REFACTOR / QUESTION -- component and content typography)

[2020-12-15 14:01] khawkins98 commented on #1148
I've moved this into a conversation at https://github.com/visual-framework/vf-core/discussions/1299

[2020-12-15 14:01] #1148 closed, assigned to nobody

[2020-12-15 14:23] khawkins98 commented on #1185
We've now deprecated the custom fractal theme:

- https://stable.visual-framework.dev/updates/2020-11-27-component-updates/
- https://github.com/visual-framework/vf-core/pull/1262

Closing.

[2020-12-15 14:23] #1185 closed, assigned to khawkins98

[2020-12-15 14:25] khawkins98 commented on #1010
This was done some time ago:

[code]

https://github.com/visual-framework/vf-core/blob/develop/components/vf-design-tokens/src/variables/vf-layout.yml

[2020-12-15 14:25] #1010 closed, assigned to nobody

[2020-12-15 14:26] khawkins98 commented on #976
I think this is #953 by another name, or at least a variant of 953.

Crossling and being bold: closing.

Stu please reopen if you see fit.

[2020-12-15 14:26] #976 closed, assigned to sturobson

[2020-12-15 14:27] khawkins98 commented on #953
Copying in Stu's comment from #976:

[2020-12-15 14:27] sturobson commented on #1010
Hmmm, that naming convention :D

perhaps it should be more `vf-layout--30000` rather than `vf-layout--cozy`.

I'm joking here

[2020-12-15 14:29] khawkins98 commented on #1010
![cozy be like](https://media.tenor.co/images/825a282fdcb89937a2c57f04f9fca3fc/tenor.gif)

[2020-12-15 15:03] #1286 closed, assigned to nobody

[2020-12-15 17:26] khawkins98 commented on #1036
Leaving this one open until we've swapped all the local CSS for the container so we can ensure a smoother upgrade in the futuere.

[2020-12-16 10:35] sturobson opened #1303 "COMPONENT: we need a vf-skip-content component"
Add a one sentence summary of what it is you need it to do.

Now that Firefox has a developer tool to show the tab order for screen readers I think we need to add a 'skip to content' component so that people can get past quite a few tabs to get to the content.

Here's how many tabs they need to get to before they get to a news article:

![Screenshot 2020-12-16 at 10 28 22](https://user-images.gith

[2020-12-16 10:40] khawkins98 commented on #1303
This is "invisible" right?

Here's one that we've used at EBI in that past:

[code]

[2020-12-16 10:47] sturobson commented on #1303
More or less - I think it depends how it's done.

I have seen some that are exposed when I scroll 'up the page'. We don't want that.

This also means we need to add and 'enforce' some semantic things as well I think - like having the page 'content' wrapped in a `<main>` element.

[2020-12-16 17:19] khawkins98 commented on #1287
Another one spotted on https://www.embl.org/sites/grenoble/

![image](https://user-images.githubusercontent.com/928100/102382798-206f2d00-3fcb-11eb-975f-7d5187d83891.png)

Here the use case is a bit of a "related: you might also like all EMBL news"

[2020-12-16 17:37] sturobson commented on #1287
I think if we've make sure that interactive elements are blue -- then the heading with the arrow should be enough.

If not - the heading should stop being a link with the arrow -- which would impact other use cases.

I think things like 'see more new from across EMBL' need to go.

[2020-12-17 11:29] nikiforosk commented on #1287
I agree, I feel that if I'm at EMBL Grenoble then I expect to see news from EMBL Grenoble.

The "more of the same from EMBL" presumably is an attempt to explain that "Grenoble is one of the six EMBL sites, and we have whatever is featured in this section across EMBL too" but this doesn't look like a good way to explain the relationship between a site and the wider organisation (in fact it may even

[2020-12-17 11:33] sturobson commented on #1287
I actually misread the link - in that it was duplicated what "News from EMBL Grenoble" was doing.

[2020-12-21 09:57] khawkins98 commented on #589
Hi @nitinja this one might be good for you to look at it. It relates to the nunjucks templating and conditional output.

Some of our component templates are very up-to-date and use best practices, bust some of the older ones are more simplistic and prone to breaking.

- good templates:
  - [vf-card](https://github.com/visual-framework/vf-core/blob/develop/components/vf-card/vf-card.njk)
  - [vf-bu

[2020-12-21 12:11] sturobson commented on #589
a quick note on `whitepsace`.

For some reason, Eleventy doesn't treat whitespace in the `.njk` component like Fractal does. Fractal is a lot less 'strict' and you can get away with more whitespace for clarity of the component.

In Eleventy it doesn't like 'over indentation'.

Normally the fix is as easy as adding `-` to the Nunjucks code:

Where we have `{% include thing %}` in Fractal, Eleventy

[2020-12-22 14:38] khawkins98 commented on #936
This came up today on Slack in a conversation with @filipe-dias.

The contentHub can already do the types of queries needed, the biggest request would be to add vf-summary or vf-list pattern support to the profile contentType. Maybe something to flag for the next sprint as we’ll need a lot of help from Maged.

Ultimately we'll still want this ticket in the VF issue queue as there would be follow o

[2020-12-22 15:30] sturobson commented on #936
With things like `vf-box`, `vf-stack`, `vf-card`, `vf-cluster` etc.

I'd like to try and push further away from the 'content specific' naming of components If at all possible.

[2020-12-22 16:27] khawkins98 commented on #936
Yeah, I think in this case there won't be be an embl-topic-listing component, rather it might be a function as part of embl-conenthub-loader (`function emblTopicListing () {}`) and that would read the breadcrumbs to construct the contentHub query.

[2020-12-23 10:43] #1136 closed, assigned to khawkins98

[2020-12-23 11:29] #809 closed, assigned to khawkins98

[2020-12-23 11:46] khawkins98 commented on #1223
Fixed by #1306

[2020-12-23 11:46] #1223 closed, assigned to nobody

[2021-01-14 09:12] khawkins98 commented on #1236
@cindyebi has been spending time working on the colours and scales, handing this off.

[2021-01-14 09:13] khawkins98 commented on #1167
Also adding @cindyebi to this one.

[2021-01-14 09:14] khawkins98 commented on #1232
This relates to #1236 and may become redundant once that is done.

[2021-01-14 09:43] cindyebi commented on #1167
Typography token updates:

- Change from the “T-shirt sizing” naming convention e.g. Extra Small, Small, Medium, etc. to H1, H2, …
- 16pt minimum font size using a Major Third type-scale of 1.250
- Bold and Semibold Heading font weight variants for a better visual hierarchy

Link to the **Design Library on Figma**: https://www.figma.com/file/3bkXbDDIFkIH8fMEdbCGvY/Design-Library?node-id=5%3A39

[2021-01-14 10:30] khawkins98 commented on #1167
Thanks Cindy.

Also attaching an export as a PDF for future reference: [typography.pdf](https://github.com/visual-framework/vf-core/files/5813775/typography.pdf)

The values would map to this file and a quick look suggest no major issues technically: https://github.com/visual-framework/vf-core/blob/develop/components/vf-design-tokens/src/typographic-scales/vf-font--sans.yml (Though I'm sure @sturo

[2021-01-14 10:50] cindyebi commented on #1236
Colour token updates:

- Colours are now organised based on functionality instead of hierarchy: will be discussed on #1232 separately
- Added a standardised Colour Palette stacks, created from the existing primary and brand colours: [Colour Palette.pdf](https://github.com/visual-framework/vf-core/files/5813881/Colour.Palette.pdf)
- Shade naming convention: "Shade Name #000", for example: Blue 700,

[2021-01-14 15:33] cindyebi commented on #1232
Colour token updates:

Colours are now organised based on functionality instead of hierarchy: [Colours.pdf](https://github.com/visual-framework/vf-core/files/5814011/Colours.pdf)

1. **Primary Brand Colour**: Green 700 (#18974C)

2. **Links**: 
Normal state: change from Blue 600 (#3B6FB6) to Blue 700 (#2A57A3) for better legibility.
Visited state: change from Blue 600 (#3B6FB6) to Purple 900 (#2A5

[2021-01-14 15:41] khawkins98 commented on #1232
Aside: @sturobson  with the new colour palette in https://github.com/visual-framework/vf-core/issues/1236#issuecomment-760117390 can we deprecate and start moving away from the UI colours?

I think our original usage of the UI colours were:

- no neutral light grey
- no light yellow for generic vf-banner
- no good red for warnings

I think the new graduated colour palette resolves all those.

[2021-01-14 15:43] khawkins98 commented on #1232
Also, in the revised tokens rather than using the word "green" in the new primary brand colours:

https://github.com/visual-framework/vf-core/blob/a656c25307a78aabd06e678798730a37915f42fe/components/vf-design-tokens/src/core.palette.alias.yml#L3-L9

I'll suggest we call these `vf-color--brand--*`

[2021-01-14 15:44] sturobson commented on #1232
Yes! This is part of the reasoning behind asking Cindi to create a larger set of tint / shade stacks.

We can then remove any `set-ui-color()`, `ui-color()`, or `var(--vf-ui-color--nn)` and replace with the appropriate versions from the larger colour palette as needed.

[2021-01-14 15:46] khawkins98 commented on #1232
Another thought: we add tokens for:

- vf-color--button--
- vf-color--link--
- vf-color--error--

[2021-01-14 15:49] sturobson commented on #1232
I think we're moving more towards an additional level of abstraction on all things:

global:
`vf-color--blue`

alias:
`vf-color--button`
`vf-color--button--secondary`

or something similar.

I think we might have to move off of Theo and towards Style Dictionary.

This can give us better benefits in a stricter naming convention of things because we could follow:

https://amzn.github.io/style-dictio

[2021-01-14 15:49] cindyebi commented on #1232
Sounds good, let's call it "Brand" instead of "Green" then.

[2021-01-20 06:57] khawkins98 opened #1332 "LRO: COMPONENT, DOCUMENTATION: loaders - Design"
Yesterday [on Slack](https://visual-framework.slack.com/archives/CPER1L6Q4/p1611040727012800) loaders came up.

@nitinja

@khawkins98

@nitinja

We need:

1. Documentation on when to use loaders
2. Some sort of vf-loader or utility code that can help with skeleton content

[2021-01-20 07:13] sturobson commented on #1332
1. Where will loaders be used?
2. Will an improved version of the skeleton loader be better instead of some. spinning loader?
3. What do we do when JavaScript fails

I noticed a massive spinning loader on the training home page and I'm unconvinced by it.

[2021-01-21 15:05] #645 closed

[2021-01-28 16:49] filipe-dias opened #1338 "Checkbox to disable the SVG in a link-list easy variant"
Hi @kasprzyk-sz

As you requested, this issue is for adding the ability to not show the V-shaped SVG in the [easy variant of the link list](https://stable.visual-framework.dev/components/vf-link-list/#vf-link-list--easy). Nunjucks code uses `"svg": false,`

Thanks

[2021-01-28 18:32] sturobson commented on #1338
Hi @filipe-dias this needs to be raised [in the `vf-wp` repo](https://github.com/visual-framework/vf-wp/issues/new/choose).

[2021-01-28 18:32] #1338 closed, assigned to nobody

[2021-01-29 16:26] khawkins98 opened #1339 "Component variant: secondary footer"
For big organisations, they usually have a global footer and section-specific footers (about EMBL vs about EMBL's microscopy unit).

In both cases the footers span a section of pages, but the section-specific footer often needs to appear before the global footer.

## Standard questions

- In a few words, what does this component look like?
  Echoes the vf-footer but is,  well, secondary

- In a fe

[2021-01-29 16:28] sturobson commented on #1339
The second image looks like a  3 column `vf-grid` using `vf-links-list--easy` without the SVG.

Do we need to complicate things by adding a variant?

[2021-01-29 17:16] khawkins98 commented on #1339
The services should use a vf-footer, but they can't as, well, two vf-footers don't stack well as containers.

I think there's also a risk in not formalising what a "vf-footer--local" should look like as some services will add a background colour, or use different layout approaches.

I think it might be enough to have "vf-footer--local" supply a fullbleed background and perhaps support for a "vf-fo

[2021-01-29 20:17] khawkins98 commented on #1339
And here's the "local footer" for another forthcoming hamburg-based embl service:

![image](https://user-images.githubusercontent.com/928100/106323239-5e709980-6277-11eb-932d-1930623e5ef5.png)

[2021-01-30 12:17] sturobson commented on #1339
What I think I’m getting at is … we have existing components that look like they do this — I don’t want to be generating any additional CSS unless _truly_ required.

I think we can have the variant here but as a ‘naming hook’ only and rely on existing CSS and class names to get the look and feel.

The other thing that got me here was thinking this would a ‘one off’ requirement, rather than somethi

[2021-01-30 17:05] khawkins98 commented on #1339
To date it's mostly been 1st and 3rd party (EMBL and COVID Portal, for examples). But now we're going to see a wave of "second party" that will be EMBL branded but have distinct sub-identities and organisation.

I'd estimate a local footer would be used in something like 20 to 50 services (eventually). Maybe 10 in the next six months.

Probably worth catching up on this at one of the next calls. M

[2021-01-30 20:31] sturobson commented on #1339
Better get some good guard rails up quick.

aside: This relates to the `site` footer and preventing it from being a dumping station for all the links in the organisation - which it's close to getting to … which is another discussion.

[2021-02-03 05:40] prakashebi opened #1345 "In search form, making the input mandatory turns borders red"
![Screenshot 2021-02-03 at 11 02 28](https://user-images.githubusercontent.com/45974822/106703321-0982a980-6610-11eb-8f16-9165960409ab.png)

It adds the following class to the input element which sets the border color to red even without interacting with the search form.
[code]
Is it the expected behavior or borders should stay in default color until user submits the form without giving any input!

[2021-02-03 08:02] khawkins98 commented on #1345
Hey Prakash,  in this case you have:

[code]

You don't need the `required=""` portion. Without it the native HTML will still turn it red for less 3 or more than 50.

## Empty

![image](https://user-images.githubusercontent.com/928100/106716224-78ef9d80-65fe-11eb-8e7c-c929ae56edfc.png)

## 2 chars (fails)

![image](https://user-images.githubusercontent.com/928100/106716243-7f7e1500-65fe-11eb-82fc-

[2021-02-03 09:09] sturobson commented on #1345
aside: We should document when where to use this -- I think realistically the only place required needs to be is on login forms, everything else could be a barrier. This would be easier if/when we split out the `vf-forms` to show each component separately

[2021-02-03 10:01] khawkins98 opened #1346 "Component: vf-card to button? how?"
There's been recurring feedback from stakeholders that linked vf-card's aren't obvious that they are "interact-able". So they've had links and buttons shoehorned in.

1. Do we agree that they need to be more "obvious" as links?
2. Is there a way we can achieve this without adding additional "click here" elements?
3. If we do need an element, what should we use?

## Default vf-card links

![image](

[2021-02-03 10:03] khawkins98 commented on #1346
Related: Consistency: "read more" links #1287

[2021-02-03 10:10] khawkins98 opened #1347 "Component: form nesting"
I was discussing [on Slack](https://visual-framework.slack.com/archives/C01G2RX3ZV5/p1612167531001400) about the use of indented fieldset forms on the dev training site.

![image](https://user-images.githubusercontent.com/928100/106731571-e8ba5400-660f-11eb-9b1a-23d7d9716679.png)

1. Current [vf-form docs](https://latest.visual-framework.dev/components/vf-form/vf-form__core/) don't offer much in t

[2021-02-03 10:19] sturobson commented on #1347
As mentioned, I think the form documentation needs to be split out so that each component has it's own little Idaho of guidelines, this will help with the fieldsets (I'm guessing the fieldset guidelines will mimic the HTML spec, as there's nothing really more to add)

This makes the design a little 'off centre' I think we need to look at creating a 'facet' that can show/hide this content. From pre

[2021-02-03 11:11] khawkins98 commented on #1347
Driveby thought that `details` + `fieldset` might be a useful combination, a quick look suggests it's valid markup and might fit the use case and without JS.

[2021-02-03 16:27] nikiforosk commented on #1347
Two quick thoughts:

1. Given that we're short of horizontal space, [the Gestalt psychologist](https://www.usertesting.com/blog/gestalt-principles) in me thinks that we should be relying more on proximity (i.e. put things that should be perceived as a group closer together) and typographical hierarchy (to make sure that elements which are at the same level look the same and are distinct from eleme

[2021-02-03 16:34] sturobson commented on #1347
Along with my previous experience of working on complicated search results showing that, after user testing, the idea of show/hide–ing the filters in a left column works (and it's still there, 5 years later) - it's a similar technique that's currently used for filtering results on eBay.

If it goes above - then all filtering for all of EMBL things should go above to keep with a [unified](https://l

[2021-02-03 16:39] sturobson opened #1350 "BUG: layout of design principles 'ingrained' explanation is 'off'."
A quick five minutes in the code and I cannot see why we're getting a single column in the last bit of content -- it probably is some errant HTML element somewhere.

[2021-02-03 16:49] sturobson commented on #1347
… just in case there's some confusion - the filters would be visible on page load, then have the option to hide by the sites visitor. So they can:

- still scroll the page to see all the options
or
- hide a filter (or filters) to bring up what filters are below it.

Definitely don't load the page with all filters hidden., the antithesis of the show more component.

[2021-02-03 16:56] khawkins98 commented on #1202
Dumping some thoughts I've had:

We classify browsers into two categories:

1. Modern and mainstream browsers released within the last 3 years and with more than 5% user base of the VF (Chrome, FF, Safari, Chromium Edge, etc.)
  - For these we actively test and where possible strive to write visual regression testing as possible (*note we do not yet have a tool in place, but are experimenting)
2.

[2021-02-03 16:58] khawkins98 commented on #1350
This bit should be inside the adjacent `div.vf-content`:

https://github.com/visual-framework/vf-core/blob/fee43ea0c9e8ceda402034347c031e3b8ac5343e/tools/vf-component-library/src/site/design-principles/index.njk#L141-L143

[2021-02-03 16:59] khawkins98 commented on #1350
Actually, I think for what you want it shouldn't be nested inside that `section.embl-grid`

[2021-02-03 17:01] khawkins98 commented on #1350
Made a quick PR: https://github.com/visual-framework/vf-core/pull/1351

aside: do we have docs on when to use vf-divider between sections?

I didn't see anything at https://stable.visual-framework.dev/components/vf-divider/

[2021-02-03 19:19] #1350 closed, assigned to sturobson

[2021-02-04 07:11] prakashebi commented on #1345
Hi Ken,

The input in the search form should be required as system can't search if it doesn't know what to search. If we submit a search form without search term the logic breaks.

`minlength` attribute triggers validation only if we enter at least one character, if the input is empty `minlength` doesn't validate at all and in this case we need `required` also.

I will try to make the input mandat

[2021-02-04 09:05] sturobson commented on #1345
I don't think I've ever seen a search input that's been required. Google, Amazon, eBay, Bing etc etc don't require a search term.

[2021-02-04 09:48] prakashebi commented on #1345
Yeah that's true, I am trying to do the same now.
I also haven't seen an input turns invalid only by adding a `required` attribute and without interacting with the form at all.

[2021-02-04 09:51] sturobson commented on #1345
Ah, that would require some JavaScript.

We haven't added that to `vf-core` (yet) as from previous experience in things like this - I've had issues with including vanilla JS in form validation as part of the component breaking when used inside other JS frameworks.

[2021-02-05 15:23] #1202 closed, assigned to khawkins98

[2021-02-05 16:56] khawkins98 opened #1356 "Documentation: clarify usage of include and render for Nunjucks"
We have [a better understanding](https://ebi-comms.slack.com/archives/DBKCMR4E5/p1612535756036400) of when and where to use `include` vs `render` when using Nunjucks templates:

We need to follow that through by updating the component docs to show the data structure and how/when to use `include` vs `render`.

I'll also drop this note about how we might optimise the Nunjucks environment handling: w

[2021-02-06 14:35] sturobson opened #1358 "Bug? When running vf-component-library, vf-core doesn’t reload on changes."
Whilst working my way through the documentation of the components in `vf-component-library` this week. I noticed that `vf-core` doesn’t necessarily rebuild any changes, leading to me having to get `gulp vf-dev` for `vf-core` and `gulp dev` for `vf-component-library` running in two separate tabs.

I know this isn’t a huge issue, but I’d’ve expected it to update any changes in `vf-core` when running

[2021-02-06 14:46] sturobson commented on #1347
A quick note to say we have precedent here with the [job listings](https://www.embl.org/jobs/#group=data-group-1&location-barcelona=0&location-embo=0&location-grenoble=0&location-hamburg=0&location-heidelberg=0&location-hinxton=0&location-rome=0&type-adm=0&type-bio=0&type-com=0&type-dtc=0&type-fac=0&type-gen=0&type-its=0&type-oth=0&type-pos=0&type-pre=0&type-res=0&type-sde=0&type-sss=0&type-tec=0&

[2021-02-06 15:56] khawkins98 commented on #1358
Hrm, this definitely used to work. Could be that it's watching an incorrect path. I'll have a look.

Oh, assume you're referring to updating a `.scss` file.

[2021-02-06 16:12] khawkins98 commented on #1358
Had a quick try on my local and this works for `.scss` and `.njk` templates (didn't try anything else). There's a minor thing that although it says it refreshes the browser, it doesn't and you need to manually refresh the page.

I edited `./vf-core/components/vf-card/vf-card.scss`

Here's my trimmed log for a vf-css update:

[code]
Things that come to mind:

- `yarn install`
- Usual troubleshootin

[2021-02-07 11:23] sturobson commented on #1346
I think it makes sense to integrate what we do with the section header, this would keep things [simple](https://latest.visual-framework.dev/design-principles/#Simple), [ingrained](https://latest.visual-framework.dev/design-principles/#Ingrained), and [unified](https://latest.visual-framework.dev/design-principles/#Unified) within the system.

https://user-images.githubusercontent.com/925197/107145

[2021-02-08 08:42] sturobson commented on #1358
I’ll check after stand-up. But I think it’s when I change something in the .config.yml and/or the README.md - as that’s what I was mainly working on.

[2021-02-08 08:45] khawkins98 commented on #1358
fyi: had a quick try of readme.md and .config.yml and that's working on mine as well.

[2021-02-08 15:53] khawkins98 commented on #1175
Some work was also done on this in #1341

[2021-02-09 17:09] khawkins98 commented on #1287
Based off conversations some guidance we could include in high level dos/donts of the VF at https://latest.visual-framework.dev/guidance/:

Instead of a stand-alone guidance, this could be the anchor of a web-specific style guide (other topics: opening in new windows, email links, and similar)

[2021-02-09 18:44] khawkins98 commented on #1346
There's an issue with EBI gitlab's deployment mirroring, so adding a static snapshot of the latest look for linked cards with images:

![image](https://user-images.githubusercontent.com/928100/107411685-1f600500-6b0f-11eb-8520-dc48f625c82b.png)

![image](https://user-images.githubusercontent.com/928100/107411717-2850d680-6b0f-11eb-82aa-245be4dd8967.png)

[2021-02-16 08:34] gabsie opened #1374 "VF component list - bug in navigation on blockquote"
Hi, Ken and Stu

When on this page, the navigation on the left becomes unclickable.

https://stable.visual-framework.dev/components/vf-blockquote/

Thanks
Gabby

[2021-02-16 08:40] khawkins98 commented on #1374
Looks like the `.vf-blockquote--pullquote::before` is causing weird things.

[2021-02-16 13:25] #1374 closed, assigned to sturobson

[2021-02-17 07:46] #1356 closed, assigned to khawkins98

[2021-02-19 15:44] cindyebi commented on #1229
Hi guys, @sturobson and I discussed the checkbox variants yesterday and I have some comments. The **current** checbox variants are as follows:

Default:
<img width="199" alt="default" src="https://user-images.githubusercontent.com/75834903/108526144-b45dbd80-72c8-11eb-81ad-4b6d979d91c9.png">

Ticked
<img width="211" alt="checked" src="https://user-images.githubusercontent.com/75834903/108526140-b3

[2021-02-19 16:32] gabsie commented on #1229
Hey @cindyebi

I like the blue-filled checkbox, but it might be good to actually see these in action, i.e. in a real form.. in order to have a better view and compare them..  :)

Hope that's not too much trouble
Gabs

[2021-02-19 16:35] cindyebi commented on #1229
Actually this was inspired by the Covid19dataportal page: https://www.covid19dataportal.org/host-sequences?db=human-experiment&size=15&facets=TAXONOMY:9606#search-content
<img width="253" alt="Screenshot 2021-02-19 at 16 33 54" src="https://user-images.githubusercontent.com/75834903/108532969-5af98c80-72d0-11eb-9bc4-a7d6aab490a7.png">

I wonder if @khawkins98 had any thoughts about this

[2021-02-19 16:43] sturobson commented on #1229
as there's a space of white around radio buttons. I've got a branch working looking similar.

![Screenshot 2021-02-19 at 16 41 30](https://user-images.githubusercontent.com/925197/108533961-8761d880-72d1-11eb-94b0-e06a3ed4b996.png)

[2021-02-22 10:14] cindyebi commented on #1229
Looks great, will we have the checkboxes in white fill when hovered too (currently transparent)?

[2021-02-22 16:15] nikiforosk commented on #1229
My two cent on this is (or are?):

1. The gray border of the unselected box may be hard to see (especially in low resolution screens or if the background is grayish too). I experienced this problem myself when I was looking at the new embl jobs pages earlier this year (before I switched to a better external monitor):

![Screenshot 2020-06-03 at 13 24 54](https://user-images.githubusercontent.com/2

[2021-02-22 16:24] sturobson commented on #1229
replies:

I guess the question arises to why is the background a different colour, and where has this been decided from within the VF.

I have no issue with moving away from the grey to either a darker grey or the black. Although it does raise a question as to why the `vf-card` hasn't got a black border etc etc.

I don't get any hover interactions at all here, using Safari.

I think I agreed that

[2021-02-22 16:32] cindyebi commented on #1229
@nikiforosk @sturobson and I discussed these form states this morning and we propose these solutions:
![Screenshot 2021-02-22 at 16 29 16](https://user-images.githubusercontent.com/75834903/108738146-3816e480-752b-11eb-9f87-5f26c3d503b5.png)
![Screenshot 2021-02-22 at 16 29 23](https://user-images.githubusercontent.com/75834903/108738151-38af7b00-752b-11eb-90d4-c14cdebe20fe.png)

I agree we need b

[2021-02-22 16:33] nikiforosk commented on #1229
This is fine but as @sturobson also mentioned also we need a disabled variant.

[2021-02-23 09:49] gabsie commented on #1229
Hi, everyone
Happy with suggestions and how this is progressing. My only comment at this stage is that purely visually the ticked states look smaller than the unticked ones (I know that's some kind of illusion). That's why I wanted to see them in a real form with real content.. so that they don't 'look' inconsistent.

I guess we can have a very short discussion this afternoon. :)
Gabs

[2021-02-24 09:36] sturobson commented on #1229
after yesterdays VF/UX Chat:

https://user-images.githubusercontent.com/925197/108980619-c3a38900-7683-11eb-9250-8a38fe57f661.mov

[2021-02-24 09:37] khawkins98 commented on #1229
Looking good.

[2021-02-24 09:40] gabsie commented on #1229
I really like how these turned out. Is there a way to avoid the slight white on hover of the radio buttons!
Can't wait to use those in my forms soon.
Gabs

[2021-02-24 09:46] sturobson commented on #1229
Hey @gabsie that slight white crinkle around the blue on hover is a rendering issue with Firefox :( looks fine in Chrome and Safari.

[2021-02-24 13:07] sturobson commented on #1229
A few more tweaks to forms that you all might like to comment on:

### Changing the `<select>` element icon
Currently this icon is something taken from the original sketch files. As we're moving to use the Streamline Icons for things. I've updated the icon. After discussion with @cindyebi and @nikiforosk on wether to match the native browser UI (up and down arrows) or something else. We've decided

[2021-02-25 16:32] khawkins98 opened #1395 "Bug: vf-card vertically centres content"
When several vf-card have `vf-card__content` of differing heights, the grid vertically centres.

As seen at https://stable.visual-framework.dev/

![image](https://user-images.githubusercontent.com/928100/109184416-45cca400-778f-11eb-9f49-895676232e72.png)

This is currently the probable solution, but needs testing (lest it introduce its own bugs):

[code]

[2021-02-25 16:47] sturobson commented on #1395
Historically we used `grid` to define the image height (first row in the grid). Now we are doing this with `aspect-ratio` we do not need to do this -- and removing `display: grid` actually gives us the same layout as adding `align-content: start`.

I wonder if we can get by with this by removing `display: grid` completely (which would mean the it defaults to `display: block` from the vendor CSS).

[2021-02-26 10:21] cindyebi commented on #1229
@sturobson I suggest we use this X icon instead to match the outline thickness of the other icons we use. Also downloaded from Streamline icon.

![Screenshot 2021-02-26 at 10 20 21](https://user-images.githubusercontent.com/75834903/109288324-9b02c700-781c-11eb-9c4f-c24da71d609c.png)

![streamline-icon-interface-delete-1@140x140](https://user-images.githubusercontent.com/75834903/109288296-8faf9b8

[2021-02-26 10:24] sturobson commented on #1229
Nice, yeah the thickness of the proposed matches the other icons - so I'll get this into #1390

[2021-02-26 10:31] sturobson opened #1397 "proposal: strip back `vf-box` to more of a layout component."
Now that `vf-card` takes up some of the work that we currently use for `vf-box` I think we can strip back some of the functionality

I propose we can:

- remove any CSS that determines what text can do
- reduces the design variants (not sure on this one - I guess if you want a bordered item, you probably need a `vf-card`.
- remove padding by default and make it an 'additive' thing with `--800` sty

[2021-02-26 11:04] khawkins98 commented on #1397
Liking the sound of this. If i'm following we should also:

- Move vf-box from a "block" to "layout" component type

![image](https://user-images.githubusercontent.com/928100/109292487-bbd21900-782a-11eb-82af-9f20da588f21.png)

[2021-02-26 11:59] sturobson commented on #1397
As we are moving this to more of a layout component I want to include the ability to choose where you want to add the padding.

I think the options could be:

- top
- bottom
- left
- right
- top and bottom
- left and right

We will be using CSS logical properties here so `inline` and `block` as needed (`inline` is left and right, `block` is top and bottom).

The question is how do we want to expos

[2021-02-26 12:06] khawkins98 commented on #1397
so to enable both the yaml would be like:

[code]

or for top right only

[code]
If so, that seems ok

[2021-02-26 12:24] sturobson commented on #1397
hmmm, perhaps we could do

[code]

and get the nunjucks to work it all out.

I was thinking:

[code]

etc, but that's quite verbose for a user to typ.

[2021-03-02 09:36] sturobson commented on #1229
![Screenshot 2021-03-02 at 09 34 21](https://user-images.githubusercontent.com/925197/109628372-969b1e80-7b3a-11eb-8260-ad732f3a2474.png)
![Screenshot 2021-03-02 at 09 35 23](https://user-images.githubusercontent.com/925197/109628466-af0b3900-7b3a-11eb-830f-7d0e872edfee.png)

I've had another look at the 'disabled' versions of the checkbox and the radio button and tidied them up so they meet some

[2021-03-02 10:18] khawkins98 opened #1401 "docs: clarify when we use njk templates in react"
Don't use njk precompiled approach for:

 - when many items would appear on a page (vf-text, vf-table)
 - when an item is interactive (vf-form elements)

 This allows react to remain:

 1. Efficient
 2. Handle state
 3. Do "react magic"

[2021-03-02 10:31] khawkins98 opened #1402 "Feature: create a proof-of-concept native react component"
Take a fairly simple component and turn it into a true React component (jsx is preferable for first attempt).

- example: `vf-button/vf-button.jsx`

Relates to https://github.com/visual-framework/vf-core/issues/1401

[2021-03-02 10:34] khawkins98 commented on #1294
@nitinja to make a proof of concept with Cypress

[2021-03-02 10:40] khawkins98 commented on #1294
We may be able to build visual regression testing off this https://docs.cypress.io/plugins/#visual-testing

[2021-03-02 10:41] khawkins98 commented on #1294
And a GitHub action for Cypress https://github.com/cypress-io/github-action

[2021-03-03 14:57] khawkins98 commented on #1287
Closing this as we now have https://stable.visual-framework.dev/guidance/content-guidelines/#read-more

Extract:

Please reopen if you think we need more guidance, other wise I think we now "only" need to proceed by removing some the extraneous "read more" links on our many pages.

[2021-03-03 14:57] #1287 closed, assigned to nobody

[2021-03-03 15:04] sturobson commented on #1287
👍

I think we still need to review and create guidelines for some microcopy usage though

- use `apply now` for buttons on jobs
- Is `see more jobs` inclusive?
- what text should be used for often used 'read more' style text links
- search / search now / filter -- what/when to use
- fieldset legends for forms
- latest news or latest updates

etc. etc.

[2021-03-03 17:44] nitinja commented on #1402
I am on it!

[2021-03-04 08:30] #1401 closed, assigned to khawkins98

[2021-03-04 15:23] gustavo-salazar opened #1409 "Idea: ship a full VF build to npm with vf-component-rollup"
Hey there,

Not sure if this is the place to ask this, so please redirect me if necessary.

So, we are using the CSS from the `emblstatic` CDN recommended in option 1 of your building page.
I'm wondering if that is available in one of the npm packages? As I would prefer to take it from npm to make it part of our periodical update of dependencies. This will also allow us to include the file in our

[2021-03-04 15:30] sturobson commented on #1409
Hi Gustavo!

Thanks for the question.

Currently this is something not provided in the `vf-core` codebase.

The Sass config files, and each component is available as a separate npm package that you can then 'pick and choose' to what you need in your project.

This should be easier to maintain in the long run.

`vf-core` still has some components that change relatively quickly, so it might be more

[2021-03-04 15:32] khawkins98 commented on #1409
Hrm, interesting idea.

The released CSS is a bit of an artefact of "all the things" but particularly the combination of:

- the VF Sass and JS build processes
- vf-component-rollup (the referenced CSS and JS)

If we did release the compiled CSS to npm:

1. the build process would (also) need to output the CSS and JS into `./components/vf-component-rollup`
2. we would need to match the VF version

[2021-03-04 18:00] gustavo-salazar commented on #1409
Thanks for the info.

I get the point from @sturobson of the benefits of using it from the packages, I tried including the sass files and processing them on our side, but I had multiple issues in the build. So I thought it wasn't worth to put so much time on it, when I can just directly get the CSS. Lazy me 😅
And it works, I'm using it from CDN and using the `vf-` classes and it's looking good. Th

[2021-03-04 18:44] khawkins98 commented on #1409
Thinking on this a bit more, we would also need to ship the various assets (svgs, png, woff, etc) to npm. It will probably be a couple of weeks before we'd be able to look into any features changes for this.

In the meanime, I (and I'm sure Stu, too) would be happy to help getting a local Sass build working.

[2021-03-05 16:01] khawkins98 opened #1412 "Enhancement: vf-content should handle images better"
Currently `vf-content` doesn't do a great job dealing with random images, just showing them at their full width. I bumped into this when writing [today's VF update](https://stable.visual-framework.dev/updates/2021-03-05-component-updates/) and needed to add a vf-figure class as a workaround (which meant I couldn't use markdown for that item)

Example:

https://codepen.io/khawkins98/pen/eYBjaLg?edi

[2021-03-05 16:03] sturobson commented on #1412
Would it be wise to add `height: auto` which matches the original responsive images styles of RWD?

[code]

This might also stop the over reliance of `vf-figure` for images a little - a path we've accidentally gone down.

[2021-03-05 16:04] khawkins98 commented on #1412
Sounds good 👍

[2021-03-05 21:04] sturobson commented on #673
Getting ahead of the game and closing this.

Since moving away from the ‘mortal kombat’ levels of fanciness to a more maintainable and defined set of components there isn’t really (currently) any ‘global’ / ‘local’ theming options to make use of.

[2021-03-05 21:04] #673 closed

[2021-03-05 21:13] khawkins98 commented on #673
Nice.

I won't think too much about all the thought on the global themes that has turned out to be redundant 😭

But it really was a bridge too far given all the fundamentals that then (and still do) need to be done.

[2021-03-05 21:17] khawkins98 commented on #1346
With new arrows and how we note you shouldn't use buttons on cards ("read more" links at #1287), we can close this.

[2021-03-05 21:17] #1346 closed, assigned to nobody

[2021-03-08 15:46] cindyebi commented on #1229
Looks good, though I would suggest keeping the disabled checkbox empty without the tick icon inside to show that it is disabled?

[2021-03-09 10:07] sturobson commented on #1229
updated:

![Screenshot 2021-03-09 at 10 06 45](https://user-images.githubusercontent.com/925197/110454558-4a625800-80bf-11eb-8220-6ddb429f0f59.png)

+ @cindyebi

[2021-03-09 11:37] peter-walter opened #1417 "vf-details component doesn't appear clickable"
Maybe adding the following CSS would help by adding the pointer when hovering over the summary line.
[code]

[2021-03-09 11:51] sturobson commented on #1417
Hi @pwalter-ebi.

I've just checked the spec to see that this the default browser behaviour.

However, as we add the `pointer` for buttons I don't see why we cannot add this to other interactive elements to help guide the site visitor to see that it's 'clickable'.

👍

[2021-03-09 12:41] peter-walter commented on #1417
Useful information: https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/

[2021-03-16 20:54] khawkins98 commented on #953
@sturobson think it's worthwhile to go the route of a `figcaption` with multiple images (which could be the simplest?) or something else?

https://www.w3.org/TR/2011/WD-html5-author-20110809/the-figure-element.html

[code]

[2021-03-17 12:59] #1229 closed, assigned to sturobson

[2021-03-17 12:59] #820 closed, assigned to sturobson

[2021-03-17 16:36] khawkins98 commented on #1395
The fix in #1396 used `align-items: start;` and not `align-content: start;` so this one is still happening.

https://latest.visual-framework.dev/

![image](https://user-images.githubusercontent.com/928100/111503758-56958780-8747-11eb-8633-9dd967affd2b.png)

[2021-03-18 10:25] #1395 closed, assigned to nobody

[2021-03-18 17:30] khawkins98 opened #1428 "Enhancement: support Google Analytics gtag tracking"
Google Analytics is now strongly pushing users to switch from `ga` (analytics.js) to `gtag` (gtag.js). This means many VF sites will start switching.

![image](https://user-images.githubusercontent.com/928100/111670162-d25f0500-8817-11eb-825a-ff0b3c4dbfb5.png)

If you don't want to use gtag you have to read the small print and find the "additional tracking methods." and then read [a mess of techni

[2021-03-23 19:49] sturobson opened #1443 "DOCUMENTATION: Add an accessibility statement"
After the latest VF/UX chat I think we decided on vying for AAA where possible on new components and making sure existing things are A or AA compliant.

We should probably add some form of ‘statement’ to the docs site.

I found this example: https://www.gov.uk/government/publications/sample-accessibility-statement/sample-accessibility-statement-for-a-fictional-public-sector-website

[2021-03-23 20:13] khawkins98 commented on #1443
W3C's WAI has some background and a generator that could be used:

- https://www.w3.org/WAI/planning/statements/
- https://www.w3.org/WAI/planning/statements/generator/#create

There's also a minimal example which may be good place to begin https://www.w3.org/WAI/planning/statements/minimal-example/

Also as discussed, would be good to add an "Accessibility" principle at https://latest.visual-fram

[2021-03-23 21:23] sturobson commented on #1047
With more implementations on `vf-u-fullbleed` I don’t think an actual ‘container’ works here as the cod base is moving towards an ‘additive’ approach with layout - having an ‘fullbleed’ container contradicts it. And _this works_.

Closing

[2021-03-23 21:23] #1047 closed, assigned to sturobson

[2021-03-23 21:26] sturobson commented on #916
Updates to the intro are now live - so I’m closing this.

[2021-03-23 21:26] #916 closed, assigned to sturobson

[2021-03-23 21:30] sturobson commented on #761
We can close this - as I think the current implementation of changelogs matches or improves what is suggested.

[2021-03-23 21:30] #761 closed, assigned to nobody

[2021-03-24 19:50] khawkins98 opened #1448 "CHORE: Add data protection banner to site ... and analytics?"
Occurred to me that it's worth adding the EMBL data protection banner to the VF component library, and now that we're getting more adoption it would be interesting (helpful?) to add analytics tracking, too.

[2021-03-25 10:08] #1231 closed, assigned to nobody

[2021-03-25 10:22] sturobson commented on #1036
Can this be closed @khawkins98 ?

[2021-03-25 10:24] sturobson commented on #1347
With the latest release of `vf-form` things with updates to `vf-fieldset` and documentation of what can/should go where. I'm gonna close this one.

[2021-03-25 10:24] #1347 closed, assigned to nobody

[2021-03-25 10:35] khawkins98 commented on #1036
I think so, in any case if a page has "done it wrong" that's not this issue's fault.

[2021-03-25 10:35] #1036 closed, assigned to sturobson

[2021-03-25 10:37] khawkins98 commented on #905
Is this still an issue? How would a component library differ from usual semantic versioning?

I suppose in our use case of semantic versioning, we mean "technically breaking" and not "visually breaking". Do you know of any examples where this has been written about well?

[2021-03-25 10:39] khawkins98 commented on #824
@nitinja I think this is something you could help us with. Assigning to you and we can chat about it the next sprint.

[2021-03-25 10:41] khawkins98 commented on #1332
Going to add this to the VF-UX consultation.

[2021-03-25 10:46] khawkins98 commented on #1402
In progress at #1416.

[2021-03-25 10:46] #1402 closed, assigned to nitinja

[2021-03-25 10:47] khawkins98 commented on #1358
I think this can be closed ... please reopen if need be.

[2021-03-25 10:47] #1358 closed, assigned to nobody

[2021-03-25 12:15] #1345 closed, assigned to sturobson

[2021-03-25 12:15] sturobson commented on #1448
Yes! I think it might be good to see how usage of the docs site goes over the next couple of months too.

[2021-03-25 15:28] khawkins98 commented on #1115
I think we're in a better shape on this one. Can be closed?

[2021-03-25 15:29] #1448 closed, assigned to khawkins98

[2021-03-25 15:30] #1115 closed, assigned to sturobson

[2021-03-26 06:25] khawkins98 opened #1452 "Bug: vf-content requires non-existant version of vf-form"
Somehow vf-content wound up requiring `@visual-framework/form@^2.0.0` when an alpha of 2.0.0 is the latest.

https://github.com/visual-framework/vf-wp/pull/747/checks?check_run_id=2199452835

[code]

This is causing updates to vf-content to fail.

[2021-03-26 06:27] khawkins98 opened #1453 "Bug: vfMasthead() function failing"
In #1406 we removed the vfMasthead() JS but didn't remove the function call in vfComponentRollup.js

Suggest:

1. We remove the JS call from vfComponetnRollup.js
2. We add a dummy JS function in vf-masthead.js that says "This component has been deprecated"

The current situation is causing JS to error (visible on https://latest.visual-framework.dev/)

[2021-03-26 09:18] #1453 closed, assigned to khawkins98

[2021-03-26 09:26] sturobson commented on #1452
looks like Github doesn't recognise anything after the first 'closes' in a PR. Closing this 'the old way' - by pressing a button.

[2021-03-26 09:26] #1452 closed, assigned to khawkins98

[2021-04-01 11:38] khawkins98 opened #1469 "Bug: Broken Sass imports, variables"
When building the CSS there is missing import and variable. These don't seem to break anything so are mostly annoying.

I can whip up a quick PR for these.

[code]

[2021-04-08 09:24] #1469 closed, assigned to khawkins98

[2021-04-09 10:46] khawkins98 commented on #1443
Thinking about an accessibility statement, I wonder if it would be better for this to live as part of the EMBL.org website (much like we do for the privacy statement).

[2021-04-09 12:16] khawkins98 commented on #1443
Leaving this link here: https://latest.visual-framework.dev/guidance/accessibility/

[2021-04-12 06:25] khawkins98 opened #1483 "Component: back-to-top element"
For the redevelopment of the Science in School website, we've had a request for a "back to top" button that could be shown as the user scrolls down a long page of content.

Something like:

![image](https://user-images.githubusercontent.com/928100/114349173-db699a80-9b67-11eb-9897-9496709fc60f.png)

- In a few words, what does this component look like?
  I think this could be two variants,
  1. `v

[2021-04-12 06:30] khawkins98 commented on #1483
@nitinja I think this is a fairly self contained component that should allow you to work through our process; some tips:

- See the [Creating new components](https://latest.visual-framework.dev/guidance/creating-components/) section and https://www.npmjs.com/package/@visual-framework/vf-component-generator
- In addition to helping implement, the "role" here is to also question assumptions by the c

[2021-04-12 10:26] nitinja commented on #1483
@khawkins98  thanks, I am starting on it, will contact you as needed!

[2021-04-13 09:46] nitinja commented on #1483
Hi @khawkins98 ,

The best practices (Nielsen Norman Group's website) says its NOT a good idea to use multiple back to top links per section.

Do you still think we need the inline variant of this component?

[2021-04-13 09:48] nitinja commented on #1483
Hi @khawkins98 Streamline Icons are png-only in free version, which IMO isn't ideal. Do we have a purchased plan for that icons set or any other option for SVG icons?

[2021-04-13 09:55] khawkins98 commented on #1483
Yes, I'll slack you the access.

I think we should still allow for a single fixed back-to-top, and we should note in the readme.md that is should only be used once.

Carrying on with that thought ... do we really need a floating "back to top", could a singular static-position back to top be enough? (like gov.uk has done: https://government-frontend.herokuapp.com/component-guide/back-to-top ) ?

[2021-04-13 11:16] nitinja commented on #1483
I think one drawback of this style would be, user will have to scroll to bottom to use it, it wont be usable if used has not yet reached to bottom on really tall pages.

[2021-04-16 09:11] khawkins98 commented on #395
I think most of these have been implemented or are in the backlog

[2021-04-16 09:11] #395 closed

[2021-04-20 07:30] nitinja commented on #1332
Recently designed loader component for Account-manager project

![loader](https://user-images.githubusercontent.com/3931042/115355554-67b73580-a1d8-11eb-879c-c362e099e21b.gif)

[2021-04-20 14:33] khawkins98 commented on #1175
Also: having a grid that shows component status in code and Figma ... like https://design.gitlab.com/components/status/

![image](https://user-images.githubusercontent.com/928100/115414184-1e75de80-a1f6-11eb-9c6a-122dcb6c0de5.png)

[2021-04-20 15:25] cindyebi commented on #1483
Just a couple of quick mockups I did for this:
1. I think we may want to use the secondary button variant instead of the primary one since it's not a primary call to action and we don't want to use more than 1 primary button on the same page.
2. The second mockup is a button-less approach, using only a link and an icon. I think this style looks cleaner visually though it may not work well as a flo

[2021-04-21 06:36] nitinja commented on #1483
Hi @cindyebi in first variant, do you intend to show arrow pointing upwards, not sure what right arrow indicates.

[2021-04-21 08:04] cindyebi commented on #1483
Hi @nitinja yes, I just updated the arrow to point upward :)

[2021-04-26 14:42] gabsie opened #1505 "Copy to clipboard - for a URL or a long string, etc"
Hi there,

Can we please introduce a way to Copy to clipboard pattern? I suppose we can use either a link 'copy' or a copy to clipboard icon and then a message to show to the user that something has happened -
'Copied to clipboard'

This would be valuable I guess for other services and components, anyone who works with various data-relevant IDs. At the moment this is necessary for a long string -

[2021-04-27 21:18] sandykadam opened #1507 "Display icon for external link/outgoing links"
Are there any plans to implement icon next to links which are external?

![Screenshot 2021-04-27 at 22 17 28](https://user-images.githubusercontent.com/1227241/116314032-7f795580-a7a6-11eb-80e4-83fc7de164c9.png)

[2021-04-28 08:13] stefangutnick commented on #1507
We use this pattern on the COVID-19 portal here, in the cross-references column:

https://www.covid19dataportal.org/sequences?crossReferencesOption=all&db=embl-covid19

In this case, I think it's a useful pattern as you may have spent time filtering/sorting the table and don't want to leave the site. But this is pretty much just assumptions and I have no evidence for this.

Interestingly, it looks

[2021-04-28 14:39] khawkins98 commented on #1505
As always: I'll ask, can we just have a "copy" button instead? I know it will take more space, but it would also be more obvious.

If we do use an icon, which should we @cindyebi ?

![image](https://user-images.githubusercontent.com/928100/116422683-44c3fb80-a840-11eb-8d71-8f57802234ec.png)

Related links:

- https://www.carbondesignsystem.com/components/code-snippet/usage/

[2021-04-28 14:41] khawkins98 commented on #1505
There's also a related thing here, which is some way to show non-disruptive information that "action has been done".

Using a button might simplify this as we can change the label:

- Before copying: "Copy the thing"
- After: "You've copied it!"

![image](https://user-images.githubusercontent.com/928100/116423432-f82cf000-a840-11eb-88b4-0e653a07a247.png)

We want to avoid using a disruptive page a

[2021-04-28 14:44] gabsie commented on #1505
hey Ken

This is a very secondary use, and definitely not a priority thing on this page, doesn't deserve to be made into a button..
I just see this working in the same way as on the carbondesignsystem, small, unobstructive and just for the wranglers who need it..
![Uploading Screenshot 2021-04-28 at 15.43.52.png…]()

[2021-04-29 09:03] khawkins98 opened #1509 "Bug: vf-figure can't use nunjucks include"
The vf-figure.njk template currently cannot use the nunjucks `include` method:

https://github.com/visual-framework/vf-core/blob/68163d4aace6dc925d544e9803562907241d0fd0/components/vf-figure/vf-figure.njk#L5-L10

It needs to be able to accept a context, like in vf-intro:

https://github.com/visual-framework/vf-core/blob/68163d4aace6dc925d544e9803562907241d0fd0/components/vf-intro/vf-intro.njk#L1-L

[2021-04-30 13:17] khawkins98 commented on #1236
I think this has been achieved by @cindyebi and @sturobson work. Closing.

We still need to implement the shades in the tokens (https://github.com/visual-framework/vf-core/blob/develop/components/vf-design-tokens/src/core.palette.alias.yml), but that can be picked up in #1232

[2021-04-30 13:17] #1236 closed, assigned to cindyebi

[2021-04-30 13:23] khawkins98 commented on #727
I suppose this is now redundant with the wider vf-summary refactor?

[2021-04-30 13:28] khawkins98 commented on #607
My 6-month check on this, worth keeping open?

[2021-04-30 13:37] #727 closed, assigned to nobody

[2021-04-30 13:38] sturobson commented on #607
I think it's still worthwhile to look at this -- but not in the current time frame, and adding `$custom-margin-bottom: 0` as needed "works".

[2021-04-30 13:38] #607 closed

[2021-05-06 15:40] khawkins98 commented on #1507
I think we have a pair of questions here:

1. Is it helpful to users to visually distinguish external or outgoing links?
2. If so, is text or an icon better?
3. Bonus: if an icon is best, what do we use? Do we use the same icon for both external and outgoing?

Note: I'll add this to the VF-UX consultation agenda.

[2021-05-06 15:48] sandykadam commented on #1507
Yeh icon will be good and should be same for external or outgoing. @khawkins98 I'm curious to see what you mean by text?

[2021-05-06 15:58] khawkins98 commented on #1507
I can't remember where. But there was a group that evaluated the external icons and found they were poor and suggested something along the lines of: "Don't use an icon, and if you _really_ need to indicate an external or new window link it's best to use parentheticals"

Like:

- [I'm a link](#) (opens in a new tab)

[2021-05-06 16:01] stefangutnick commented on #1507
@khawkins98

This is the article from Gov.uk that Niki shared earlier, which advocates for abandoning icons.

https://designnotes.blog.gov.uk/2016/11/28/removing-the-external-link-icon-from-gov-uk/

I largely agree with the reasoning - the icons don't seem to be universally understood and don't necessarily add any value to users

[2021-05-11 05:15] nitinja opened #1518 "Bug: Terms banner does not always stay on top"
![image](https://user-images.githubusercontent.com/3931042/117762010-f6eac280-b245-11eb-8f35-215bcf0f8fcc.png)

[2021-05-11 17:50] khawkins98 commented on #1507
Hey @sandykadam. We caught up about this at the VF-UX consultation today, here is the collective thinking: The UX research and thinking is dubious about the need and helpfulness of these icons.

As such we don't think we'll implement this from a core VF perspective. However, if there's a spot where they really do seem needed, please do flag it and we can revisit the discussion.

[2021-05-11 17:51] sandykadam commented on #1507
Cool thanks for the update 👍

[2021-05-14 08:18] khawkins98 commented on #1409
Relates to #1250

[2021-05-14 08:29] khawkins98 commented on #1507
Closing this one, we can reopen/revisit as needed.

[2021-05-17 14:04] nitinja opened #1523 "vf-card nunjucks template contains a potential error"
![image](https://user-images.githubusercontent.com/3931042/118501950-dbe8e880-b746-11eb-8eec-dd8f657353ed.png)

This template takes variable `modifiers` from content but uses as `modifier`

[2021-05-17 15:33] khawkins98 opened #1524 "Pattern: add a no-js error page example"
With @nitinja's conversion of the Jobs page to React (and the abundance of Angular, React and other JS-required sites) it would be good to add

- [x] a standardised "You need JS to use this site" message/template/pattern
     - https://stable.visual-framework.dev/patterns/error-pages/
- [x] guidance on how to help users around the absence of JS
     - https://stable.visual-framework.dev/guidance/

[2021-05-17 15:34] khawkins98 commented on #1523
Thanks for the bug report, up for making a simple PR for this one?

[2021-05-17 15:43] sturobson commented on #1524
I think first it would be better to evaluate if what you're creating, the content, and the expected user experience is better served by code that is run on the client side or the server side.

[2021-05-17 19:14] khawkins98 commented on #1524
Draft guidance:

(to be added to https://stable.visual-framework.dev/guidance/javascript/ )

[code]

Draft error page text for https://stable.visual-framework.dev/patterns/error-pages/

[code]

[2021-05-18 04:38] nitinja commented on #1523
sure, will do

[2021-05-18 05:51] nitinja commented on #1524
We might want to add some guidance on when to use JavaScript based app and when to use statically rendered pages.
- If the page has interactive functionality like forms, filters, paginated tables, charts then JavaScript based app in recommended.
- If the pages are informative (read-only, website-like) or have no or very less dynamic functionality then statically generated app in recommended.

[2021-05-18 05:53] nitinja commented on #1524
Unrelated: I think for the hybrid apps (like jobs, which has some interactive pages but lot of static content pages), we might want to consider prerendering where we generate some pages at build time. We can do this in jobs in future for performance purpose.

[2021-05-18 11:11] nikiforosk opened #1525 "VF tree update"
Trying to summarise the discussion on the vf tree so far in order to create an issue:

Best practices to apply to the update of the VF tree (which could be basis for the documentation of this component):

1. Use downward arrow when closed (to open) and upward arrow when open (to close) as recommended by NN: https://www.nngroup.com/articles/accordion-icons/

2. Do not have icons and text labels do

[2021-05-20 06:51] khawkins98 commented on #1524
Addressed in #1526; Clossing

[2021-05-20 06:51] #1524 closed, assigned to khawkins98

[2021-05-20 10:12] khawkins98 opened #1530 "Documentation: don't use variants to show examples"
We currently make use of variants to show things that are not componentised functionality and design but are simply examples of other components....

- [vf-button--link](https://stable.visual-framework.dev/components/vf-button/#vf-button--link)
- [vf-figure alignments](https://stable.visual-framework.dev/components/vf-figure)
- probably others

We can simplify the developer options and enrich the

[2021-05-23 09:25] khawkins98 commented on #1525
Link to the discussion: https://github.com/visual-framework/vf-core/discussions/1498

[2021-05-24 13:52] #1523 closed, assigned to nitinja

[2021-05-24 13:53] #1518 closed, assigned to nitinja

[2021-05-26 11:34] sturobson opened #1550 "House Keeping -- correct any Sass linting errors."
I noticed that there's a few errors that have popped up - and for some reason my husky isn't picking them up - or it's just letting them fly.

If outstanding PRs are merged before my last day I'll go in and tidy this issue up.

[2021-05-31 09:08] khawkins98 opened #1561 "Component: allow vf-navigation and vf-link-list to be sticky"
The [`vf-navigation`](https://stable.visual-framework.dev/components/vf-navigation/) and [`vf-link-list`](https://stable.visual-framework.dev/components/vf-link-list/) have previously been discussed as benefiting from being able to be sticky to the parent element so that the navigation task remains in focus.

My suggestion is to make a `vf-sticky` mixin that applies the relevant `position: sticky`

[2021-05-31 09:47] #1550 closed, assigned to sturobson

[2021-06-01 10:26] khawkins98 commented on #1232
I believe we've now accomplished this. Closing.

Please reopen if required.

[2021-06-01 10:26] #1232 closed, assigned to cindyebi

[2021-06-01 10:28] khawkins98 commented on #1105
This has been accomplished and/or covered in other issues. Closing.

[2021-06-01 10:28] #1105 closed, assigned to khawkins98

[2021-06-01 10:32] khawkins98 commented on #810
This is a good idea, but not one we'll get to soon. moving to the backlog.

[2021-06-01 10:32] #810 closed, assigned to nobody

[2021-06-01 10:34] khawkins98 commented on #877
Closing this one. We've already made some progress here, and we'll hopefully make more as we become more consistent with integrating the design tokens and design guidance.

[2021-06-01 10:34] #877 closed, assigned to nobody

[2021-06-01 10:38] khawkins98 commented on #875
@cindyebi we recently discussed with Stu about if we should use vf-badge for tags.

Here's an example of use of tags: https://www.embl.org/news/science/artificial-intelligence-makes-great-microscopes-better-than-ever/

![image](https://user-images.githubusercontent.com/928100/120309994-2dac7980-c2d6-11eb-9156-78e3fe888322.png)

My only worry might be that vf-badge would be too visually loud — thou

[2021-06-01 10:38] #895 closed, assigned to sturobson

[2021-06-01 10:39] khawkins98 commented on #896
for vf-navigation and vf-bredcrumbs we've being using the aria role for state. This is is probably a good approach that would encourage aria usage.

Would still need:

- [ ] to be documented
- [ ] convert existing `.is-active` components

[2021-06-01 10:41] #905 closed, assigned to sturobson

[2021-06-01 10:45] khawkins98 commented on #1284
Looking through the components this seems to have been largely accomplished, and where it hasn't it's on components that are in need of other updates (vf-details) and we can remove the custom margins as we refactor.

[2021-06-01 10:45] #1284 closed, assigned to sturobson

[2021-06-01 11:56] khawkins98 commented on #1525
An alpha has been shipped for this https://stable.visual-framework.dev/components/vf-tree/

I'm not fully up to speed on what work still needs to be done. I think the biggest is addressing the split button?

[2021-06-01 11:57] #1507 closed, assigned to nobody

[2021-06-01 12:02] khawkins98 commented on #818
This could integrate with the vf-link-list's [easy](https://stable.visual-framework.dev/components/vf-link-list/#vf-link-list--easy) and [very-easy](https://stable.visual-framework.dev/components/vf-link-list/#vf-link-list--very-easy) variants.

[2021-06-01 13:35] #656 closed

[2021-06-01 13:35] #1230 closed, assigned to nobody

[2021-06-01 14:16] nikiforosk commented on #1525
Prakash added a comment about an issue with the first arrow to the development thread:

https://github.com/visual-framework/vf-core/pull/1534#issuecomment-851988780

Regarding other work to be done, we'd probably want to have a default version without the split button and without links at the top level (although for the Training the latter is necessary and the split button seems to be less of an i

[2021-06-02 17:41] khawkins98 opened #1567 "Bug: vf-back-to-top causes errors when no back to top element"
When `vfBackToTop()` is invoked an error occurs if no element is found.

This is exhibited everywhere, including https://stable.visual-framework.dev/

[code]

In these two sections of code, we need to check if the elements exist:

https://github.com/visual-framework/vf-core/blob/763069b22a02b44f0c1132adfe1c1e9c495bc7a7/components/vf-back-to-top/vf-back-to-top.js#L11

https://github.com/visual-fram

[2021-06-04 08:22] #1412 closed, assigned to nobody

[2021-06-04 08:24] #1417 closed, assigned to nobody

[2021-06-04 10:16] khawkins98 opened #1570 "Component: vf-table-interactive-client-side"
As discussed in a few channel it would be helpful to many users of the VF (but not all users) to have an interactive table option.

This would only work for relatively small data sets, and users like the COVID portal would want to bring their own JS-framework specific solution.

Therefore we do not want to make many concessions to the vf-table to support simple client-side interactivity and JS blo

[2021-06-04 15:56] khawkins98 opened #1572 "Component: ELIXIR banner"
Many EBI services (and potentially EMBL ones) will need a VF 2 implementation of the ELIXIR banner.

Looks like:

![grafik](https://user-images.githubusercontent.com/928100/120829659-f3550d80-c55d-11eb-8df0-f69cfa91098e.png)

Options:

-  data-color: set the background color; options: orange, grey, blue, green, none (black text on white)
-  data-name: set part of the tite (data-name + "is part of

[2021-06-07 12:17] #1567 closed, assigned to nitinja

[2021-06-08 15:23] nikiforosk opened #1580 "Hint text on search box remains when cursor is placed on the box"
The hint text on the search box of the vf-search component remains in place when the cursor is placed on the box. It disappears after you type the first character of the keyword. See e.g. the search box in https://www.embl.org/search/

In other sites such as [gov.uk](https://www.gov.uk/) or even google (if you open a new tab in Chrome) the hint text disappears when the cursor is placed on the box.

[2021-06-10 08:36] cindyebi commented on #1332
Hi guys, I have done some readings on this topic:

https://www.nngroup.com/articles/progress-indicators/
https://www.carbondesignsystem.com/patterns/loading-pattern/

• Spinner animation is recommended for things that are pretty fast to load (2-10 seconds)

• Skeleton loader (as it currently looks like on the covid19data portal) is recommended for data tables and containers

• Progress bar animati

[2021-06-10 11:03] cindyebi commented on #1332
@nitinja I made a mockup from your spinner loader animation above, though we need to adjust the colors a bit because the greys weren't visual framework. I added new color details:

<img width="449" alt="Screenshot 2021-06-10 at 12 02 03" src="https://user-images.githubusercontent.com/75834903/121514226-af418d00-c9e3-11eb-9178-a42363268374.png">

@khawkins98 could we formally add this component int

[2021-06-11 08:39] nikiforosk opened #1582 "Figure caption: use darker text, larger size and normal type (not italics)"
We received the following feedback from the training team:

An example of this is on this page*:
https://wwwdev.ebi.ac.uk/training/online/courses/bioinformatics-terrified/what-makes-a-good-bioinformatics-database/controlled-vocabularies/taxonomy/

The default specification for the `figcaption` text [in 'vf-figure'](https://stable.visual-framework.dev//components/vf-figure/) is 14px, #707372 colour

[2021-06-11 08:57] cindyebi commented on #1582
The rationale for the secondary VF text color in #373A36 is because we want to limit the usage of black text on a white background since high contrast text can cause problems to users who have sensitive eyes:

https://dm-ed.com/info/contrast-sensitivity/

https://uxmovement.com/content/why-you-should-never-use-pure-black-for-text-or-backgrounds/#:~:text=High%20color%20contrast%20is%20useful,safe%2

[2021-06-11 09:33] prakashebi opened #1583 "Images are always left aligned"
Images are aligned left even if we set it to align center in WordPress.

VF applies **margin:0** to figure elements which overrides margins set by WordPress editor.

**VF margins to figure**

[code]

**WordPress margins to figure**

[code]

**It will helpful if the alignment can be set by the editor as per their content requirements.**

Screenshot also attached.

![Screenshot 2021-06-11 at 14 58 1