[2021-06-11 10:07] nikiforosk commented on #1582
I agree with @cindyebi that #373A36 could be better than pure black for the main text but this look like a topic for another discussion.

The issue that I'd like to raise here is that the caption text is suboptimal so would like to recommend the following changes (repeated from above):

- Increase the font size of the caption to 19px (or at least 16px).

- Change the colour of the caption text to

[2021-06-14 07:46] khawkins98 commented on #1583
Background: The reasoning at play here is that the post is wrapped in a `.vf-content` class, so the VF is attempting to apply what it thinks are reasonable defaults.

I don't the default, in this case, is very good.

[Looking to MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure), I think we can improve on `.vf-content figure`

Something like:

[code]

Actions:

- [ ] Trial on v

[2021-06-14 08:38] khawkins98 commented on #1582
We'll need to split the work on integrating the typography colours into a more foundational bit of code. However the major vf-figure issues we can start to address here.

A fairly straightforward fix is to:

- 16px
- no italic
- darker grey (making this the vf secondary text colour once available in code)

Here's what that looks like (not the improved colour contrast)

![image](https://user-images

[2021-06-14 09:45] khawkins98 commented on #1583
#1586 makes all `.vf-content figure` images centred by default.

It does not add anything around WP's position; for that I have two suggestions:

1. You could integrate vf-wp's Gutenberg support, which give the figures the "real" vf-figure left and right classes
2. or, add some local CSS to support the WP alignment

In any case, #1586 will improve the current situation (centering images).

[2021-06-14 09:49] #1572 closed, assigned to khawkins98

[2021-06-14 10:37] khawkins98 opened #1587 "Tokens: bring in functional colours, deprecate theming, grey body text"
With the ongoing design work to the VF by @cindyebi, we're:

- [x] Moving away from theming: https://stable.visual-framework.dev/design-tokens/theming/
- [x] Adding "functional" colours: https://www.figma.com/file/3bkXbDDIFkIH8fMEdbCGvY/Design-Library?node-id=0%3A1
- [ ] Swapping a black `#000` body text for a more accessible off-black

We should:

- [x] Deprecate [theme.palette.alias.yml](https:/

[2021-06-14 10:38] khawkins98 commented on #1582
New issue for the functional colours: https://github.com/visual-framework/vf-core/issues/1587

[2021-06-15 09:52] khawkins98 commented on #1587
Also:

- add some notes on when to use which functional colour
  - solid black to only be used for small text (less than 14px)
- @cindyebi to swap the secondary and primary typography colours

[2021-06-15 10:49] cindyebi opened #1588 "Update Pagination on Search Result pattern"
We recently updated and simplified the [vf-pagination ](https://stable.visual-framework.dev//components/vf-pagination/index.html?q=pagination#vf-pagination--default) component, but could also be reflected on the Search Result page pattern (at the bottom of the page): https://stable.visual-framework.dev//patterns/search-results/index.html?q=search%20result

[2021-06-15 10:51] cindyebi commented on #1587
Done swapping the typography colour labels on Figma @khawkins98

[2021-06-17 08:06] khawkins98 commented on #1332
If you'd like some more elaborate ideas: https://frontend.horse/articles/concentric-circle-spinner/

[2021-06-17 08:54] khawkins98 commented on #1332
Just as a status update @nitinja mentioned he'll have a look at implementing this.

We'll probably make a `vf-indicator-loader` component  with a few variants:

- `vf-indicator-loader--spinner`
- `vf-indicator-loader--skeleton` (placeholder to come later)
- `vf-indicator-loader--progress` (placeholder to come later)

We'll also need someone to take the lead on writing usage documentation.

[2021-06-17 09:51] khawkins98 opened #1592 "Docs: clarify card vs summary usage"
It's not clear how and when to feature content.

Suggested revision of vf-card about:

Suggested revision of vf-summary about:

### Card vs summary

- use `vf-card` to feature a range of different categories (to display event types)
![image](https://user-images.githubusercontent.com/928100/122373527-d78c3700-cf61-11eb-9f48-ccfb48543cc0.png)

- use the `vf-summary` for a list of the same type of co

[2021-06-17 12:47] nitinja opened #1593 "Vf-Breadcrumbs-lookup: entries repeat if the `emblBreadcrumbs()` method is repeatedly called"
This is common in JS frameworks like react. We should probably clear the breadcrumbs dom children before creating it inside `emblBreadcrumbs()` method.

[2021-06-17 13:10] #1593 closed, assigned to nitinja

[2021-06-17 13:25] khawkins98 commented on #1507
Saw this today where gov.uk spells out `(opens in a new tab)`

![image](https://user-images.githubusercontent.com/928100/122405343-424c6b00-cf80-11eb-9223-d66bdda191d8.png)

[2021-06-18 14:48] #1582 closed, assigned to nobody

[2021-06-22 20:22] khawkins98 opened #1604 "Bug: embl breadcrumbs inconsitently link active page"
[vf-breadcrumbs](https://latest.visual-framework.dev/components/vf-breadcrumbs/) correctly does not link the active item:

![image](https://user-images.githubusercontent.com/928100/122993873-1bd76700-d3a8-11eb-9484-bc8687a1e68b.png)

However in some cases [embl-breadcrumbs-lookup](https://latest.visual-framework.dev//components/embl-breadcrumbs-lookup/index.html) links the active item:

![image](h

[2021-06-23 09:09] khawkins98 commented on #1587
Partly addressed (and much conversation) in #1597.

---

Copying some of @nikiforosk comments from Slack here:

---

I caught up with @cindyebi based on the above conversation and others and we have a planned way forward:

1. @cindyebi to pick an "almost black" that is near the gov.uk black (but not the same as to not encroach on their identity) and is also, perhaps, a touch warm like the other em

[2021-06-23 09:56] #1604 closed, assigned to khawkins98

[2021-07-08 10:25] stefangutnick opened #1619 "Box component has low contrast"
[vf-box ](https://stable.visual-framework.dev/components/vf-box/)has low contrast in several of the configurations. Seems due to using black rather than #fff

![Screenshot 2021-07-08 at 10 50 59 am](https://user-images.githubusercontent.com/82038328/124906698-41d34d00-dfdf-11eb-98c6-790cd1cc637d.png)

[2021-07-09 09:01] khawkins98 commented on #1619
Thanks for this. It's a bug after introducing the off-black for text. Fix is pending at https://github.com/visual-framework/vf-core/pull/1620

[2021-07-09 09:38] #1619 closed, assigned to khawkins98

[2021-07-09 10:46] khawkins98 opened #1621 "Navigation: global navigation"
- How can we make best use of the vf-global-navigation?
- Is it's scope hierarchal, lateral or both?
- How might we handle EBI's "black bar"?
    -  Considerations for legacy VF 1.x sites?
- Mobile functionality?

a/c

- [ ] mockups
- [ ] user journeys
- [ ] summary slides for stakeholders
- [ ] action plan

[2021-07-09 10:49] khawkins98 opened #1622 "Navigation: page-to-page"
We currently have a combination of in-context navigation by pairing:

- vf-breadcrumb
- vf-hero
- vf-navigation
- vf-footer

Questions

- How can these be made to scale better for many navigation paths?
- mobile?
- how many breadcrumbs should we show? Can we refine the related concept?
- Is there a place for a "vf-directory"?
- Explain reasons why might mega-menus not be the best choice.
    - [Ov

[2021-07-09 10:57] khawkins98 opened #1623 "Navigation: in-page navigation"
How can we better facilitate linking within pages? Currently the `vf-links-list` does not scale well:

https://www.embl.org/sites/hamburg/
![image](https://user-images.githubusercontent.com/928100/125067240-46b60080-e0b4-11eb-8a59-b015c7049f9e.png)

Vertical and sticky menus may be an option
- https://www.covid19dataportal.org/submit-data
- https://experienceleague.adobe.com/docs/experience-manage

[2021-07-11 14:37] sturobson commented on #1623
Ahoy hoy!

Just popping up to mention that I was planning on integrating `vf-cluster` as part of the 'on this page' navigation so that it doesn't rely on the 3 column grid and makes use of space where available.

Spilios had made use of this somewhere by changing some classes here and there (from a copy/paste snippet I provided).

That would at least - make better use of the space for text nodes t

[2021-07-13 09:35] khawkins98 commented on #1622
@nikiforosk compiled some options and thinking for various page-to-page navigation: https://docs.google.com/document/d/1gzijUSMN9YHB0H1cJSpG96UipsXWwoOF8UzS7unK-DQ/edit?usp=sharing

In my view this shows the limitations of the current components.

[2021-07-14 11:44] prakashebi opened #1628 "An edit link under the EBI footer"
On pulling the EBI header and footer, an edit link is visible underneath. I think that's coming from the WordPress content body etc. but we don't need that in rendered component.

Example page https://dev.trainingcontent.embl.org/cancer-genomics-2021

![Screenshot 2021-07-14 at 17 08 49](https://user-images.githubusercontent.com/45974822/125616395-232aacc4-a11b-4053-b0d3-3ddee254e937.png)
![Screen

[2021-07-15 09:49] khawkins98 commented on #1628
This is part of the contentHub editor tooling, it normally would not be shown (unless activated):

[code]

However the page has some local CSS that is overriding this:

[code]

The above CSS seems quite broad to apply to every vf-link on the page, perhaps you can narrow the scope? Or is it even needed?

[2021-07-21 12:16] khawkins98 commented on #1628
Hi @prakashebi did yo need any further help on this?

I'll close it for now, please feel free to reopen.

[2021-07-21 12:16] #1628 closed, assigned to nobody

[2021-07-22 17:29] khawkins98 commented on #1339
Another one that's popped up on https://www.alphafold.ebi.ac.uk/

![image](https://user-images.githubusercontent.com/928100/126682763-bf09a1e8-5b2e-4487-9dea-067933e3a410.png)

[2021-07-23 11:27] nitinja commented on #1580
It's possible using this code https://stackoverflow.com/a/12250084/741251, should we choose to implement

[2021-07-23 11:29] nitinja commented on #1483
Heads up @khawkins98 @cindyebi I will update the component with the icon suggested by @cindyebi .

[2021-07-23 11:30] nitinja commented on #1483
Heads up @khawkins98 @cindyebi I will update the component with the icon suggested by @cindyebi .

[2021-07-23 11:35] nitinja commented on #1483
I am thinking of it, not committing since we haven't discussed it enough.

[2021-07-29 02:10] nitinja opened #1635 "embl-favicon seems to be broken"
I tried to use version `1.0.2`, it says
![image](https://user-images.githubusercontent.com/3931042/127420670-339990ec-53c8-4f71-b100-f0c2ae548d14.png)

[2021-08-04 11:52] sandykadam opened #1641 "Documentation for creating hero images for new VF2 sites"
As some of the teams started using new VF2 structure using HTML or WordPress sites, they finding it difficult to understand what should be the correct hero banner image size/dimensions. So can we please have some documentation around creation of graphics for hero images. Information like safe area, with text, without text, graphic alignment etc.

https://stable.visual-framework.dev/components/vf-h

[2021-08-25 06:18] ayaka-kms opened #1644 "a vulnerability CVE-2020-28469 is introduced in @visual-framework/vf-core"
Hi, a vulnerability CVE-2020-28469 is introduced in @visual-framework/vf-core via:
●  @visual-framework/vf-core@2.2.31 ➔ gulp-watch@5.0.1 ➔ glob-parent@3.1.0

However, **gulp-watch** is a legacy package, which has not been maintained for about 3 years.
Is it possible to migrate **gulp-watch** to other package to remediate this vulnerability?

I noticed several migration records in other js repo fo

[2021-08-30 12:32] renovate[bot] opened #1647 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/visual-framework/vf-core).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Ra

[2021-09-01 07:19] khawkins98 commented on #1644
Thanks for this, it was an unsued dependency and resolved in #1645.

[2021-09-01 07:19] #1644 closed, assigned to nobody

[2021-09-01 07:26] khawkins98 commented on #1641
Thanks for this issue. We currently have some limited guidance:

However we can expand on this with some further points ... draft text:

[code]

[code]

[2021-09-01 07:27] khawkins98 commented on #1635
Thanks Nitin. This was resolved in 1.0.3 https://stable.visual-framework.dev/components/embl-favicon/

[2021-09-01 07:27] #1635 closed, assigned to nobody

[2021-09-01 10:15] cindyebi commented on #1483
@nitinja @khawkins98 shall we have the button in the secondary variant like the mockup, and use the arrow icon we already have? I don't think this button needs to be in the primary variant and it would clash with the other primary buttons on the page.

Currently live on site:
![Screenshot 2021-09-01 at 11 13 21](https://user-images.githubusercontent.com/75834903/131654064-03646617-762d-4304-a047-5

[2021-09-02 09:20] khawkins98 commented on #1483
@cindyebi I think we should still use the small variant of the button, or are you suggesting we use the bigger button as well?

[2021-09-02 09:56] cindyebi commented on #1483
@khawkins98 yes let's use the small variant for the button, the suggestion above was a screenshot and it appeared to be bigger than the current component's size.

[2021-09-02 10:27] khawkins98 opened #1649 "Refactor: break up the vf-links-list component"
The `vf-links-list` component has some issues to address:

- Some variants still use the old mortal combat naming `--easy` `--very-easy`
- Ongoing user confusion with `vf-list`
- The default `vf-links__list` variant is very rarely used
- Proposed revamps to on-this-page navigation

Proposed actions after discussing with @cindyebi

- deprecate the current vf-links--list
- move `vf-link-list--has-im

[2021-09-06 08:50] nitinja commented on #1483
I just learned the icon part change but no size change.

[2021-09-06 12:37] cindyebi commented on #1483
@nitinja let's use this mockup as a visual guide:

button size: small
variant: secondary
icon size: 1rem (16px)
padding between icon and text: 0.25rem (4px)

![Screenshot 2021-09-06 at 13 33 29](https://user-images.githubusercontent.com/75834903/132218304-314d49c1-7a13-42c9-81dd-93dae6b68ca6.png)

[2021-09-07 13:58] khawkins98 commented on #1623
👋  hey Stu!

[2021-09-07 14:00] khawkins98 commented on #1623
We're testing a prototype evolution of the on-this-page navigation (perhaps to become `vf-navigation--on-page` as `vf-links-list` is probable to be deprecated #1649).

![image](https://user-images.githubusercontent.com/928100/132357685-0b660400-84c1-4bcf-aac8-b659f98f7370.png)

https://www.embl.org/directory/

Stylistically this has some concerns due to the potential confusion with `vf-tabs` howev

[2021-09-09 10:40] nikiforosk opened #1657 "Accesibility: vf-card--striped fails contrast test"
This is about contrast between the white subheader and the light green background in the stripped heading:
https://stable.visual-framework.dev/components/vf-card/#vf-card--striped-only-headings

I tried a couple of tools but all of them report that the contrast of 3.77 is not sufficient. It should be at least 4.5:1 for text of this size.

Inspect contrast tool:
![Screenshot 2021-09-06 at 11 24 15]

[2021-09-10 07:04] khawkins98 commented on #1657
👍

Here's that screenshot on how I believe it should (and must) appear:

![image](https://user-images.githubusercontent.com/928100/132813740-6ed3002e-ea6a-4e9a-8c5f-054a4e3d9872.png)

@cindyebi any concerns on this?

[2021-09-10 08:19] nikiforosk commented on #1657
Thanks @khawkins98!

We need to make sure that it passes the WAVE test now. It looks like it does (albeit not for normal text at AAA level) just by testing the colours but it will be good to test the card itself in context too:
https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=007b53

It also looks like this change will push the subtext a bit closer to the main text in the bordere

[2021-09-10 08:28] #1649 closed, assigned to khawkins98

[2021-09-10 09:23] cindyebi commented on #1657
Thank you @khawkins98 it seems like it's more of an implementation issue rather than contrast issue. I believe it is in accordance with the AA standard, and as we discussed in one of the VF Clinic awhile ago, we are not going to accommodate the AAA standard at the moment but possibly in the future.

[2021-09-10 09:33] khawkins98 commented on #1657
@cindyebi the current implementation fails the AA standard. maybe easiest to chat about this at the VF meeting today.

[2021-09-10 09:36] khawkins98 commented on #1657
Adding a side-by-side screenshot

![image](https://user-images.githubusercontent.com/928100/132833740-48ba42a9-ee51-485c-9395-86a46ed01860.png)

[2021-09-10 09:37] khawkins98 commented on #1657
Also worth noting that the subheading is not currently used for most implementations of the card.

[2021-09-12 08:24] khawkins98 opened #1661 "Documentation: vf-text, vf-heading, design token labels should indicate numeric sizing"
Some months back we switched from "t-shirt" sizing in the design tokens and this change was carried through in the css classes of vf-text and vf-heading (as well as figma), however it does not show for the documentation labels.

[vf-text](https://stable.visual-framework.dev/components/vf-text/)

![image](https://user-images.githubusercontent.com/928100/132979387-ea4b7bb9-1ce8-4730-90ae-3bf56caa557

[2021-09-17 16:45] khawkins98 commented on #1505
Just adding this example from github:

![image](https://user-images.githubusercontent.com/928100/133824295-02285b33-0bdd-46c8-8e5c-818fc3327f20.png)

Hover (no tooltip)

![image](https://user-images.githubusercontent.com/928100/133824342-306cdebc-8324-4563-897f-ab0b0df6f0a1.png)

Copied

![image](https://user-images.githubusercontent.com/928100/133824412-1e741544-792c-492c-834b-120c8b471c43.png)

[2021-09-17 16:48] khawkins98 opened #1667 "Chore: deprecate vf-box"
[`vf-box`](https://stable.visual-framework.dev/components/vf-box/) has been eclipsed by functionality in vf-card.

As discussed with @cindyebi we should:

1. Deprecate vf-box
2. In the future perhaps create vf-layout-box, if needed

[2021-09-21 12:34] nikiforosk opened #1673 "Accesibility: vf-summary__date should not be all caps"
This came up in the context of the current Industry redesign sprint but is probably relevant to other projects too.

The stakeholders suggested that vf-summary__date should be presented in sentence case (instead of small caps) and we think that this will probably improve the readability of the dates. Days of the week and months should remain capitalised (e.g. "Monday 03 June", etc).

I noticed tha

[2021-09-22 13:02] cindyebi commented on #1657
I just updated the Figma component variant:

![Screenshot 2021-09-22 at 14 02 35](https://user-images.githubusercontent.com/75834903/134348430-bb09dbe2-aa58-4a16-bb2a-d71cf5960ffe.png)

[2021-09-23 09:36] cindyebi commented on #1505
Perhaps we could use the same icon-button component we are currently developing for the Bookmark/Favourite component for this? @khawkins98

[2021-09-23 10:07] sandykadam commented on #1673
Can we have some approx delivery date for this, so I can inform the Industry team.

[2021-09-23 10:41] cindyebi commented on #1673
@nikiforosk I need to understand what the actual problem is because it's not very clear. Could you please rephrase the problem so we could think of possible solutions? I think changing it to be not all caps is one solution, but there are other ways to make these accessible: increase the size, change the colour, etc., but we need to understand the actual problem first.

[2021-09-27 13:36] #1657 closed, assigned to nobody

[2021-09-28 14:37] nikiforosk opened #1683 "Accessibility: Hyperlinked section headers don’t count as h2 headings in WAVE tests"
See e.g. “Our COVID-19” response vs “Our achievements” in the new impact page:
https://wave.webaim.org/report#/https://wwwdev.ebi.ac.uk/sample/about/our-impact

This causes “skipped header” alerts when authors add subsections within a hyperlinked section header.

![section-header-no-h2-Screenshot 2021-09-06 at 11 10 55](https://user-images.githubusercontent.com/20280139/135108970-ce36e98b-8a3c-402

[2021-09-29 18:39] khawkins98 commented on #1683
@nikiforosk thank you for making this issue. It should be resolved in #1685

In the following days it will be released to npm and made available to various integrating projects (like the Microsites)

[2021-09-29 18:39] #1683 closed, assigned to nobody

[2021-10-01 05:42] #1667 closed, assigned to khawkins98

[2021-10-01 10:46] cindyebi opened #1687 "Bookmark component's label isn't aligned centre vertically"
@khawkins98 Bookmark component's label isn't aligned centre vertically on Google Chrome:

<img width="482" alt="Screenshot 2021-10-01 at 11 45 39" src="https://user-images.githubusercontent.com/75834903/135607550-8cfb1a0f-3c0f-4831-81d9-de397cb13883.png">

Secondly, it would be great to know how the Inline variant behaves before being clicked (currently there's only the "after" state on the site):

[2021-10-01 15:30] cindyebi opened #1688 "Create a standardise interactive color token"
@khawkins98 As per the last VF Clinic discussion, we want to standardise the interactive color token for all components. Currently we have yellow and different shades of blue as our interactive color(s):

![Screenshot 2021-09-28 at 14 55 01](https://user-images.githubusercontent.com/75834903/135646628-977bb48c-89f0-4a49-a84b-8b657f9061fe.png)

![Screenshot 2021-09-28 at 14 49 13](https://user-imag

[2021-10-06 08:23] khawkins98 commented on #1530
Raising this to high priority as we're getting increasing requests for "how should we use component X to do Y". I'll try to have a look this week.

[2021-10-07 07:03] khawkins98 commented on #1688
Thanks @cindyebi

I'll make this new token and update the components. I'll also make a screen recording of how that is done for @nitinja and any other future persons needing to know about token integration in the VF

[2021-10-07 14:37] khawkins98 commented on #1623
It's been a month and I had a quick look at the metrics.

The "on this page" does draw a number of clicks (about 10%). Most clicked were "About EMBL" "Sites" and "Find", which makes sense as:

- "Research" is already at the top
- "Services" and "Training" are already heavily linked from across EMBL.org

So it does seem that users use it — as for satisfaction I can only say there have been no compl

[2021-10-07 14:41] khawkins98 commented on #1623
(The /directory page itself is the 35th most popular page for EMBL.org)

[2021-10-08 09:20] cindyebi commented on #1623
I have some visual styling suggestions for this coming up next week :)

[2021-10-12 10:28] kasprzyk-sz opened #1694 "Issue with geolocation component when used twice on one page"
The geolocation component is used twice (two sets of tabs) on https://www.embl.org/internal-information/

First case: `vf-tabs` in Quick links section

https://github.com/visual-framework/vf-wp/blob/master/wp-content/themes/vf-wp-intranet/partials/popular-container.php

Second case: `vf-tabs` in Community blog section

https://github.com/visual-framework/vf-wp/blob/master/wp-content/themes/vf-wp-i

[2021-10-12 11:05] khawkins98 commented on #1694
This doesn't occur in FF, but does happen in Chrome (and I suppose other webkit browsers). It's the engine trying to be clever by scrolling to the "clicked" content.

https://github.com/visual-framework/vf-core/blob/558ace3e5cc8dad97c687c5c44f52e2df8b85f91/components/vf-location-nearest/vf-location-nearest.js#L247-L249

There are two possible workarounds that could be tried:

## Easy

`e.preventDe

[2021-10-14 17:35] #1694 closed, assigned to nobody

[2021-10-15 13:33] khawkins98 commented on #1175
Work done on this in #1689

[2021-10-15 13:34] #1530 closed, assigned to khawkins98

[2021-10-15 13:35] #589 closed

[2021-10-22 08:42] kasprzyk-sz opened #1700 "Tabs: add a possibility to link to a particular tab"
Example:

I'd like to link directly to the Password management tab on:

https://www.embl.org/internal-information/it-services/embl-user-accounts-heidelberg/

Each tab has it's unique ID but adding it as an anchor to the URL, opens the first tab anyway.

![Screenshot 2021-10-22 at 10 40 17](https://user-images.githubusercontent.com/54020899/138422720-8fe7cc9e-839d-4560-bfba-c854e11550a6.png)

https

[2021-10-22 08:57] #1688 closed, assigned to khawkins98

[2021-10-22 08:59] khawkins98 commented on #1687
This is an issue with  FF vs Chrome's vertical spacing. We dealt with something similar in vf-section-header:

https://github.com/visual-framework/vf-core/blob/5384ab31a5f48656ee87cdf3353e4d096df3f0f2/components/vf-section-header/vf-section-header.scss#L30

[2021-10-22 09:00] khawkins98 commented on #1623
@cindyebi did you get to spend any time making visuals for this?

Spilios was asking me about it the other day.

[2021-10-22 09:25] khawkins98 commented on #1700
This should be a fairly straightforward bit of JS to look for a `#vf-tabs__section` in the URL on pageload.

[2021-10-22 12:57] cindyebi commented on #1623
@khawkins98 I think visually this in-page navigation component can be made similar to the vf-tabs as they have similar attributes:
<img width="1539" alt="Screenshot 2021-10-22 at 13 51 43" src="https://user-images.githubusercontent.com/75834903/138456788-dce2ae32-d0f1-4e39-b8f6-0bcbb90e647a.png">

[Carbon Design](http://carbon-for-ibm-dotcom.mybluemix.net/patterns/in-page-navigation/) categorises

[2021-10-22 18:36] khawkins98 commented on #1623
The worry/question is: "will making in-page navigation look like tabs confuse users?"

Part of me thinks yes, but part of me thinks "no, tabs and navigation serve similar roles in that they change the page content"

perhaps we need to:

1. Make it
2. Test it

[2021-10-25 16:01] cindyebi commented on #1623
Perhaps to differentiate it from the vf-tabs, we could add the "**On this page**" text label to the left of the navigation menus, listed as one of the component's _mandatory_ attributes. @khawkins98

[2021-10-25 18:24] khawkins98 commented on #1700
Implemented in #1708

https://stable.visual-framework.dev/components/vf-tabs/

[2021-10-25 18:24] #1700 closed, assigned to khawkins98

[2021-10-26 18:32] khawkins98 commented on #1583
Hi @prakashebi I'll close this ticket now.

By the way, vf-wp has resolved its issues on using the latest versions of WP, so you should be able to have a fresh look at using that for its built-in Gutenberg support.

[2021-10-26 18:32] #1583 closed, assigned to nobody

[2021-10-28 09:40] khawkins98 commented on #1303
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-10-28 09:40] #1303 closed, assigned to sturobson

[2021-10-28 09:42] khawkins98 commented on #1294
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-10-28 09:42] #1294 closed, assigned to nitinja

[2021-11-08 11:56] nitinja commented on #1621
Is this the tracking issue for Megamenu? think so.

[2021-11-08 11:58] khawkins98 commented on #1621
Hey @nitinja it  also relates to #1622.

I think it may be best to just make a new issue — I'll do that now and cross-link to this one.

[2021-11-08 12:07] khawkins98 opened #1718 "Component: "super navigation" mega-menu-style component"
In #1621 and #1622 as well as the [VF July sprint](https://docs.google.com/presentation/d/1I8t3A6FId5FmdYpyKD9K-8gtKelcUnwTO6hqsSKnS-o/edit#slide=id.p14), our investigations pointed to the need for a mega-menu-style component.

This component would allow navigation items to be clicked on and insert/show a horizontal container.

## Standard questions

- In a few words, what does this component look

[2021-11-08 12:14] nitinja commented on #1718
Hi, note that till we make any ux prototype, I am following UK gov megamenu as a n example implementation https://www.gov.uk/government/organisations

[2021-11-09 11:46] cindyebi commented on #1718
2-level navigation hierarchy:
![2-level](https://user-images.githubusercontent.com/75834903/140917148-20c9a9c1-58d4-4da2-934f-7fe05a8d914d.png)

3-level navigation hierarchy:
![3-level](https://user-images.githubusercontent.com/75834903/140917754-9f4c63d9-2096-46e8-8bed-d562ab0445df.png)

Search:
![Search](https://user-images.githubusercontent.com/75834903/140917154-7dee6726-9e91-4a14-b61d-35d89f0

[2021-11-09 11:53] khawkins98 commented on #1718
I'm thinking about that green line, which also exists similarly on the top of vf-footer. Thinking it could be componentised as a `vf-divider--enclosure` or something like that.

<img width="1768" alt="image" src="https://user-images.githubusercontent.com/928100/140919335-1854da1a-83a5-4a3a-ab2d-cf10bbab5c9a.png">

[2021-11-09 11:56] khawkins98 commented on #1718
Technical thoughts on the caret in the navigation, this could be appended by CSS with something like:

`.vf-megamenu.vf-megamenu__activated .vf-navigation__link.vf-megamenu__item--has-section`

[2021-11-09 11:59] khawkins98 commented on #1718
The menu entries could be `.vf-mega-menu__toggle`

<img width="188" alt="image" src="https://user-images.githubusercontent.com/928100/140920377-6c5ced3d-dd3b-4483-b56e-a07104f16e6f.png">

And the megamenu that activates could be `.vf-mega-menu__section`

[2021-11-09 12:16] nitinja commented on #1718
@khawkins98 thanks, I am thinking something similar

[2021-11-11 11:05] cindyebi commented on #1718
I added an overlay so when the mega menu is active, it is in focus. Unless the mega menu is covering up the entire page, we don't need the overlay.

![3-level](https://user-images.githubusercontent.com/75834903/141287589-96c31df8-76c9-4824-bd9f-77ed6da4b224.png)

![Search](https://user-images.githubusercontent.com/75834903/141287593-3b5487cc-c946-4f3f-947a-8463370fb9ac.png)

![2-level](https://use

[2021-11-11 15:08] cindyebi commented on #1718
Mockup on how it looks like on the COVID-19 data portal:
![3-level-covid19](https://user-images.githubusercontent.com/75834903/141321228-7c724b4e-de4d-4c6f-8a18-87db5c24db0c.png)

[2021-11-11 16:37] OliveiraCs commented on #1718
Mockups EMBL-EBI Corporate site:
IA to be reviewed( in progress)

![EMBL-EBI_megm-v2 3-level](https://user-images.githubusercontent.com/93318924/141334816-dcb3e67c-70c1-4ff3-9e17-f39fad5e1643.png)
![EMBL-EB_megm_3-level](https://user-images.githubusercontent.com/93318924/141334824-a943662d-5ef2-4296-a645-ad7c838d6ba0.png)
![EMBL-EBI_megm-2-level](https://user-images.githubusercontent.com/93318924/

[2021-11-17 14:32] cindyebi commented on #1718
Mobile version:
• Homepage: instead of using a hamburger menu, it is recommended to use the label "Menu" for better discoverability. It's also adopted by the [gov.uk](https://www.gov.uk/) site.
<img width="375" alt="Homepage" src="https://user-images.githubusercontent.com/75834903/142843250-bb08170b-4aa4-46bb-9563-c9027a74a4ab.png">

• Search is separate from the main Menu and once expanded uses t

[2021-11-26 13:10] #1623 closed, assigned to nobody

[2021-11-26 13:10] #1622 closed, assigned to nobody

[2021-11-26 13:11] #1621 closed, assigned to nobody

[2021-11-26 13:12] khawkins98 commented on #1250
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:12] #1250 closed, assigned to nobody

[2021-11-26 13:17] khawkins98 commented on #1409
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:17] #1409 closed, assigned to nobody

[2021-11-26 13:18] khawkins98 commented on #878
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:18] #878 closed, assigned to khawkins98

[2021-11-26 13:19] khawkins98 commented on #824
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:19] #824 closed, assigned to nitinja

[2021-11-26 13:20] khawkins98 commented on #891
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:20] #891 closed, assigned to khawkins98

[2021-11-26 13:20] khawkins98 commented on #751
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:20] #751 closed, assigned to khawkins98

[2021-11-26 13:21] khawkins98 commented on #662
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:21] #662 closed

[2021-11-26 13:22] #685 closed

[2021-11-26 13:23] khawkins98 commented on #953
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:23] #953 closed, assigned to sturobson

[2021-11-26 13:24] khawkins98 commented on #721
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:24] #721 closed, assigned to khawkins98

[2021-11-26 13:25] #734 closed, assigned to nobody

[2021-11-26 13:25] khawkins98 commented on #773
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:25] #773 closed, assigned to khawkins98

[2021-11-26 13:26] khawkins98 commented on #896
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:26] #896 closed, assigned to khawkins98

[2021-11-26 13:26] #1167 closed, assigned to sturobson, cindyebi

[2021-11-26 13:27] khawkins98 commented on #936
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:27] #936 closed, assigned to khawkins98, filipe-dias

[2021-11-26 13:27] khawkins98 commented on #1570
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:27] #1570 closed, assigned to nobody

[2021-11-26 13:29] khawkins98 commented on #1397
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:29] #1397 closed, assigned to sturobson

[2021-11-26 13:30] khawkins98 commented on #1281
I believe most of this has been done.

It would still be good to move to PlopJS at some point ...

[2021-11-26 13:30] #1281 closed, assigned to nobody

[2021-11-26 13:30] #1443 closed, assigned to sturobson

[2021-11-26 13:30] khawkins98 commented on #818
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:30] #818 closed, assigned to khawkins98

[2021-11-26 13:33] #1718 closed, assigned to nitinja, cindyebi

[2021-11-26 13:33] #1587 closed, assigned to khawkins98, cindyebi

[2021-11-26 13:33] #1561 closed, assigned to nobody

[2021-11-26 13:34] khawkins98 commented on #1277
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-11-26 13:34] #1277 closed, assigned to khawkins98

[2021-11-26 16:19] nikiforosk opened #1727 "Inconsistency in h2 font size of WP section headers"
There seems to be an inconsistency on the h2 font size:

A normal h2 on [a wordpress page](https://wwwdev.ebi.ac.uk/sample/about/jobs/tech-careers) is 30px:

![h2-Screenshot 2021-11-26 at 16 02 23](https://user-images.githubusercontent.com/20280139/143608203-c81d9aec-5ef0-40a5-bec4-9d1283cf6dcf.png)

However vf-section-headers within the sidebar of the EMBL grid and VF grid or headers of a (card?)

[2021-11-29 10:19] #1509 closed, assigned to nitinja

[2021-11-30 09:11] khawkins98 commented on #1580
Is there a consensus that:

1. This hiding placeholder text on focus is the best choice?
2. We should implement it?

If so, it should be a fairly easy change.

[2021-11-30 09:49] #1641 closed, assigned to nobody

[2021-11-30 10:55] #1661 closed, assigned to khawkins98

[2021-12-01 10:03] khawkins98 commented on #1727
so all vf-section-headers are 24px and visually treated as "h3"s.

I think making all section headers 30px would be disruptive in the visual hierarchy and probably against the direction stakeholders are pushing.

also just a note that that `<h2>` element plays a different semantic role from Heading 2 visual element -- this is why Stu and I had concerns about tying the "heading 2" design token with

[2021-12-01 10:10] khawkins98 commented on #1727
Also a note: for vf-section-header we've also considered allowing it to be a semantic `h2` or `h3` element

[2021-12-01 11:55] nikiforosk commented on #1727
So vf-section headers are currently treated as h2 semantically but as h3 visually (with 24px font instead of 30px).

I'd recommend against treating them as h3 semantically because this will cause a lot of "skipped header" errors in accessibility tests in pages like this one:
https://wave.webaim.org/report#/https://wwwdev.ebi.ac.uk/sample/about/jobs/meet-our-people

It also feels like that h2 is th

[2021-12-01 12:01] nikiforosk commented on #1727
Also just to remind you that a vf-section-header with a link is still not a h2, at least according to WAVE. An example is the "Recruitment" link in this report:
https://wave.webaim.org/report#/https://wwwdev.ebi.ac.uk/sample/careers

I found this pull request but not sure if this has been resolved: https://github.com/visual-framework/vf-core/pull/1685

Also the report above mentions that the page

[2021-12-02 09:03] khawkins98 commented on #1727
As you can tell this is a pretty broad change, so it would be best until the new product designer joins and came make new reference designs.

This has been solved for some time in vf-core. I suspect the component may need to still be update in vf-wp (editor hub).

[2021-12-02 09:30] nikiforosk commented on #1727
Is @kasprzyk-sz meant to follow up on this or will someone else do it?

[2021-12-02 09:31] nikiforosk commented on #1727
I agree but this means that we'll have to live with these inconsistencies for a while...

[2021-12-06 13:21] #1588 closed, assigned to nobody

[2021-12-06 13:22] #1592 closed, assigned to nobody

[2021-12-06 13:23] #695 closed

[2021-12-06 14:40] #1175 closed, assigned to nobody

[2021-12-06 14:41] #1246 closed, assigned to nobody

[2021-12-06 15:11] #914 closed, assigned to khawkins98

[2021-12-07 11:25] khawkins98 commented on #1673
@nikiforosk @sandykadam is there clarity if we still need this?

If so I can get it ready today/tomorrow.

It would look like:

![image](https://user-images.githubusercontent.com/928100/145020883-a0d7c9e7-5de2-4cd5-a40d-d01a1acb3a04.png)

[2021-12-07 11:28] khawkins98 commented on #1673
@nikiforosk as long as we're on the topic, is there clarity from an accessibility perspective if cardinal or ordinal dates are better; that is:

- `4th September 2021`
- `4 September 2021`

The first example seems odd.

[2021-12-07 11:30] sandykadam commented on #1673
Yeah the main issue was, date display is in capital letters, if we can make it small letter that should be great. Or we can have one extra class to make it caps if there is need on any other projects.

Below is the industry page where this discussion started. Accessible in VPN https://wwwdev.ebi.ac.uk/industry/private/members-area/

![Screenshot 2021-12-07 at 11 29 37](https://user-images.githubus

[2021-12-07 11:33] nikiforosk commented on #1673
I'm not aware of any accessibility-related guidance for this but gov.uk seems to suggest using "4 September" instead of "4th September": https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#dates

[2021-12-07 11:38] nikiforosk commented on #1673
@khawkins98 Also please notice that in the screenshot above the date appears below the title and there is no other additional information to describe the event.

I suspect they'd like to keep that order and simply change the day and month into Sentence case (i.e. "Monday 6 June to Tuesday 7 June 2022").

[2021-12-07 11:39] khawkins98 commented on #1673
Thanks, both, I'll proceed with these as I think they're fairly logical and non-disruptive changes.

PR to follow for review.

[2021-12-07 12:02] #1673 closed, assigned to khawkins98

[2021-12-07 12:33] #1687 closed, assigned to nobody

[2021-12-08 08:15] khawkins98 commented on #1580
@nikiforosk are you still interested in this change? If not, I'll close the issue to make the backlog more concise. You could always reopen in  the future.

[2021-12-08 08:18] khawkins98 commented on #1505
We don't have the capacity to action this, it is being moved to the backlog #446

[2021-12-08 08:18] #1505 closed, assigned to nobody

[2021-12-08 08:54] nikiforosk commented on #1580
I think it will be a small improvement but I understand if there are more urgent things to do at the moment.

[2021-12-09 10:04] #875 closed, assigned to sturobson

[2022-01-27 14:03] kasprzyk-sz opened #1750 "Clickable images in the news feeds"
We've received multiple suggestions from users to make the images in the news feed clickable, especially in the [vf-news-container--featured](https://stable.visual-framework.dev/components/vf-news-container/#vf-news-container--featured) variant.

I remember that this topic was raised at the very beginning of embl.org but I don't know why this hasn't been implemented. Would there be any 'No' for th

[2022-01-27 15:33] nikiforosk commented on #1750
The main reason not to do that from an accessibility perspective is to avoid "redundant link" alerts which are triggered when adjacent links go to the same URL (in that case the link on the image and the title of the article would be the same).

When adjacent links go to the same location this results in additional navigation and repetition for keyboard and screen reader users.

Also images that a

[2022-01-27 15:55] nikiforosk commented on #1750
The news summaries in [the BBC news](https://www.bbc.co.uk/news) are applying this best practice - the image and the text below it are one link:
![bbc-news-iamge-text-link-Screenshot 2022-01-27 at 15 51 23](https://user-images.githubusercontent.com/20280139/151394759-0eef05bd-77b2-4647-a34a-cf7cc98582c0.png)

[2022-01-28 15:30] nitinja opened #1751 "Autogenerated Banners needs GA tracking region"
Banners that are autogenerated using `embl-notifications` component, needs a GA tracking region. Can be made configurable in future updates.

[2022-01-28 21:59] khawkins98 commented on #1750
Hi there! Writing to second @nikiforosk's take that using the vf-card's technique of making the title link cover the clickable area is the better approach.

There will be some gotchas around how to handle other links in the news items, but again you can look to vf-card for an approach.

https://stable.visual-framework.dev/components/vf-card/

![grafik](https://user-images.githubusercontent.com/928

[2022-01-31 18:26] MGS-sails opened #1754 "Make the vf-dropdown component accessible using the tab button"
For accessibility reasons, the vf-dropdown component should work when a user tabs over it and presses the enter button.

[2022-02-01 10:44] nikiforosk commented on #1754
More specifically you should be able to access [vf-dropdown](https://stable.visual-framework.dev/components/vf-dropdown/) by pressing the tab key (like other links and buttons on a page), access the menu options with the arrows and expand it with enter (optionally) as mentioned in [the keyboard testing guide](https://webaim.org/techniques/keyboard/#testing):

![Screenshot 2022-02-01 at 10 36 52](h

[2022-02-08 11:27] spivass81 opened #1755 "Bug: "On this page" vf-navigation"
<img width="1179" alt="Screenshot 2022-02-08 at 12 23 34" src="https://user-images.githubusercontent.com/50863581/152978094-57c0aa14-0af0-4133-b1af-2ea56f117ed3.png">

https://wwwdev.embl.org/limbo/annual-report/#services

The vf-navigation component overlaps the hero and the container components.

We will be using this component for the new annual report page, the dev version of which is going to

[2022-02-09 15:54] nikiforosk opened #1756 "Extend clickable area (link) on vf-dropdown beyond label"
We have used [vf-dropdown](https://stable.visual-framework.dev/components/vf-dropdown/) as a navigation menu for EMBL-EBI training accounts:
![my-account-Screenshot 2022-02-09 at 15 26 14](https://user-images.githubusercontent.com/20280139/153236830-4ebd7e31-2a0e-451e-9384-085a370fc257.png)

A couple of people who tested it had trouble with the fact that only the label is clickable (rather than th

[2022-02-11 12:32] spivass81 opened #1757 "Bug: "On this page" vf-navigation header activates too soon"
Noticed an issue with the "On this page" vf-navigation component, the menu items get activated too early while scrolling.
I am attaching a screen shot below to showcase. @nitinja let me know if it's not clear enough what the issue is.

<img width="1053" alt="Screenshot 2022-02-11 at 13 18 13" src="https://user-images.githubusercontent.com/50863581/153590395-f1050a4b-d304-4c8a-8ced-7b9a2aa387ec.png

[2022-02-11 12:41] sandykadam commented on #1757
@spivass81 Is this page https://www.embl.org/sites/hamburg/#seminars created manually or from Wordpress block, because I think issue is because the "section" tags are not correctly closed. Please find attached screenshot, there are 2 section tag red & blue marked, we can see only one is closing, other one is missing.

![Screenshot 2022-02-11 at 12 38 14](https://user-images.githubusercontent.com/1

[2022-02-14 11:34] nikiforosk opened #1758 "Add focus indicator (outline) on vf-tabs to assist keyboard navigation"
The [vf-tabs component](https://stable.visual-framework.dev/components/vf-tabs/) does not have visual a focus indicator to help people who navigate with the keyboard.

As mentioned in [the keyboard testing guidelines of Webaim](https://webaim.org/techniques/keyboard/#problems):

[The vf-navigation component](https://stable.visual-framework.dev/components/vf-navigation/) shows an outline for the ac

[2022-02-14 11:34] nikiforosk opened #1759 "Add focus indicator on vf-tabs to assist keyboard navigation"
The [vf-tabs component](https://stable.visual-framework.dev/components/vf-tabs/) does not have visual a focus indicator to help people who navigate with the keyboard.

As mentioned in [the keyboard testing guidelines of Webaim](https://webaim.org/techniques/keyboard/#problems):

[The vf-navigation component](https://stable.visual-framework.dev/components/vf-navigation/) shows an outline for the ac

[2022-02-14 11:36] nikiforosk commented on #1759
This is a duplicate of https://github.com/visual-framework/vf-core/issues/1758 so I'm closing it.

[2022-02-14 11:36] #1759 closed, assigned to nobody

[2022-02-14 13:07] nikiforosk opened #1760 "Low contrast error for text of vf-social-links"
WAVE shows low contrast errors for the text that appears behind the icons of [vf-social-links](https://stable.visual-framework.dev/components/vf-social-links/index.html) (this text becomes visible when the styles are turned off):
![social-low-contrast-errors-Screenshot 2022-02-14 at 12 06 57](https://user-images.githubusercontent.com/20280139/153862640-115c1d1d-5cc1-43ae-8270-055a9e11df60.png)

Th

[2022-02-14 13:46] nikiforosk opened #1761 "Focus indicator of arrow on vf-tree is hard to spot"
When I navigate [the vf-tree component](https://stable.visual-framework.dev/components/vf-tree/) with the keyboard, each menu item has an outline as expected:
![vf-tree-selected-menu-Screenshot 2022-02-14 at 13 29 14](https://user-images.githubusercontent.com/20280139/153873935-122b5564-2ab7-40b3-a8de-7c826dcc4c65.png)

However when the arrow next to "What is bioinformatics" is selected the outlin

[2022-02-14 14:34] nikiforosk opened #1762 "Header of vf-hero is h2 instead of h1"
The header of the vf-hero component is h2 instead of h1.

This means that most pages with a vf-hero get a “Missing first level heading” alert.

This is the case for the EBI home page:
https://wave.webaim.org/report#/https://www.ebi.ac.uk/

![missing-h1-Screenshot 2022-01-31 at 13 30 38](https://user-images.githubusercontent.com/20280139/153883111-5245b54d-2f2f-45f8-b027-ceabfb54e538.png)

and the

[2022-04-13 12:29] nitinja commented on #1755
This issue has been fixed now.

[2022-04-13 12:29] #1755 closed, assigned to nobody

[2022-04-13 12:32] nitinja commented on #1762
@nikiforosk
<img width="511" alt="image" src="https://user-images.githubusercontent.com/3931042/163180208-402a1fc0-a2ca-4c91-a5cc-c431bfb025ad.png">

There is also a related issue that subheading appears to be a heading but it's not a heading (it's a paragraph instead). Should we fix this as well?

[2022-04-13 13:28] nikiforosk commented on #1762
This is more of a tagline than a header and sometimes it can be quite long, as in the people's page: https://wave.webaim.org/report#/https://www.ebi.ac.uk/people

I'd leave it like this for now and change the actual header of the hero from h2 to h1.

[2022-04-13 13:49] nitinja commented on #1762
@nikiforosk ok, thanks

[2022-04-25 10:14] #1756 closed, assigned to nitinja

[2022-04-25 10:14] #1762 closed, assigned to nobody

[2022-05-05 13:33] biomadeira opened #1773 "HTML5 datalist (autocomplete in vf-form)"
Add a one sentence summary of what it is you need it to do.
Datalist  (a.k.a combo box) form component specifies a list of pre-defined options for an <input> element while allowing the user to type in new values.

---

Not sure? Confused?

[Chat with us](https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiM

[2022-05-13 10:52] MGS-sails opened #1774 "Change link variant of VF button to be a button element rather than a link"
https://stable.visual-framework.dev/components/vf-button/#variants
the sample HTML given on this page (see link above) uses an anchor tag with the href set to JS void

`<a href="JavaScript:Void(0);" class="vf-button vf-button--link">a link variant</a>`

the problem with this is that, some of our pipelines fail when a proper href is not provided to anchor tags, such as on the academy project

I hav

[2022-05-13 11:02] nitinja commented on #1774
Thanks @MGS-sails some discussion here: https://github.com/visual-framework/vf-core/pull/1540

[2022-05-13 13:43] nikiforosk commented on #1773
Thank you @biomadeira for suggesting this.

@MGS-sails has added an autocomplete feature to the drop-down of [vf-form](https://stable.visual-framework.dev/components/vf-form/) for [the Registration page of the EMBL-EBI Training site](https://www.ebi.ac.uk/training/user/register):
![Screenshot 2022-05-13 at 12 58 00](https://user-images.githubusercontent.com/20280139/168295622-4308e962-38f9-4f66-9f

[2022-05-13 13:50] nikiforosk commented on #1774
From a quick look at [carbon design](https://carbondesignsystem.com/components/button/usage/) that has an equivalent "ghost" button, I see that they also use the button element:

![Screenshot 2022-05-11 at 11 12 54](https://user-images.githubusercontent.com/20280139/168297948-65815d43-5446-44ef-96aa-f1317ea04a03.png)

`<Button kind='ghost'>Button</Button>`

So this proposal makes sense to me.

[2022-05-16 13:53] biomadeira commented on #1773
Hi @nikiforosk!

Thanks for looking into this! Your example is very similar to what I was looking for, with the difference that you could submit your own value if not provided in the list. I don't have an example form from EMBL-EBI for this, but the closest I could find is this https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_datalist
This gives you the browser name as you type, but woul

[2022-05-27 09:07] prakashebi opened #1775 "Navigation element overflow behavior"
When we zoom in a page having Navigation component the text is trimmed from the top of the navigation and this is happening in Google chrome specifically.

In the [navigation](https://stable.visual-framework.dev/components/vf-navigation/) component there is class `vf-cluster` which has **overflow** property set to **hidden**. Removing this property fixes this issue.

[2022-05-27 09:09] prakashebi commented on #1775
Screenshot
![nav-component](https://user-images.githubusercontent.com/45974822/170669097-18a1eda3-e77b-4752-a3f9-88b7a23d88e6.png)

[2022-05-27 09:17] nikiforosk commented on #1775
Note that this is also an accessibility issue as the content on the page should be displayed correctly when people zoom in up to 200%

[2022-06-10 10:33] nitinja opened #1778 "Badge component variant: solid light blue background"
Add a one sentence summary of what it is you need it to do.
We are using a badge variant on EBI website services section, so UX people thought we may want to add it to the variants of [vf-badge](https://stable.visual-framework.dev/components/vf-badge/).

<img width="186" alt="image" src="https://user-images.githubusercontent.com/3931042/173047275-b535b284-959f-4afb-888a-31361f9814dc.png">

---

-

[2022-06-23 15:20] nikiforosk opened #1779 "Update documentation and default option of vf-bookmark"
The documentation of [vf-bookmark](https://stable.visual-framework.dev/components/vf-bookmark/) mentions that the default icon is the star.

But on the training site (where this component has been applied so far), we are using the heart, see:

https://www.ebi.ac.uk/training/events/pride-database-proteomics-data-submission-access-and-visualisation/
and
https://www.ebi.ac.uk/training/online/courses/

[2022-06-28 13:36] nikiforosk opened #1780 "Redundant link on Elixir banner"
The Elixir banner ([vf-banner-elixir](https://stable.visual-framework.dev/components/vf-banner-elixir/)) has a link on the logo as well as the header next to the logo. This causes a "Redundant link" alert.

Adjacent links which go to the same location result in additional navigation and repetition for keyboard and screen reader users.

We can address this by removing the link from the Elixir logo

[2022-06-29 09:00] MGS-sails opened #1781 "Deep links on VF tabs not working"
Clicking on a tab that has a deep link, does not cause the URL to change. i.e, the tab ID does not get added in the URL as suggested in the documentation.
For example on the code below, when you click on the "Section" tab, the url does not get changed to "https://stable.visual-framework.dev/components/vf-tabs/#vf-tabs__section--1"
It just remains as it is
[code]

[2022-07-01 09:47] nikiforosk commented on #1781
@nitinja As you're working on this please keep in mind that opening the deep link in a new tab should also actually open this page on this tab.

This isn't currently working on our workaround for the Training site e.g. in https://www.ebi.ac.uk/training/online/courses/biocuration-collection/#vf-tabs__section--gettingstarted

[2022-07-01 12:29] nikiforosk opened #1782 "Focus indicator (outline) of link on vf-banner is hard to spot"
When a link is selected with the keyboard on vf-banner, the white focus indicator (outline) is hard to spot:

![outline-link-banner-Screenshot 2022-07-01 at 12 49 04](https://user-images.githubusercontent.com/20280139/176890700-fd14b0b5-8a2f-4a8f-bd7a-66508cb4a32d.png)

This is confirmed by the contrast checker - the almost 1:1 ratio between the white outline and the light yellow background (#FFFA

[2022-07-01 12:30] nikiforosk commented on #1758
Also see related issue #1782

[2022-07-04 13:44] nikiforosk commented on #1757
@spivass81 Can you please let me know if this issue has been resolved?

[2022-07-04 13:47] nikiforosk commented on #1580
We haven't observed or received any negative feedback on this issue so I'm closing it.

[2022-07-04 13:47] #1580 closed, assigned to nobody

[2022-07-04 13:55] nikiforosk commented on #1751
@nitinja Can you please explain this in more detail?

Also who will be able to follow up on this?

[2022-07-04 14:00] nitinja commented on #1751
the component "embl-notifications" can be used to insert new banners on page like this one
<img width="1425" alt="image" src="https://user-images.githubusercontent.com/3931042/177169765-f65d26b3-ceb6-43dd-9963-a945791dba66.png">
These inserted banners do not have google analytics tags on them. Those tags are required to precisely target and track clicks on those banners to answer questions like "h

[2022-07-04 14:14] nikiforosk commented on #1751
Thanks @nitinja!

I'm adding a link to the component: https://stable.visual-framework.dev/components/embl-notifications/

@MGS-sails worked on notifications recently so hopefully we will be able to follow up. Please co-ordinate any additional knowledge transfer that might be required.

#1428 is also about GA tracking.

[2022-07-04 15:23] sandykadam commented on #1751
@nikiforosk this is good to have option. This ticket was just to have GA region/label around banner code. Region is nothing but a name under which that event will be tracked and easy to find in GA interface. This change will be common across any project.

By default GA is tracking all links of the pages, so if there is banner and if it has a link it will automatically get tracked in GA.

[2022-07-05 10:42] spivass81 commented on #1757
Hey @nikiforosk, this is still pending, I will try Sandeep's suggestion once I'll get a chance, but I don't think that it will solve the issue (I think I gave it a go a while ago and didn't work).

[2022-07-07 15:29] nikiforosk commented on #1525
Vf-tree has been gone live for over a year now in the online tutorials of the training site. It seems to work well and we haven't had any issues from the Training team, participants in feedback sessions or other feedback by learners.

I mentioned above that it will also be useful to show unvisited links in blue and visited links in purple as we do with [other textual links](https://stable.visual-f

[2022-07-07 15:33] nikiforosk commented on #1525
I mentioned above that it will also be useful to show unvisited links in blue and visited links in purple as we do with [other textual links](https://stable.visual-framework.dev//components/vf-link/index.html). [The Topics in the sidebar of NN](https://user-images.githubusercontent.com/20280139/118002609-b1aabb80-b33f-11eb-9402-4c6f943951ad.png) is an example of that.

However, most other issues m

[2022-07-07 15:33] #1525 closed, assigned to nitinja

[2022-07-07 15:41] nikiforosk commented on #1483
This component has been implemented as alpha: https://stable.visual-framework.dev/components/vf-back-to-top/

My preference would be for a default design more akin to [button as link](https://stable.visual-framework.dev/components/vf-button/#vf-button--link), like the one used by the GDS:
<img width="176" alt="back-to-top-gds-Screenshot 2021-04-19 at 10 54 09" src="https://user-images.githubuserco

[2022-07-07 15:41] #1483 closed, assigned to nitinja

[2022-07-08 09:19] nikiforosk commented on #1339
This looks more like an acknowledgement of partnerships. Also, would [the elixir-banner](https://stable.visual-framework.dev/components/vf-banner-elixir/) fall into this category?

I feel that we need to revisit this discussion when we have to work on concrete use case that might require this component so currently I'm keeping its status as "On Hold".

[2022-07-11 14:14] nikiforosk opened #1783 "Review notes from previous releases:"
https://github.com/visual-framework/vf-core/releases

https://stable.visual-framework.dev/updates/

[2022-07-13 10:49] nikiforosk commented on #1781
@nitinja please update this issue for @MrSpockB to follow up.

[2022-07-13 10:50] nikiforosk commented on #1428
@sandykadam to follow up on this.

[2022-07-13 10:52] nikiforosk commented on #1757
@spivass81 Have you had the chance to try Sandeep's solution again?

[2022-07-14 09:21] nikiforosk commented on #1774
As Nitin mentioned, an example of using  button-as-link is "Select all locations" in the sign up form:
https://www.embl.org/jobs/alerts

@nitinja please provide any additional information that we may need to be able to follow up on this.

NB: As discussed in #1779 in the Training site we use a similar component called [#vf-bookmark--inline](https://stable.visual-framework.dev/components/vf-bookmar

[2022-07-18 13:48] spivass81 commented on #1757
Hi @nikiforosk sorry lost track of this because I was getting the notifications to my personal email address, have now added my embl email address instead, I should react more timely from now on.

Regarding this topic, I have closed the the section tag as @sandykadam suggested the issue seems to remain though:

https://www.embl.org/sites/hamburg/

<img width="1101" alt="Screenshot 2022-07-18 at 15

[2022-07-20 09:17] nikiforosk commented on #446
@sandykadam & @MrSpockB please review and identify any actionable tasks.

[2022-07-26 18:52] spivass81 commented on #1757
@sandykadam I have documented two different topics here and I would like to break them to two separate tickets. Could you please let me know to which one of the two issues your fix suggestions refers to?

[2022-08-09 09:37] nikiforosk opened #1784 "Fix for 1771 (make vf-navigation--on-this-page more dynamic, responsive)"
@pacope92 reviewed [the commit](https://github.com/visual-framework/vf-core/commit/be6d68aaf1aaf30a2db62f85e4c9d9198c252879) for #1771 and identified some fixes.

@sandykadam is currently testing these fixes in a couple of scenarios.

We believe that this may also address #1757

[2022-08-10 11:16] geetikamalhotra commented on #1781
@nikiforosk this seems to be working on the training website. Is there a workaround implemented there?
https://www.ebi.ac.uk/training/online/courses/biocuration-collection/#vf-tabs__section--gettingstarted

[2022-08-10 11:22] nikiforosk commented on #1781
Yes, they have applied a workaround on the Training site but this isn't working fully either: If you click on the link below for the second tab (or try to open it in another tab from the actual page) it doesn't point to the right part of the page:
https://www.ebi.ac.uk/training/online/courses/biocuration-collection/#vf-tabs__section--contents

[2022-08-11 08:38] #1783 closed, assigned to nikiforosk

[2022-08-11 12:12] sandykadam commented on #1757
@spivass81 With recent release of navigation @pacope92  have updated the EMBL DEV site and the tab navigation is working fine. Can you please also check and confirm. https://wwwdev.embl.org/sites/barcelona/

If you think it is working we can push to prod.

[2022-08-11 12:59] spivass81 commented on #1757
Hey @sandykadam this is great!!

I tried the sites landing pages, seems to be working great there, both issues flagged in this ticket are fixed.

I have also checked a couple of other pages with this feature, where I still notice some issues:<br>
For example:

embl.org/about/
The "Public engagement and outreach" tab doesn't get activated at all, and also activation of tabs while scrolling is incon

[2022-08-11 13:20] francisco-ebi commented on #1757
Hi @spivass81
For the 1st issue, I noticed it's caused by a duplicated id
![Screenshot 2022-08-11 at 14 13 32](https://user-images.githubusercontent.com/5340971/184142137-2ded40d9-4066-425a-83b4-a809c4f784d0.png)

the second id I have highlighted with red color is causing the issue and if it's updated to `public-engagement-outreach` will solve it.
For the 2nd issue, could you verify the url is: ht

[2022-08-11 14:51] spivass81 commented on #1757
Super, many thanks for your feedback @pacope92 all clear, I will clean the duplicate id from the "About" page, and for the Covid19 page, indeed, it is working fine (I must have confused this with the production page, my apologies).

So, the changes can move to production I guess, I didn't notice anything else and the fixes seem to be working fine!

Many many thanks again guys!!

[2022-08-12 09:25] sandykadam opened #1792 "Improve the process of release and publishing NPM packages"
As part of Sprint 01 release, we noticed some issues in release of VF core based on the guidelines provided in [PUBLISHING.md](https://github.com/visual-framework/vf-core/blob/develop/PUBLISHING.md), this task is to investigate more and find better way to do the VF release.

- [ ] Find a way to simplify the deploy process
- [ ] Add documentation on the new release process

[2022-08-24 08:41] sandykadam opened #1794 "EBI corporate website - new header megamenu"
This implies a major overhaul of our current navigation and transitioning from EMBL-EBI's black bar to a pan-EMBL approach, bridging the gap between embl.org and ebi.ac.uk, as well as serve users better in making sense of EMBL-EBI website's information architecture.

As a visitor on the EMBL-EBI website, I would like to:

Get a clear idea of the areas EMBL-EBI is involved in
Navigate to different

[2022-08-24 08:49] sandykadam opened #1795 "EBI corporate website - footer redesign"
Currently, there are a number of inconsistencies between main navigation and the footer:

language and names used
grouping of categories and the use of "&"
mentioning categories which are not present in the main nav (Industry)

The review of the footer requires coordination with the work done on developing the megamenu and in consultation with colleagues from EMBL where the footer is used very dif

[2022-08-24 09:51] francisco-ebi commented on #1757
This is now deployed to production, closing this ticket

[2022-08-24 09:51] #1757 closed, assigned to francisco-ebi

[2022-08-24 10:06] francisco-ebi commented on #1784
Fix has been deployed to production, closing this.

[2022-08-24 10:06] #1784 closed, assigned to sandykadam, francisco-ebi

[2022-08-25 09:06] nikiforosk commented on #1794
Some additional documentation in relation to this:

Issue #1718 is a preliminary exploration of this topic in November 2021, including [mockups](https://github.com/visual-framework/vf-core/issues/1718#issuecomment-966448670) by Carla.

[Slides from the November 2021 sprint](https://docs.google.com/presentation/d/1API7ZjPHtOqUK_0kVlEcvqJ0YTldFWxn6efD7c8hu_Y/edit#slide=id.gfba7e86ac1_0_112) which in

[2022-08-25 09:22] nikiforosk commented on #1794
Also a note on implementation:

The component is [vf-mega-menu](https://stable.visual-framework.dev/components/vf-mega-menu/) and is currently in Alpha stage.

We use it on the VF site:

![vf-mega-menu-Screenshot 2022-08-25 at 10 19 10](https://user-images.githubusercontent.com/20280139/186627104-b66b7681-3e02-462b-8ee4-94b24c2854f1.png)

`<a class="vf-navigation__link vf-mega-menu__link vf-mega-m

[2022-08-25 12:16] nikiforosk opened #1796 "Update EBI footer"
Update the [EBI footer](https://stable.visual-framework.dev/components/ebi-header-footer/index.html?q=EBI%20footer#ebi-header-footer--footer) to mirror the changes in [ECWR-526](https://www.ebi.ac.uk/panda/jira/browse/ECWR-526):

- Remove "By topic" link
- Rename  "By name (A-Z)" to "Data resources and tools" and link to https://www.ebi.ac.uk/services/data-resources-and-tools
- Add "Data submissio

[2022-08-25 12:23] nikiforosk commented on #1796
We could work on it together with the megamenu #1794 in a VF sprint about issues that have to do with the EBI website.

[2022-08-25 12:37] sandykadam commented on #1796
@nikiforosk I had already created footer ticket in core https://github.com/visual-framework/vf-core/issues/1795. Upto you to keep separate or merge in it.
Rodica wanted to redesign footer completely with more information.

[2022-08-25 12:40] nikiforosk commented on #1796
@sandykadam I'll add your text from #1795 as a comment here and close it:

Currently, there are a number of inconsistencies between main navigation and the footer:

language and names used
grouping of categories and the use of "&"
mentioning categories which are not present in the main nav (Industry)

The review of the footer requires coordination with the work done on developing the megamenu and

[2022-08-25 12:41] nikiforosk commented on #1795
We'll track this in #1796

[2022-08-25 12:41] #1795 closed, assigned to nobody

[2022-08-26 12:58] nikiforosk commented on #1794
Another note that when we design this menu we should try to address various issues with the way [analytics are currently used to track the black bar (Viewing this spreadsheet requires access)](https://docs.google.com/spreadsheets/d/13-PHoMIGqdFfM2eVNYGSNONEIxvXxgpDCRjtEkC6iH0/edit#gid=448319094) as well as [the accessibility errors and alerts on the black bar](https://docs.google.com/presentation/

[2022-09-12 15:46] sandykadam opened #1797 "Update EBI header component"
Originally from https://www.ebi.ac.uk/panda/jira/browse/ECWR-525

**Problem**

Based on UX team feedback on corporate website in header section when we click on search icon we get search field along with "x" link to close popup but that "x" is coming above Search button on black bar.

@nikiforosk I verified training site for why it is working there and found that VF is outdated in training pages a

[2022-09-13 08:22] nikiforosk commented on #1797
I added this to the group of issues about the EBI site in the backlog.

We need to think whether it should be addressed before the mega-menu (see #1794) which will presumably include a search function and will eventually replace the black bar.

[2022-09-27 10:59] nikiforosk commented on #1796
This will also address the "Redundant link" alert on the footer (e.g. on [the EBI homepage](https://wave.webaim.org/report#/https://www.ebi.ac.uk/)):

![Screenshot 2022-09-27 at 11 56 12](https://user-images.githubusercontent.com/20280139/192507890-8e92774c-b95e-467a-a95c-0d812ae64a1d.png)

[2022-09-27 14:28] sandykadam commented on #1796
@nikiforosk this link will anyway get removed once we done with this fix [ECWR-526](https://www.ebi.ac.uk/panda/jira/browse/ECWR-526)

[2022-10-12 12:20] nikiforosk commented on #1754
Add ARIA labels and tab indexing

@pacope92 Add the link to your prototype here

[2022-10-12 12:33] nikiforosk commented on #1428
@sandykadam please update this issue with the latest developments.

[2022-10-12 12:33] sandykadam commented on #1758
@pacope92 add ARIA tags to the tab component take example from vf-navigation component https://stable.visual-framework.dev/assets/vf-navigation/vf-navigation.js

[2022-10-12 12:41] nikiforosk commented on #1782
@nikiforosk to test the contrast between outline and background for other variants.

@pacope92 to prototype some alternatives to the outline when the contrast fails.

[2022-10-12 12:53] nikiforosk commented on #1780
@pacope92 Please remove the link from the Elixir logo and use alt="" instead of "Elixir logo".

[2022-10-12 12:59] nikiforosk commented on #1775
@sandykadam This seems to work on microsites up to 200% zoom in as required. Might be an issue with the implementation of the component in the training site. Sandeep will follow up with Prakash on that.

[2022-10-12 13:09] nikiforosk commented on #1760
A similar thing is happening with the Pagination component e.g. in https://wave.webaim.org/report#/https://www.ebi.ac.uk/services/data-resources-and-tools

@nikiforosk to test this with lighthouse and do a bit of research to understand if it is a real issue.

[2022-10-12 13:17] nikiforosk commented on #1750
@sandykadam to ask Maged to look into this at content hub.

[2022-10-12 15:51] sandykadam commented on #1428
We need to include changes for this request in current sprint and test the component in one of the website, most of the testing is done by Ken and Ossama and so far looks good. Ken has given PR for this change request.

[2022-10-14 14:57] nikiforosk commented on #1796
@sandykadam It looks like that [the EBI footer component](https://stable.visual-framework.dev/components/ebi-header-footer/#ebi-header-footer--footer) has been updated to mirror the changes in [ECWR-526](https://www.ebi.ac.uk/panda/jira/browse/ECWR-526). So I'll close this issue.

[2022-10-14 15:05] #1796 closed, assigned to nobody

[2022-10-14 15:08] sandykadam commented on #1797
This issue will be fixed with my current fix in https://github.com/ebiwd/EBI-Framework/pull/203
Ideally this fix needs to be added in vf-core but right now we focusing on fixing accessibility issues of only EBI corporate site

[2022-10-24 10:37] nikiforosk commented on #1797
I've added this issue to the sprint backlog of Sprint 02 as my understanding is that the fixes for [the EBI header](https://stable.visual-framework.dev/components/ebi-header-footer/#ebi-header-footer--header) will include [the various accessibility issues](https://docs.google.com/presentation/d/13QfRjFJtjRkaXVXrlfKPafrjhLvH7-lNgM7EF02VxMc/edit#slide=id.g14114ca1e7d_0_1579) on the black bar that ar

[2022-10-24 10:50] nikiforosk commented on #1760
A few tools to test this with:

- [ ] Google lighthouse
- [ ] [Color Contrast Accessibility Validator](https://color.a11y.com/?wc3)
- [ ] www.accessibilitychecker.org

[2022-10-24 10:59] nikiforosk commented on #1780
@pacope92 and @kasprzyk-sz will be working together on this.

[2022-11-09 14:40] sandykadam commented on #1775
Hi @nikiforosk

This issue is not reproducible anymore on training website, I verified with @prakashebi.
Also it was referring to the DEV css so we corrected it to point to LIVE css of VF, that could have been issue which could have resolve this.

So we are good to close this ticket.

Thanks

[2022-11-09 15:52] nikiforosk commented on #1775
Thanks I'll close this ticket then and remove it from the backlog.

[2022-11-09 15:52] #1775 closed, assigned to sandykadam

[2022-11-11 12:25] sandykadam commented on #1750
@nikiforosk I checked this on my local and doesn't seem to be that easy as it contradicts with VF core principles of implementation. So we should hold this until we have PD and this also requires changes in  VF core.

I tried to implement what Ken suggested in previous comment, but code wise it looks mixture of summary & card which I think is not the correct way and also the display looks weird.

[2022-11-11 14:55] nikiforosk commented on #1794
I just noticed that EMBL has a rule that [the logo should be left-aligned in digital products](https://www.embl.org/guidelines/design/design-guidelines/logo/#positioning):

We can refer to it to justify future changes of the logo placements at the EBI top navigation bar.

[2022-11-14 09:47] nikiforosk commented on #1797
Includes various changes on black bar on corporate site:

- [ ] Accessibility fixes
- [ ] fixed the [x] button

[2022-11-14 15:02] kasprzyk-sz commented on #1761
Hey @pacope92 I can pick this up if it's ok for you

[2022-11-14 15:57] nikiforosk commented on #1782
@pacope92 I checked the contrast of the focus indicator with the four background colours of [vf-banner](https://stable.visual-framework.dev/components/vf-banner/index.html). I suggest the following:

- [x] Use black (#373A36) outline for yellow, orange and green background (the current white one fails the required 3:1 contrast: see tests below).
- [x] Use black outline for [top variant](https://st

[2022-11-15 09:16] francisco-ebi opened #1802 "Re-enable Netlify previews for Pull Requests"
In the last sprint, whenever we opened a pull request, we had a Netlify bot deploying the changes of that branch so we could preview the updates.

[2022-11-15 14:27] kasprzyk-sz commented on #1781
Hey @nikiforosk I can look into this during our current sprint. Is it ok for you?

[2022-11-15 14:52] nikiforosk commented on #1781
Yes that's fine but might need to talk to Mahfouz for clarifications.

[2022-11-16 09:30] #1802 closed, assigned to francisco-ebi

[2022-11-16 10:15] MGS-sails commented on #1781
Hi @nikiforosk @kasprzyk-sz @pacope92 I will be happy to go on a call to demonstrate this.

[2022-11-16 16:29] francisco-ebi opened #1805 "Use latest changes in latest.visual-framework.dev"
Currently, latest.visual-framework.dev is loading scripts and css from the last release. It should load instead the latest built that comes from develop branch. We need to investigate what is happening so anyone can preview the latest changes.

[2022-11-17 13:25] #1805 closed, assigned to francisco-ebi

[2022-11-17 14:21] #1760 closed, assigned to francisco-ebi, nikiforosk

[2022-11-17 16:05] nikiforosk commented on #1754
@pacope92 I tried this in latest and I can now access the dropdown with the keyboard (which wasn't possible before):

https://latest.visual-framework.dev/components/vf-dropdown/

I can also move through the menu items with the up/down arrow as suggested in the guide above. However, I noticed that the links within the similar menu in gov.uk are accessed via the tab (which is also [how it is on stab

[2022-11-18 09:17] nikiforosk commented on #1780
I see that these changes have been implemented in the example in latest so there is no redundant link error any longer:
https://latest.visual-framework.dev/components/vf-banner-elixir/

[2022-11-18 09:19] nikiforosk commented on #1760
@pacope92 Could you please add a brief explanation of what you changed?

We get a similar alert with the pagination component e.g. in https://wave.webaim.org/report#/https://www.ebi.ac.uk/services/data-resources-and-tools

[2022-11-18 09:27] nikiforosk commented on #1758
@kasprzyk-sz I see the outline in latest: https://latest.visual-framework.dev/components/vf-tabs/

There is a small change in tab behaviour, which we can talk about in the stand-up.

[2022-11-21 09:26] nikiforosk commented on #1781
This seems to be working on latest:

https://latest.visual-framework.dev/components/vf-tabs/#vf-tabs__section--621211

I'll write a small summary of what we fixed and the behaviour of the component on the training site.

[2022-11-21 09:52] sandykadam commented on #1797
This change needs to get approval from WCC so we will not include in current release. On EBI corporate website we have added a hack fix so we can check on wwwdev site.

Actual vf-core fix will look like this.

![Image](https://user-images.githubusercontent.com/1227241/203019769-52d2137f-d071-4d6c-a0d3-2d59a36b5e36.png)

[2022-11-21 09:57] nikiforosk commented on #1428
As we just discussed in the scrum, these changes are now in latest:
https://latest.visual-framework.dev/components/vf-analytics-google/index.html

[2022-11-21 10:14] nikiforosk commented on #1781
A quick update of the status on tabs:

- [x] The URL of tabs in stable didn't update (as Mahfouz originally reported). This has now been fixed in latest (see e.g. https://latest.visual-framework.dev/components/vf-tabs/#vf-tabs__section--1).

- [x] Clicking on a tab link from another page or opening a this link on a new tab seems to work both in stable & in latest (There is a small issue with ["On

[2022-11-21 10:31] nikiforosk commented on #1761
I can see the outline now around the arrow in latest:
https://latest.visual-framework.dev/components/vf-tree/

I noticed that sometimes the outline of a link doesn't always show as a full rectangle. I created a separate issue for this: https://github.com/visual-framework/vf-core/issues/1816

[2022-11-21 10:36] nikiforosk commented on #1782
@pacope92 I can preview the changes on the variants that have links and they are as expected:
https://latest.visual-framework.dev/components/vf-banner/index.html

Can you please add a hyperlink to the Warning (orange) and Danger (red) variant when you have the chance?

[2022-11-21 10:42] francisco-ebi commented on #1760
Hi @nikiforosk, previously we had this hidden text in each link:
<img width="627" alt="Screenshot 2022-11-21 at 09 58 53" src="https://user-images.githubusercontent.com/5340971/203028229-ead3b371-e8f0-4a42-af2f-69be045e392b.png">
This text had a class to make it visible only to screen readers and it had the black default color that clashed with the black background.
To avoid this issue I made the

[2022-11-21 14:36] nikiforosk commented on #1782
Thanks @pacope92 I can see all changes in latest now:
https://stable.visual-framework.dev/components/vf-banner/index.html

[2022-11-21 15:59] nikiforosk commented on #1754
@pacope92 I looked into this a bit more and found the following example:

**[ARIA Example Disclosure Navigation Menu](https://www.w3.org/WAI/ARIA/apg/example-index/disclosure/disclosure-navigation.html#ex_label)**

- Menu opens with Space or Enter (as it is taken to be a button)
- When the menu is open you can use the tab key to move to the links
- You can also use the up/down arrow keys to move t

[2022-11-22 09:28] nikiforosk commented on #1758
@kasprzyk-sz I had a look at [the ARIA documentation of tabs](https://www.w3.org/WAI/ARIA/apg/patterns/tabpanel/#keyboard-interaction-21), and I think that we should be using left/right arrows to navigate from one tab to the next in a tab group.

The tab key should move the focus to the next interactive element (link) within the selected tab (or if there aren't any links in the selected tab, it sh

[2022-11-22 10:17] nikiforosk opened #1816 "Outline of vf-tree not showing as full rectagnle"
I noticed that sometimes the outline of a link in [vf-tree](https://stable.visual-framework.dev/components/vf-tree/) doesn't always show as a full rectangle:

![Screenshot 2022-11-21 at 09 33 58](https://user-images.githubusercontent.com/20280139/203028086-15ae125b-f6c7-47cc-a9c7-6615fd784f46.png)

This seems to happen when a parent  menu is expanded and I move backwards with the keyboard (using S

[2022-11-22 11:49] kasprzyk-sz commented on #1816
A harmless way to fix it would be to increase the `z-index` for the element with the focus.

Pull request: https://github.com/visual-framework/vf-core/pull/1820

[2022-11-22 15:49] nikiforosk commented on #1816
It looks better [on latest now](https://latest.visual-framework.dev/components/vf-tree/), thank you @kasprzyk-sz:

![Screenshot 2022-11-22 at 15 46 31](https://user-images.githubusercontent.com/20280139/203358652-d8f40df6-a21b-4168-905e-cba8b50608fe.png)

[2022-11-22 15:53] nikiforosk commented on #1758
I can see the changes in the tab behaviour in latest, thank you @kasprzyk-sz!

[2022-11-23 14:00] nikiforosk commented on #1754
I can see the changes in latest, thank you @pacope92: https://latest.visual-framework.dev/components/vf-dropdown/

[2022-11-23 15:44] sandykadam commented on #1428
Hi @khawkins98

We were testing GA on Covidportal local and did random tests, we could see the GA event getting logged in console. But on new GA4 dashboard we could not see events there. Can you please let us know if we missing any settings? We added the required custom definitions.

![Screenshot 2022-11-23 at 14 23 24](https://user-images.githubusercontent.com/1227241/203571313-50cc9112-2bc4-492c

[2022-11-23 17:23] khawkins98 commented on #1428
Hey Sandeep. I suspect you've not added the GA4 "custom definitions"; there's a mini guide in the readme:

![grafik](https://user-images.githubusercontent.com/928100/203610247-9ee1d673-b806-4715-a196-1c82dcec65ea.png)

https://latest.visual-framework.dev/components/vf-analytics-google/#usage

[2022-11-23 17:28] khawkins98 commented on #1428
Missed at first that you had added the custom definitions.

I've noticed in GA4 that it takes a lot longer to see the events. If the events are being logged on the 22nd, you won't be able to see them in the reports until the next day (or at least many hours later).

However, if you want to see if GA4 is correctly receiving the events there is a debug view (Configure -> Debug View).

To get this to

[2022-11-24 10:33] sandykadam commented on #1428
Thanks @khawkins98 it is working fine, it is indeed very slow to update. We were able to see in debug & Real time view but  "Events" section still shows their inbuilt events but not the events which we created e.g "UI" or "External links". So wondering is it the way it will work or we still have to wait to have them appear in this section.

![Screenshot 2022-11-24 at 10 31 50](https://user-images.

[2022-11-24 11:50] nikiforosk commented on #1727
This issue came up again in our review of [the accessibility of the EMBL-EBI site](https://docs.google.com/presentation/d/13QfRjFJtjRkaXVXrlfKPafrjhLvH7-lNgM7EF02VxMc/edit#slide=id.gffa5e227f5_1_69) with @sandykadam (see slides 23-24, 32 and 36: viewing the presentation may require access).

We want to follow up on the following points in relation to this issue in subsequent VF sprints:

- [ ] Rev

[2022-11-24 12:26] khawkins98 commented on #1428
That should be working .. judging by @pacope92's  commit, did it turn out that `vfGaIndicateLoaded()` was not being run?

[2022-11-24 13:20] nikiforosk commented on #1754
The changes have now been released: https://stable.visual-framework.dev/components/vf-dropdown/

[2022-11-24 13:20] #1754 closed, assigned to francisco-ebi

[2022-11-24 13:26] nikiforosk commented on #1758
The changes have now been released: https://stable.visual-framework.dev/components/vf-tabs/

[2022-11-24 13:26] #1758 closed, assigned to francisco-ebi, kasprzyk-sz

[2022-11-24 13:29] nikiforosk commented on #1816
The changes have now been released: https://stable.visual-framework.dev/components/vf-tree/

[2022-11-24 13:29] #1816 closed, assigned to kasprzyk-sz

[2022-11-24 13:29] nikiforosk commented on #1761
The changes have now been released: https://stable.visual-framework.dev/components/vf-tree/

[2022-11-24 13:29] #1761 closed, assigned to francisco-ebi, kasprzyk-sz

[2022-11-24 13:31] nikiforosk commented on #1782
The changes have now been released: https://stable.visual-framework.dev/components/vf-banner/

[2022-11-24 13:31] #1782 closed, assigned to francisco-ebi, nikiforosk

[2022-11-24 13:33] nikiforosk commented on #1781
The changes have now been released: https://stable.visual-framework.dev/components/vf-tabs/

[2022-11-24 13:33] #1781 closed, assigned to kasprzyk-sz

[2022-11-24 13:34] nikiforosk commented on #1780
The changes have now been released: https://stable.visual-framework.dev/components/vf-banner-elixir/

[2022-11-24 13:34] #1780 closed, assigned to francisco-ebi, kasprzyk-sz

[2022-11-24 13:36] nikiforosk commented on #1760
These changes have now been released: https://stable.visual-framework.dev/components/vf-social-links/index.html

[2022-11-24 14:14] sandykadam commented on #1428
Yay finally it is showing the events in GA portal.

![Screenshot 2022-11-24 at 14 10 27](https://user-images.githubusercontent.com/1227241/203804740-029dc9fa-a463-4fae-9ff7-5b5a7d4ee196.png)

Also changes these [G4 changes are released now](https://stable.visual-framework.dev/components/vf-analytics-google/), so we can close this ticket now. Will create new tickets if there is any issue reported b

[2022-11-24 14:14] #1428 closed, assigned to sandykadam, francisco-ebi

[2022-11-29 13:41] sandykadam opened #1830 "Add support for regions/ARIA landmark in VF framework"
Currently, our VF is lacking regions that are helpful for accessibility to define the content region and also help screen readers.

We need to add regions like left, right, footer, sidebar, etc based on different content layouts or the ability to add roles.

Please check:
https://webaim.org/techniques/aria/#landmarks

https://www.w3.org/WAI/tutorials/page-structure/regions/

cc: @nikiforosk

[2022-11-29 16:55] nikiforosk opened #1831 "Disabled links in vf-pagination fail contrast checks"
A couple of thoughts following a discussion with @prakashebi about [the contrast issues](https://trello.com/c/ULllvb9o) with the way [vf-pagination](https://stable.visual-framework.dev/components/vf-pagination/) is implemented in the Training site, e.g. in the [on-demand training listing](https://www.ebi.ac.uk/training/on-demand?facets=&page=1&query=):

![vf-pagination-ondemand-p1-Screenshot 2022-